@import '../packages/normalize-css/normalize.css'
@font-face
    font-family: "OfficinaSerifCTTRegular";
    font-style: normal;
    font-weight: normal;
    src: local("☺"), url("./fonts/officinaserifctt.woff") format("woff"), url("./fonts/officinaserifctt.ttf") format("truetype"), url("./fonts/officinaserifctt.svg") format("svg");

@font-face
    font-family: "OfficinaSerifCTTBold";
    font-style: normal;
    font-weight: normal;
    src: local("☺"), url("./fonts/officinaserifcttbold.woff") format("woff"), url("./fonts/officinaserifcttbold.ttf") format("truetype"), url("./fonts/officinaserifcttbold.svg") format("svg");

@font-face
    font-family: "OfficinaSerifCTTBoldItalic";
    font-style: normal;
    font-weight: normal;
    src: local("☺"), url("./fonts/officinaserifcttbolditalic.woff") format("woff"), url("./fonts/officinaserifcttbolditalic.ttf") format("truetype"), url("./fonts/officinaserifcttbolditalic.svg") format("svg");

@font-face
    font-family: "OfficinaSerifCTTItalic";
    font-style: normal;
    font-weight: normal;
    src: local("☺"),
    url("./fonts/officinaserifcttitalic.woff") format("woff"),
    url("./fonts/officinaserifcttitalic.ttf") format("truetype"),
    url("./fonts/officinaserifcttitalic.svg") format("svg");

.wrapper
    overflow hidden
    position relative
    min-height 4000px
    min-width 1024px
    
    .header
        max-width 1024px
        padding 0 50px
        margin 34px auto 0
        position relative
        z-index 1
        
    .content 
        & > .promo1
            z-index 1
            position absolute
            width 2562px
            margin-top -380px
            left 50%
            -moz-transform: translate(-50%,0);
            -ms-transform: translate(-50%,0);
            -webkit-transform: translate(-50%,0);
            -o-transform: translate(-50%,0);
            transform: translate(-50%,0);
            
        & > .promo2
            position absolute
            width 414px
            margin-top 125px
            left 50%
            -moz-transform: translate(-50%,0);
            -ms-transform: translate(-50%,0);
            -webkit-transform: translate(-50%,0);
            -o-transform: translate(-50%,0);
            transform: translate(-50%,0);
        
    .hands
        max-width 1350px
        left 50%
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);        
        min-width 1345px
        width 100%
        height 2000px
        position absolute
        top 0
        
        & > img
            position absolute
                
        .android
            width 550px
            top -94px
            right 209px
            transform-origin center top
            -moz-transform: rotate(-45deg) translate(0,1410px);
            -ms-transform: rotate(-45deg) translate(0,1410px);
            -webkit-transform: rotate(-45deg) translate(0,1410px);
            -o-transform: rotate(-45deg) translate(0,1410px);
            transform: rotate(-45deg) translate(0,1410px);
        .ios
            width 786px
            top 330px
            left -763px
            transform-origin center bottom
            -moz-transform: rotate(45deg) translate(0,1500px);
            -ms-transform: rotate(45deg) translate(0,1500px);
            -webkit-transform: rotate(45deg) translate(0,1500px);
            -o-transform: rotate(45deg) translate(0,1500px);
            transform: rotate(45deg) translate(0,1500px);
            
        &.open > img
            -webkit-transition: all 1.8s cubic-bezier(0,1,1,1);
            transition: all 1.8s cubic-bezier(0,1,1,1);
            
            &.ios
                -moz-transform: rotate(45deg) translate(0,0);
                -ms-transform: rotate(45deg) translate(0,0);
                -webkit-transform: rotate(45deg) translate(0,0);
                -o-transform: rotate(45deg) translate(0,0);
                transform: rotate(45deg) translate(0,0);
            &.android
                -moz-transform: rotate(-45deg) translate(0,0);
                -ms-transform: rotate(-45deg) translate(0,0);
                -webkit-transform: rotate(-45deg) translate(0,0);
                -o-transform: rotate(-45deg) translate(0,0);
                transform: rotate(-45deg) translate(0,0);
    .apps-block
        width 465px
        height 60px
        margin 20px auto 0
        
        img
            width 200px
            border-radius 8px
        
        .ios
            float left
        .android
            float right
    .service-promo
        width 1562px
        height 968px
        position absolute
        left 50%
        -moz-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
        -webkit-transform: translate(-50%,0);
        -o-transform: translate(-50%,0);
        transform: translate(-50%,0);
        background url('/img/wave/pic2.jpg')
        margin-top 25px
        background-size cover
        
        .phone
            height 910px
            width 522px
            position absolute
            left 50%
            -moz-transform: translate(-50%,0);
            -ms-transform: translate(-50%,0);
            -webkit-transform: translate(-50%,0);
            -o-transform: translate(-50%,0);
            transform: translate(-50%,0);
            background url('/img/wave/phone3.png')
            background-size cover
            background-position center 7px
            background-repeat no-repeat
            
            .volna-video
                position absolute
                top 127px
                left 96px

    .quote-wrapp
        width 1024px
        margin 0 auto
        position relative
        z-index 2
        &:after
            content " "
            display block
            clear both
        .quote    
            &.first
                margin-top 116px
            &.second
                margin-top 570px
                float right
            &.third
                margin-top 249px
            &.four
                margin-top 810px
                text-align center
            &.five
                margin-top 1200px
                text-align center
            &.six
                margin-top 485px
                text-align center
                
                p
                    margin-bottom 60px
                
            h1
                font-size 90px
                font-family 'OfficinaSerifCTTRegular', arial
                font-weight normal
                margin 0
                padding 0
                letter-spacing -3.38px
                
                span
                    color #FEDA24
                    
            h2
                font-size 40px
                font-family 'OfficinaSerifCTTRegular', arial
                font-weight normal
                margin  20px 0 0 0
                padding 0
                
                a
                    color #FEDA24
                
            p
                font-size 20px
                font-family arial
                font-weight normal
                margin 29px 0 0 0
                padding 0
                color rgba(0,0,0,0.4)
                
    .footer
        height 300px
        background #141414
        width 100%
        margin-top 250px
        
        .footer-wrapp
            width 950px
            margin 0 auto
            padding-top 44px
            
            & > img
                display block
                
            .logo
                height 96px
                
            .beeline-logo
                margin-top 40px
                
            .cr
                color rgba(255,255,255,0.2)
                font-size 14px
                margin-top 10px

// @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and (     -o-min-device-pixel-ratio: 2/1), only screen and (        min-device-pixel-ratio: 2), only screen and (                min-resolution: 192dpi), only screen and (                min-resolution: 2dppx)