// user notification page

.user-notify-wrapp
  .notify-window
    width 380px
    height 660px
    background #fff
    border-radius 8px
    position absolute
    right 35px
    top 0
    box-shadow 0 10px 80px rgba(0,0,0,0.5)


    .tabs
      width 100%
      height 50px
      background rgba(0,0,0,0.1)
      border-radius 8px 8px 0 0
      overflow hidden

      & > div
        width 50%
        height 50px
        line-height 50px
        font-size 15px
        float left
        text-align center
        font-family 'avenirNextMedium', arial

        &.active
          background #fff

    .content-wrapp
      width 370px
      height 610px

    .user-notify-subs-item
      width 370px
      height 70px
      position relative

      &.new
        &:after
          content " "
          display block
          width 6px
          height 70px
          background #FEDA24
          position absolute
          left 0
          top 0

      .avatar
        height 40px
        float left
        margin 15px 10px 0 20px
        border-radius 40px

      .title
        font-size 15px
        //margin-left 50px
        font-family 'AvenirNextRegular', arial
        margin 0
        padding 15px 0 0 0
        color #999999

        span
          font-family 'avenirNextMedium', arial
          color #000

          &:hover
            text-decoration underline

      .is-subscribe
        width 54px
        height 40px
        float right
        background url("/img/basic/Resources.svg")
        background-size auto 400px
        background-position  -56px -368px
        margin 11px 15px 0 0

        &.true
          background-position -415px 69px
        &.false
          background-position -415px 114px


  .close
    width 30px
    height 30px
    background-image url("/img/basic/Resources.svg")
    background-size auto 400px
    background-position -221px -16px
    transform rotate(45deg)
    position absolute
    right 0
    top 0
    background-color #464646
    border-radius 30px