// video page styles

.video-page
  padding-top 110px
  max-width 1160px
  margin 0 auto

  text-align justify
  /* Обнуляем для родителя*/
  line-height 0
  font-size 1px /* 1px для Opera */

  /* Лекарство для IE6-7*/
  text-justify newspaper
  zoom 1

  @media screen and (max-width: 1200px),(max-height: 800px)
    max-width 1000px

  &:after
    width 100%
    height 0
    visibility hidden
    overflow hidden
    content ''
    display inline-block

  .video-item
    width 560px

    @media screen and (max-width: 1200px),(max-height: 800px)
      width 456px

    display inline-block
    line-height normal
    /* Востанавливаем у потомков, кроме последнего*/
    font-size 15px

    /* Без него в Opera будет отступ под элементами */
    vertical-align top

    /* эмуляция inline-block для IE6-7*/
    //display  inline
    //zoom  1

    .img
      width 560px
      height 320px
      background-size auto 570px
      background-position center

      @media screen and (max-width: 1200px),(max-height: 800px)
        width 456px
        height 260px

    p
      margin 8px 0 27px 0
      overflow ellipsis
      font-family 'AvenirNextMedium', arial