// user album page style

.user-albums-page-wrapp
  box-sizing border-box
  position relative
  padding-top 100px  
  width 1024px
  margin 0 auto

  @media screen and (min-width: 1440px)
    width 1225px

  .list
    width 290px
    top 0
    padding-top 100px
    position fixed
    z-index 3
    &.slow
      transition all 0.3s ease 0s

    &:hover
      cursor pointer

    & > p
      margin 0
      height 60px
      line-height 60px
      font-size 12px
      font-family 'AvenirNextMedium', arial
      padding-left 28px
      color #FEDA24
      text-transform uppercase

    .list-item
      height 60px
      box-sizing border-box
      position relative
      padding-left 78px
      padding-right 10px

      &.disable
        padding-right 40px
        opacity 0.3
        cursor default!important

        p
          color #5a5a5a!important

      p
        line-height 60px
        font-size 15px
        font-family 'AvenirNextMedium', arial
        color #5A5A5A
        margin 0
        padding 0
        overflow ellipsis
        position relative

      img
        width 40px
        height 40px
        position absolute
        left 28px
        top 10px

      &.active
        background #202022
        border-radius 8px
        padding-right 22px
        p
          color #fff

        &:after
          content " "
          display block
          position absolute
          width 9px
          height 16px
          background url("/img/basic/Resources.svg")
          background-size auto 400px
          background-position  -108px -613px
          right 10px
          top 22px


    .user-album-item
      position relative
      &:hover
        p
          color #fff

      input
        background none
        outline none
        border none
        width 100%

      .delete
        move-icon()
        transform rotate(45deg)
        display block
        position absolute
        right 0
        top 11px


    .albums-list-container
      padding-left 0
      margin 0
      overflow hidden

  .albums-empty-layout
    margin-top -100px
    overflow hidden
    img
      width 100%
    .message
      position fixed
      width 100%
      height 160px
      top 50%
      margin-top -80px

      p
        color #fff
        opacity 0.5
        font-size 20px
        text-align center
        font-family 'AvenirNextRegular', arial

      .to-new
        button()
        text-align center
        margin 0 auto
        cursor pointer

  .user-album-page
    padding-top 270px
    max-width 1300px
    margin 0 auto

    .album-content-wrapp
      padding-left 300px
      
    .album-head-wrapp
      position fixed
      z-index 2
      top 0
      box-sizing border-box
      padding-left 300px
      width 1024px

      @media screen and (min-width: 1440px)
        width 1225px

      .album-head-container
        background-position center
        background-size cover
        width 100%
        position relative

        &:after
          position absolute
          width 100%
          height 100%
          background rgba(0,0,0,0.6)
          content " "
          display block
          left 0
          top 0

        .album-head
          /*overflow hidden*/
          position relative
          z-index 1
          margin 0 auto
          height 370px

          .album-options
            options-icon()
            position absolute
            right 30px
            bottom 50px

            .options-overlay
              position fixed
              width 100%
              height 100%
              left 0
              top 0
              z-index 1

            .options-body
              position absolute
              right -20px
              top 50px
              background #fff
              border-radius 8px
              margin 0
              padding 0
              width 280px
              z-index 2

              &:after
                display block
                content " "
                border-width 12.5px
                border-style solid
                border-color transparent transparent #fff
                position absolute
                top -24px
                right 27px
                z-index 2

              &:before
                display block
                content " "
                width 100%
                position absolute
                height 60px
                top -60px
                left 0

              li
                cursor pointer
                list-style none
                height 50px
                line-height 50px
                font-size 15px
                color #8F8F8F
                padding-left 20px
                margin 0
                font-family 'AvenirNextMedium', arial
                border-radius 8px

                &:hover
                  background #F8F8F8
                  color #000

                &.is-public
                  &.public
                    position relative
                    padding-left 45px
                    box-sizing border-box
                    color #000

                    &:after
                      display block
                      content " "
                      width 20px
                      height 20px
                      background url("/img/basic/Resources.svg")
                      background-size auto 56px
                      background-position -50px -20px
                      position absolute
                      left 20px
                      top 15px


              .album-delete-confirm
                img
                  width 136px
                  height 136px
                  position absolute
                  left 50%
                  margin-left -68px
                  top 38px
                  border-radius 136px

                p
                  margin 0
                  padding 0 0 117px 0
                  text-align center
                  font-size 22px
                  font-family 'AvenirNextRegular', arial

                h1
                  font-weight normal
                  font-size 22px
                  font-family 'AvenirNextMedium', arial
                  padding 195px 20px 0
                  margin 0
                  text-align center
                  box-sizing border-box
                  overflow ellipsis

                .buttons
                  font-size 20px
                  position absolute
                  width 100%
                  bottom 0
                  left 0
                  box-sizing border-box
                  padding 0 25px 20px
                  font-family 'AvenirNextRegular', arial

                  .cancel
                    color #000
                    float left
                    cursor pointer

                  .delete
                    color #FFB612
                    cursor pointer
                    float right

          .gradient
            height 370px
            width 100%
            position absolute
            bottom 0
            left 0
            background: -moz-linear-gradient(top,  rgba(17,17,18,0) 0%, rgba(17,17,18,1) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,17,18,0)), color-stop(100%,rgba(17,17,18,1)))
            background: -webkit-linear-gradient(top,  rgba(17,17,18,0) 0%,rgba(17,17,18,1) 100%)
            background: -o-linear-gradient(top,  rgba(17,17,18,0) 0%,rgba(17,17,18,1) 100%)
            background: -ms-linear-gradient(top,  rgba(17,17,18,0) 0%,rgba(17,17,18,1) 100%)
            background: linear-gradient(to bottom,  rgba(17,17,18,0) 0%,rgba(17,17,18,1) 100%)

          .info
            position absolute
            bottom 10px
            width 100%

            & > span
              font-size 12px
              color #FFB612
              font-family 'AvenirNextMedium', arial
              text-align center
              display block
              text-transform uppercase

            h1
              font-weight normal
              font-family 'AvenirNextMedium', arial
              font-size 60px
              text-align center
              color #fff
              margin 12px 0 0 0
              width 680px
              margin 0 auto


            .author-wrapp
              margin 10px auto 0
              font-size 15px
              font-family 'AvenirNextMedium', arial
              color #C5C5C5
              height 30px

              .subscribe
                text-align center
                & > span
                  color #FFB612

              .release
                float right

            .shuffle-track
              margin 21px auto 0
              shuffle-track-button()

              &.disable
                opacity 0

