.player-wrapp
    .controll-bar
        .back-arrow
        .play.player-controll-element
        .fwd-arrow

    .main-player
        .player-view
            .artist-logo
                img(src="#{img}")
            .track-info
                .track-name
                    span.artistName #{artist}
                    | —
                    span.soundName #{title}
                    .player-timer-display
                        span.time-front 00:00
                        span.time-end.hidden #{duration}
                .time-line
                    .active-zone
                    .active-line.drag-active
                        .drag-ball.drag
            .other-buttons
                .options
                    .options-region
                    if inFavorite
                        .track-controll.delete
                    else
                    .track-controll.add
                .volume
                    span
                        .line
                            .active
                            .value

                    .shuffle
                    .loop