/* ==========================================================================
   Reset styles
   ========================================================================== */
@font-face {font-family:'OfficinaSerifCTTRegular'; src:url(/pack/files/4ddc5e6eb6c76988640276ebedf5389a.eot?4ddc5e6eb6c76988640276ebedf5389a); src:local('\263A'), url(/pack/files/203291b177f490a5e7c29fb996e58d34.woff?203291b177f490a5e7c29fb996e58d34) format('woff'), url(/pack/files/808fcc52e6705683f5ffb7931788e22c.ttf?808fcc52e6705683f5ffb7931788e22c) format('truetype'), url(/pack/files/185403a0976726f2048c84a8240b534d.svg?185403a0976726f2048c84a8240b534d) format('svg'); font-weight:normal; font-style:normal;}
@font-face {font-family:'OfficinaSerifCTTBold'; src:url(/pack/files/938aebdd4b60d954cf0b75e9eee03088.eot?938aebdd4b60d954cf0b75e9eee03088); src:local('\263A'), url(/pack/files/c920c9ccbbce76fde0319a9d90e314fb.woff?c920c9ccbbce76fde0319a9d90e314fb) format('woff'), url(/pack/files/eec78546ee4cd1e9f592d39c7c07670f.ttf?eec78546ee4cd1e9f592d39c7c07670f) format('truetype'), url(/pack/files/ab22d26d389c5b2cdab78cedae31e6be.svg?ab22d26d389c5b2cdab78cedae31e6be) format('svg'); font-weight:normal; font-style:normal;}
@font-face {font-family:'OfficinaSerifCTTBoldItalic'; src:url(/pack/files/57f98686def0986fdc27cc010eeb1ac7.eot?57f98686def0986fdc27cc010eeb1ac7); src:local('\263A'), url(/pack/files/77e66fcf9dc777416bcf0fcf7e6c2985.woff?77e66fcf9dc777416bcf0fcf7e6c2985) format('woff'), url(/pack/files/28783329d7e6afae17b68d947c50a445.ttf?28783329d7e6afae17b68d947c50a445) format('truetype'), url(/pack/files/e4e9551b993cdc4bd8d1e2cfb0ba786d.svg?e4e9551b993cdc4bd8d1e2cfb0ba786d) format('svg'); font-weight:normal; font-style:normal;}
@font-face {font-family:'OfficinaSerifCTTItalic'; src:url(/pack/files/c73ee388f272c58f684cc7bfa0508cbc.eot?c73ee388f272c58f684cc7bfa0508cbc); src:local('\263A'), url(/pack/files/69d02c335ad81aaf7af1098538daabc2.woff?69d02c335ad81aaf7af1098538daabc2) format('woff'), url(/pack/files/f7572969169475c3e000fcf7b6ef228e.ttf?f7572969169475c3e000fcf7b6ef228e) format('truetype'), url(/pack/files/efef7009e49f3bf72a6229dc7c6fd231.svg?efef7009e49f3bf72a6229dc7c6fd231) format('svg'); font-weight:normal; font-style:normal;}


article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {display:block;}
audio, canvas, video {display:inline-block; *display:inline; *zoom:1;}

audio:not([controls]) {display:none; height:0;}
[hidden] {display:none;}

html {font-size:100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
html, button, input, select, textarea {font-family:sans-serif;}
body {margin:0;}

a:active, a:hover, a:focus {outline:0;}

b, strong {font-weight:bold;}
mark {background:#ff0; color: #000;}
sub, sup {font-size:75%; line-height:0; position:relative; vertical-align:baseline;}
    sup {top:-0.5em;}
    sub {bottom:-0.25em;}

dl, menu, ol, ul, dd {margin:0; padding:0; list-style:none; list-style-image:none;}

img {border:0; -ms-interpolation-mode:bicubic;}
figure {margin:0;}
form {margin:0; font-size:0;}
fieldset {border:1px solid #c0c0c0; margin:0 2px; padding:0.35em 0.625em 0.75em;}
legend {border:0; padding:0; white-space:normal; *margin-left:-7px;}
button, input, select, textarea {font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle; outline:none;}
button, input {line-height:normal;}
button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance:button; cursor:pointer; *overflow:visible;}
button[disabled], input[disabled] {cursor:default;}
input[type="checkbox"], input[type="radio"] {box-sizing:border-box; padding:0; *height:13px; *width:13px;}
input[type="search"] {-webkit-appearance:textfield; box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
button::-moz-focus-inner, input::-moz-focus-inner {border:0; padding:0;}
textarea {overflow:auto; vertical-align:top;}

::-webkit-input-placeholder {color:#f0f0f2; opacity:.1;}
::-moz-placeholder {color:#f0f0f2; opacity:.1;}

table {border-collapse:collapse; border-spacing:0;}


/* ==========================================================================
   Base styles
   ========================================================================== */


.wrapper {
    max-width: 375px;
    margin: 0 auto;
    min-width: 270px;
    overflow: hidden;
}
.wrapper .header p {
    margin: 0;
    font-size: 15px;
    font-family: 'OfficinaSerifCTTRegular',arial;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.wrapper .header h1 {
    margin: 0;
    height: 65px;
    line-height: 65px;
    text-align: center;
    font-family: 'OfficinaSerifCTTRegular',arial;
    font-size: 35px;
    font-weight: normal;
    background: rgb(255,184,51); /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
    background: linear-gradient(to right,  rgba(255,184,51,1) 0%,rgba(255,232,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb833', endColorstr='#ffe800',GradientType=1 ); /* IE6-9 */
}
.wrapper .congratulate {
    margin: 0;
    height: 65px;
    line-height: 65px;
    text-align: center;
    font-family: 'OfficinaSerifCTTRegular',arial;
    font-size: 35px;
    font-weight: normal;
    color: #FFB612;
}
.wrapper .quote {
    font-size: 15px;
    font-family: 'OfficinaSerifCTTRegular',arial;
    margin: 27px 0 25px 0;
    text-align: center;
}
.wrapper .message {
    font-size: 15px;
    font-family: 'OfficinaSerifCTTRegular',arial;
    text-align: center;
}
.wrapper .message p {
    margin-top: 0;
}
.wrapper .big-quote {
    font-size: 20px;
    font-family: 'OfficinaSerifCTTRegular',arial;
    margin: 27px 0 25px 0;
    text-align: center;
}
.wrapper .quote.mini-margin {
    margin: 0 0 0 0;
}
.wrapper .phone-banner {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 482px;
}
.wrapper .phone-banner img{
    width: 280px;
    position: absolute;
    left: 50%;
    margin-left: -140px;
}
.wrapper .try-it-free {
    margin: 20px 0 10px 0;
}
.wrapper .try-it-free a {
    width: 230px;
    height: 50px;
    font-family: 'OfficinaSerifCTTRegular',arial;
    font-size: 20px;
    text-align: center;
    background: #FEDA24;
    display: block;
    text-decoration: none;
    color: #000;
    margin: 0 auto;
    border-radius: 20px;
    box-sizing: border-box;
    padding-top: 8px;
}
.wrapper .try-it-free span {
    font-size: 11px;
    font-family: 'OfficinaSerifCTTRegular',arial;
    color: rgba(0,0,0,0.3);
    text-align: center;
    display: block;
}
.wrapper .title {
    margin: 0;
    height: 65px;
    line-height: 65px;
    text-align: center;
    font-family: 'OfficinaSerifCTTRegular',arial;
    font-size: 35px;
}
.wrapper .yellow-title {
    margin: 0;
    text-align: center;
    font-family: 'OfficinaSerifCTTRegular',arial;
    font-size: 35px;
}
.wrapper .single-phone-banner {
    width: 225px;
    margin: 29px auto 0;
}
.wrapper .single-phone-banner img {
    width: 100%;
}
.wrapper .yellow-promo {
    background: #FEDA24;
    margin-top: 35px;
    box-sizing: border-box;
    padding-top: 25px;
    height: 783px;
    position: relative;
    margin-bottom: 90px;
}
.wrapper .rotate-phones {
    position: absolute;
    top: 395px;
    left: 50%;
    margin-left: -256.5px;
    width: 513px;

}
.wrapper .rotate-phones img {
    height: 350px;
    -webkit-transform: rotate(-315deg);
    transform: rotate(-315deg);
}
.wrapper .apps-block {
    margin-top: 50px;
}

.wrapper .apps-block.half {
    margin-top: 25px;
}
.wrapper .apps-block p {
    margin: 0;
    font-size: 15px;
    font-family: 'OfficinaSerifCTTRegular',arial;
    color: rgba(0,0,0,0.5);
    text-align: center;
}
.wrapper .apps-block .attention {
    margin: 20px 0 0 0;
    font-size: 12px;
    font-family: 'OfficinaSerifCTTRegular',arial;
    color: rgba(0,0,0,0.5);
    text-align: center;
}
.wrapper .apps-block .apps {
    height: 37px;
    width: 280px;
    margin: 15px auto 0;
}
.wrapper .apps-block .apps > a img {
    width: 100%;
}
.wrapper .apps-block .apps > a {
    width: 137px;
    height: 37px;
    overflow: hidden;
    border-radius: 4px;
}
.wrapper .apps-block .apps .ios{
    float: left;
}
.wrapper .apps-block .apps .android{
    float: right;
}
.wrapper .footer {
    height: 40px;
    width: 100%;
    background: #141414;
    margin-top: 35px;
}
.wrapper .footer .logo {
    width: 75px;
    float: left;
    margin: 9.5px 0 0 20px;
}
.wrapper .oferta {
    margin: 14px 10px 0 0;
    font-size: 12px;
    font-family: 'OfficinaSerifCTTRegular',arial;
    color: rgba(255,255,255,0.5);
    float: right;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiL3N0eWxlcy9wcm9tby5jc3M/YzUzZWIzOTU2MmRjYWYzOGRiYmQ2YjYzMDA5NmQ4OWMiLCJzb3VyY2VzIjpbXSwibWFwcGluZ3MiOiI7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7OzsiLCJzb3VyY2VSb290IjoiIn0=*/