/* ==========================================================================
   Reset styles
   ========================================================================== */
@font-face {font-family:'OfficinaSerifCTTRegular'; src:url(/pack/files/4ddc5e6eb6c76988640276ebedf5389a.eot?4ddc5e6eb6c76988640276ebedf5389a); src:local('\263A'), url(/pack/files/203291b177f490a5e7c29fb996e58d34.woff?203291b177f490a5e7c29fb996e58d34) format('woff'), url(/pack/files/808fcc52e6705683f5ffb7931788e22c.ttf?808fcc52e6705683f5ffb7931788e22c) format('truetype'), url(/pack/files/185403a0976726f2048c84a8240b534d.svg?185403a0976726f2048c84a8240b534d) format('svg'); font-weight:normal; font-style:normal;}
@font-face {font-family:'OfficinaSerifCTTBold'; src:url(/pack/files/938aebdd4b60d954cf0b75e9eee03088.eot?938aebdd4b60d954cf0b75e9eee03088); src:local('\263A'), url(/pack/files/c920c9ccbbce76fde0319a9d90e314fb.woff?c920c9ccbbce76fde0319a9d90e314fb) format('woff'), url(/pack/files/eec78546ee4cd1e9f592d39c7c07670f.ttf?eec78546ee4cd1e9f592d39c7c07670f) format('truetype'), url(/pack/files/ab22d26d389c5b2cdab78cedae31e6be.svg?ab22d26d389c5b2cdab78cedae31e6be) format('svg'); font-weight:normal; font-style:normal;}
@font-face {font-family:'OfficinaSerifCTTBoldItalic'; src:url(/pack/files/57f98686def0986fdc27cc010eeb1ac7.eot?57f98686def0986fdc27cc010eeb1ac7); src:local('\263A'), url(/pack/files/77e66fcf9dc777416bcf0fcf7e6c2985.woff?77e66fcf9dc777416bcf0fcf7e6c2985) format('woff'), url(/pack/files/28783329d7e6afae17b68d947c50a445.ttf?28783329d7e6afae17b68d947c50a445) format('truetype'), url(/pack/files/e4e9551b993cdc4bd8d1e2cfb0ba786d.svg?e4e9551b993cdc4bd8d1e2cfb0ba786d) format('svg'); font-weight:normal; font-style:normal;}
@font-face {font-family:'OfficinaSerifCTTItalic'; src:url(/pack/files/c73ee388f272c58f684cc7bfa0508cbc.eot?c73ee388f272c58f684cc7bfa0508cbc); src:local('\263A'), url(/pack/files/69d02c335ad81aaf7af1098538daabc2.woff?69d02c335ad81aaf7af1098538daabc2) format('woff'), url(/pack/files/f7572969169475c3e000fcf7b6ef228e.ttf?f7572969169475c3e000fcf7b6ef228e) format('truetype'), url(/pack/files/efef7009e49f3bf72a6229dc7c6fd231.svg?efef7009e49f3bf72a6229dc7c6fd231) format('svg'); font-weight:normal; font-style:normal;}


article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {display:block;}
audio, canvas, video {display:inline-block; *display:inline; *zoom:1;}

audio:not([controls]) {display:none; height:0;}
[hidden] {display:none;}

html {font-size:100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
html, button, input, select, textarea {font-family:sans-serif;}
body {margin:0;}

a:active, a:hover, a:focus {outline:0;}

b, strong {font-weight:bold;}
mark {background:#ff0; color: #000;}
sub, sup {font-size:75%; line-height:0; position:relative; vertical-align:baseline;}
    sup {top:-0.5em;}
    sub {bottom:-0.25em;}

dl, menu, ol, ul, dd {margin:0; padding:0; list-style:none; list-style-image:none;}

img {border:0; -ms-interpolation-mode:bicubic;}
figure {margin:0;}
form {margin:0; font-size:0;}
fieldset {border:1px solid #c0c0c0; margin:0 2px; padding:0.35em 0.625em 0.75em;}
legend {border:0; padding:0; white-space:normal; *margin-left:-7px;}
button, input, select, textarea {font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle; outline:none;}
button, input {line-height:normal;}
button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance:button; cursor:pointer; *overflow:visible;}
button[disabled], input[disabled] {cursor:default;}
input[type="checkbox"], input[type="radio"] {box-sizing:border-box; padding:0; *height:13px; *width:13px;}
input[type="search"] {-webkit-appearance:textfield; box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
button::-moz-focus-inner, input::-moz-focus-inner {border:0; padding:0;}
textarea {overflow:auto; vertical-align:top;}

::-webkit-input-placeholder {color:#f0f0f2; opacity:.1;}
::-moz-placeholder {color:#f0f0f2; opacity:.1;}

table {border-collapse:collapse; border-spacing:0;}


/* ==========================================================================
   Base styles
   ========================================================================== */


.header {
    padding: 20px 0 0;
    margin-left: 25px;
    height: 70px;
    width: 230px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    box-sizing: border-box;
}
.header .left {
    width: 75px;
    float: left;
}
.header .right {
    width: 85px;
    float: right;
    margin-right: 20px;
}
.content {
    padding: 0 25px;
}
.content h1{
    font-family: 'OfficinaSerifCTTRegular',arial;
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 23px;
}
.content ul {
    margin: 0;
    padding: 0;
}
.content li {
    font-family: 'OfficinaSerifCTTRegular',arial;
    font-size: 20px;
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
}
.content li span {
    color: #999999;
}
.content li a {
    color: #FFB612;
}
.content p {
    font-family: 'OfficinaSerifCTTRegular',arial;
    font-size: 20px;
    margin: 50px 0 0 0;
    padding: 0;
}
.apps {
    margin-top: 30px;
    width: 310px;
}
.apps:after {
    display: block;
    content: " ";
    clear: both;
}
.apps > a {
    width: 150px;
}
.apps img {
    border-radius: 3px;
    width: 100%;
}
.apps .left {
    float: left;
}
.apps .right {
    float: right;
}
.footer {
    height: 100px;
    margin-top: 50px;
}
.footer img {
    width: 103px;
    margin: 15px 0 0 26px;
}
.footer span {
    font-size: 7px;
    color: rgba(0,0,0,0.2);
    display: block;
    font-family: 'OfficinaSerifCTTRegular',arial;
    margin: 15px 0 0 60px;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiL3N0eWxlcy9zaGF6YW0uY3NzPzRhNDU3OTBiM2RhMjRhOWZiY2I0NGVjZDA5ODUwNWY3Iiwic291cmNlcyI6W10sIm1hcHBpbmdzIjoiOzs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7OzsiLCJzb3VyY2VSb290IjoiIn0=*/