.auth-overlay
    .auth-window
        i.close-auth
        .logo
            img(src="/img/basic/beemusic_logo.jpg" alt="Авторизация music.beeline.ru")
        .by-social
            span Войти с помощью социальных сетей
        form#auth
            label.phone-label(for="code") !{locale.auth.smsPass}
            .by-code
                input.code(name="code" type="text" maxlength="13" placeholder="0000")

            .by-pass
                input.pass(name="pass" type="password" maxlength="13" placeholder="•••••••")
            input.button(type="submit" value="Войти")
        .info-win
            .container #{locale.auth.codeSendMess}
            .new-code #{locale.auth.tcs}

        .user-access-info При входе в сервис через социальные сети или  через SMS,<br>вы автоматически принимаете <a href="/oferta">Пользовательское соглашение</a>