.auth-overlay
    .auth-window
        i.close-auth
        .logo
            img(src="/img/basic/beemusic_logo.jpg" alt="Авторизация music.beeline.ru")
        .by-social
            span Войти с помощью социальных сетей
        form#auth
            label.phone-label(for="phone") #{locale.auth.typeNum}
            input.phone(name="phone" type="text" maxlength="13" placeholder="965 123-45-67")
            input.button(type="submit" value="#{locale.auth.sendCode}")
        .info-win !{locale.auth.codeMess}

        .user-access-info При входе в сервис через социальные сети или  через SMS,<br>вы автоматически принимаете <a href="/oferta">Пользовательское соглашение</a>