.auth-overlay
    .auth-window
        i.close-auth
        .logo
            img(src="/img/basic/beemusic_logo.jpg" alt="Авторизация music.beeline.ru")
        //- <!--form id="auth">
        //-     <label class="phone-label" for="phone">#{locale.auth.typeNum}</label>
        //-     <input class="phone" name="phone" type="text" maxlength="13" placeholder="965 123-45-67">
        //-     <input class="button" type="submit" value="#{locale.auth.sendCode}">
        //- </form>
        //- <div class="info-win">
        //-     #{locale.auth.codeMess}
        //- </div-->
        .social-auth
            .title Войти с помощью социальных сетей
            .social-list
                .fb(data-type="fb") Facebook
                .vk(data-type="vk") Вк
                .ok(data-type="ok") Oк
            p При первом входе вам необходимо будет один раз подтвердить свой номер телефона. 

        .by-num Или по номеру телефона

        .user-access-info При входе в сервис через социальные сети или  через SMS,<br>вы автоматически принимаете <a href="/oferta">Пользовательское соглашение</a>