.auth-overlay
    .auth-window
        i.close-auth
        .avatar(style="background-image: url('#{typeof(picture_url) == 'undefined' ? '' : picture_url}')")
        form#auth
            label.phone-label(for="phone") Подтвердить номер
            input.phone(name="phone" type="text" maxlength="13" placeholder="965 123-45-67")
            input.button(type="submit" value="#{locale.auth.sendCode}")
        .info-win !{locale.auth.codeMess}
        .user-info
            .block-label Имя
            .block-val #{name}
            if email != ''
                .block-label Электронная почта
                .block-val #{email}
            .user-warn.
                Данную и другую личную информацю также<br>
                можно отредактировать в личном кабинете

        .user-access-info При входе в сервис через социальные сети или  через SMS,<br>вы автоматически принимаете <a href="/oferta">Пользовательское соглашение</a>