.profile
.sidebar-body
    .search
        input(type="text" placeholder="#{app.locale.search.search}")
        i.icon
        i.close отмена
    .sidebar-content-scroll
        .sidebar-search-container
        .sidebar-content-wrapp
            .main-nav
            .user-nav
            .apps
                p.title #{app.locale.menu.apps}
                ul
                    li.app-link
                        a(target="_blank" href="https://itunes.apple.com/ru/app/bilajn.muzyka/id702770268?mt=8") IOS
                    li.app-link
                        a(target="_blank" href="https://play.google.com/store/apps/details?id=ru.beeonline.music&hl=ru") Android
.sidebar-overlay