.feed-page
  .feed-page-wrapp
    overflow hidden
    width 1024px
    margin 0 auto

  .feed-head
    width 740px
    padding-top 120px
    .placeholder
      width 375px
      margin 0 0 100px 22px
      height 80px
      border 1px solid rgba(0,0,0,0.1)
      border-radius 10px
      box-sizing border-box
      cursor pointer
      position relative

      img
        width 50px
        height 50px
        float left
        border-radius 60px
        margin-right 19px
        margin-top 15px
        margin-left 20px

      h1
        color #000
        font-size 18px
        font-family 'AvenirNextMedium', arial
        margin 0
        height 80px
        line-height 80px
        margin-left 135px
        position relative
        font-weight normal

        &:before
          content " "
          display block
          background url("/img/basic/Resources.svg")
          background-size auto 400px
          background-position -381px 55px
          width 25px
          height 26px
          position absolute
          left -45px
          top 28px
          
      span
        font-size 15px
        color rgba(0,0,0,0.3)
        font-family 'AvenirNextMedium', arial
        width 518px
        position absolute
        bottom -100px
        left 0
        cursor default

.head-region
  padding-bottom 30px
  .feed-note-create-wrapp
    width 695px
    margin -89px auto 0
    box-sizing border-box
    padding-left 79px

    .title-wrapp
      span
        font-size 12px
        font-family 'AvenirNextMedium', arial
        color #FEDA24

    .feed-note-content
      textarea
        padding 0
        font-size 30px
        color #fff
        font-family 'AvenirNextRegular', arial
        background #111112
        outline none
        border none
        resize none
        width 695px
        overflow-y: hidden
        height 101px

  .feed-note-controll
     span
       font-size 12px
       font-family 'AvenirNextMedium', arial
       color #FEDA24

     .item-type
       margin 0
       padding 0

       clearfix()

       li
         margin 0
         list-style none
         color rgba(255,255,255,0.4)
         font-family 'AvenirNextRegular', arial
         font-size 20px
         float left
         margin 11px 30px 0 0

         &:hover
          cursor pointer
          color #fff

     .create
       button(width=180px)
       text-align center
       margin-top 40px
       cursor pointer

.feed-list
  width 740px

  .feed-list-item
    box-sizing border-box
    padding 0 0 0 30px
    margin 30px 0 60px

    .list-header
      box-sizing border-box
      padding-left 70px
      position relative
      height 70px
      margin-bottom 25px
      position relative
      z-index 2

      &:after
        display block
        content " "
        background #FEDA24
        width 8px
        height 50px
        position absolute
        left -30px
        top 10px

      img
        position absolute
        left 0
        top 5px
        height 60px
        border-radius 60px


      .info
        padding-top 15px

        .title
          font-size 20px
          font-family 'AvenirNextMedium', arial
          
          &:first-letter
            text-transform uppercase
          
          &:hover
            cursor pointer
            text-decoration underline

        .time
          font-size 10px
          font-family 'AvenirNextMedium', arial
          opacity 0.4
          text-transform uppercase

      .options
        width 40px
        height 40px
        position absolute
        right 22px
        top 15px
        padding 0
        z-index 1

        &:after
          display block
          content " "
          position absolute
          left 0
          top 0
          width 40px
          height 40px
          background url("/img/basic/Resources.svg")
          background-size auto 400px
          background-position -56px -124px
          opacity 0.4

        .list
          width 200px
          margin 0
          position absolute
          top 50px
          padding 0
          left -80px
          background #fff
          border-radius 8px
          display none

          &:after
            display block
            content " "
            position absolute
            border-style solid
            border-color transparent transparent #fff transparent
            border-width 10px
            left 50%
            margin-left -10px
            top -20px

          &:before
            width 100%
            height 100%
            content " "
            display block
            box-shadow 0 20px 60px rgba(0,0,0,0.4)
            position absolute
            left 0
            top 0
            border-radius 8px

          li
            width 100%
            list-style none
            height 50px
            line-height 50px
            font-size 15px
            color rgba(0,0,0,0.4)
            font-family 'AvenirNextMedium', arial
            box-sizing border-box
            padding-left 20px
            position relative
            z-index 1



    .cover
      width 100%
      overflow hidden
      max-height 800px

      img
        width 100%
    .message
      font-family 'AvenirNextRegular', arial
      font-size 23px
      margin-bottom 20px

.list-content
  .tracks-wrapper
    .track-item
      padding-left 0

      &:hover
        padding-left 30px

      &.play
       padding-left 30px

      &.pause
        padding-left 30px

  .album-item
    margin-left 0
    &.active
      .controll
        .elements
          .player-controll
            display block

    &.pause
      .controll
        .elements
          .player-controll
            background-size auto 400px
            background-position  -257px -241px

            &:hover
              background-position -172px -241px

    .controll
      width 180px
      height 180px
      position relative
      z-index 1
      float left
      margin 10px

      &:after
        display none
        content " "
        position absolute
        width 180px
        height 180px
        background rgba(0,0,0,0.85)
        top 0
        left 0

      &:hover
        &:after
          display block

        .elements
          z-index 2
          .move
          .options
          .player-controll
            display block
      img
        width 100%

      .options-wrapper
        right -105px
        &:after
          right 115px

      .elements
        height 80px
        width 180px
        position absolute
        top 50%
        margin-top -40px
        z-index 1

        & > div
          cursor pointer

        .move
          position absolute
          left 10px
          top 20px
          display none

          &.add
            move-icon()
          &.delete
            move-icon()
            transform rotate(45deg)

        .options
          right 10px
          top 20px
          position absolute
          display none
          options-icon()

          .options-wrapper
            240px

        .player-controll
          width 80px
          height 80px
          margin 0 auto
          background url("/img/basic/Resources.svg")
          background-size auto 400px
          background-position  -257px -111px
          display none

          &:hover
            background-position -172px -111px

  .playlist-item
    position relative
    margin-left 0

    &.active
      .controll
        .elements
          .player-controll
            display block

    &.pause
      .controll
        .elements
          .player-controll
            background-size auto 400px
            background-position  -257px -241px

            &:hover
              background-position -172px -241px

    .controll
      width 180px
      height 180px
      position relative
      float left
      margin 10px
      z-index 1

      &:after
        display none
        content " "
        position absolute
        background rgba(0,0,0,0.85)
        width 182px
        height 182px
        border-radius 202px
        left -1px
        top -1px

      &:hover
        &:after
          display block

        .elements
          z-index 2
          .move
          .options
          .player-controll
            display block
      img
        width 100%
        border-radius 200px

      .elements
        height 80px
        width 180px
        position absolute
        top 50%
        margin-top -40px
        z-index 1

        & > div
          cursor pointer

        .move
          position absolute
          left 10px
          top 20px
          display none

          &.add
            move-icon()
          &.delete
            move-icon()
            transform rotate(45deg)

        .options
          right 10px
          top 20px
          position absolute
          display none
          options-icon()

          .options-wrapper
            240px

        .player-controll
          width 80px
          height 80px
          margin 0 auto
          background url("/img/basic/Resources.svg")
          background-size auto 400px
          background-position  -257px -111px
          display none

          &:hover
            background-position -172px -111px

.like-block
  width 100%
  border-top 1px solid rgba(0,0,0,0.1)
  height 60px
  margin-top 20px
  
  .like-icon
    min-width 41px
    height 26px
    position relative
    border-radius 4px
    margin-top 17px
    padding-left 37px
    box-sizing border-box
    line-height 26px
    display inline-block
    
    &:hover
      background rgba(0,0,0,0.05)
      cursor pointer
    &.liked
      background #FEDA24
      i
        background-position  -489px -110px
        
    i
      top 5px
      left 11px
      position absolute
      width 19px
      height 16px
      display block
      background url("/img/basic/Resources.svg")
      background-size auto 400px
      background-position  -489px -128px
      
    .count
      padding-right 10px
      font-family 'avenirNextMedium', arial
      font-size 15px

.comments-block
  .more-comments
    background #FBFAFA
    height 40px
    line-height 40px
    text-align center
    font-size 12px
    color #999999
    font-family 'avenirNextMedium', arial
    margin 10px 0
    cursor pointer
    text-transform uppercase
    
    span
      color #000

  .add-comment
    margin-top 10px
    position relative
    
    .user-avatar
      height 36px
      left 0
      top 0
      position absolute
      border-radius 36px
      
    .new-comment-text
      padding 4px 0
      width 665px
      border-radius 4px
      border 1px solid #E2E2E2
      margin-left 46px
      position relative
      box-sizing border-box
      
      textarea
        width 580px
        font-family 'AvenirNextRegular', arial
        font-size 15px
        height 44px
        margin-left 10px
        background none
        border none
        outline none
        resize none
        
      .add-content
        width 14px
        height 14px
        position absolute
        right 14px
        top 11px
        opacity 0.3
        background url("/img/basic/Resources.svg")
        background-size auto 400px
        background-position  -25px -538px
        
        &:hover
          opacity 1
          cursor pointer
          
    .send-comment
      width 120px
      height 30px
      border-radius 16px
      background #FEDA24
      text-align center
      line-height 30px
      font-size 15px
      font-family 'AvenirNextRegular', arial
      position absolute
      right 0
      bottom -40px
      display none
      cursor pointer
  
  .feed-list-comments-wrapp
    width 100%
    
    .feed-list-comment-item
      position relative
      min-height 36px
      margin-bottom 11px
      
      .avatar
        width 36px
        height 36px
        position absolute
        left 0
        top 0
        border-radius 36px
      .post
        margin-left 45px
        font-family 'AvenirNextRegular', arial
        font-size 15px
        
        span
          font-family 'AvenirNextMedium', arial
          font-size 15px
          color #0058EB
          cursor pointer

.feed-note-create-overlay
  padding-top 130px

  &:after
    display block
    content " "
    width 100%
    height 100%
    position fixed
    top 0
    left 0
    background rgba(0,0,0,0.2)
    z-index 1000

  .feed-note-create-wrapp
    width 880px
    min-height 600px
    background #fff
    border-radius 12px
    box-shadow 0 16px 50px rgba(0,0,0,0.5)
    position relative
    z-index 1001
    margin 0 auto
    padding-bottom 165px
    box-sizing border-box

    .feed-note-create-panel
      box-sizing border-box
      padding-top 120px

      .feed-note-create-avatar
        position absolute
        width 60px
        height 60px
        top 40px
        left 50%
        transform translateX(-50%)
        border-radius 60px

      .feed-note-create-message
        textarea
          width 680px
          font-family 'AvenirNextRegular', arial
          margin 0 auto
          border none
          outline none
          text-align center
          font-size 23px
          display block
          resize none
          height 104px

      .create
        position absolute
        height 60px
        line-height 60px
        background #FEDA24
        color #000
        text-align center
        font-size 20px
        width 100%
        position absolute
        bottom 0
        left 0
        border-radius 0 0 12px 12px
        cursor pointer
        display none

  .feed-note-create-content-wrapp
    margin-top 80px

    .post-content-message
      color #FF9415
      font-size 12px
      font-family 'avenirNextMedium', arial
      text-align center
      display block
      text-transform uppercase
      margin-bottom 10px

    .feed-note-create-types
      & > span
        color #FF9415
        font-size 12px
        font-family 'avenirNextMedium', arial
        text-align center
        display block
        text-transform uppercase

      .item-type
        width 690px
        margin 40px auto 0
        text-align justify
        /* Обнуляем для родителя*/
        line-height 0
        font-size 1px /* 1px для Opera */

        /* Лекарство для IE6-7*/
        text-justify newspaper
        zoom 1

        &:after
          width 100%
          height 0
          visibility hidden
          overflow hidden
          content ''
          display inline-block

        li
          position relative
          list-style none
          height 70px
          width 200px
          border-radius 12px
          font-family 'avenirNextMedium', arial
          text-align center
          line-height 70px
          display inline-block
          /* Востанавливаем у потомков, кроме последнего*/
          font-size 23px

          /* Без него в Opera будет отступ под элементами */
          vertical-align top

          /* эмуляция inline-block для IE6-7*/
          //display  inline
          //zoom  1
          &:hover
            background #FEDA24
            cursor pointer

          & span
            position relative

            &:after
              position absolute
              display block
              content " "
              background url("/img/basic/Resources.svg")
              background-size auto 400px

          &.track span
            margin-left 39px

            &:after
              width 19px
              height 24px
              background-position  -276px 53px
              left -39px
              top 4px

          &.album span
            margin-left 48px

            &:after
              width 28px
              height 28px
              background-position  -308px 55px
              left -48px
              top 0

          &.playlist span
            margin-left 43px

            &:after
              width 22px
              height 14px
              background-position  -350px 50px
              left -43px
              top 8px

    .feed-note-create-item
      .track-item
        .delete
          width 50px
          height 50px
          float right
          position absolute
          right 10px
          top 5px

          &:after
            display block
            content " "
            width 17px
            height 17px
            position absolute
            background url("/img/basic/Resources.svg")
            background-size auto 400px
            background-position -170px -350px
            left 17px
            top 17px

          &:hover
            &:after
              width 50px
              height 50px
              top 0
              left 0
              background-position -208px -333px


.feed-content-add-wrapp
  .feed-content-add-head
    height 60px
    border-bottom 1px solid rgba(0,0,0,0.1)
    position relative

    .back
      font-size 15px
      font-family 'avenirNextMedium', arial
      margin-left 48px
      position absolute
      left 0
      height 60px
      line-height 60px
      cursor pointer

      &:after
        display block
        content " "
        width 11px
        height 16px
        position absolute
        background url("/img/basic/Resources.svg")
        background-size auto 400px
        background-position -107px -177px
        left -20px
        top 22px

    .title
      font-size 20px
      font-family 'avenirNextMedium', arial
      text-align center
      line-height 60px

    .close
      width 50px
      height 50px
      float right
      position absolute
      right 10px
      top 5px

      &:after
        display block
        content " "
        width 17px
        height 17px
        position absolute
        background url("/img/basic/Resources.svg")
        background-size auto 400px
        background-position -25px -336px
        left 17.5px
        top 17.5px

    .search
      width 400px
      position absolute
      left 50%
      top 0
      transform translateX(-50%)
      display none
      height 60px
      box-sizing border-box
      padding-left 30px
      
      input
        height 58px
        line-height 58px
        font-family 'avenirNextMedium', arial
        font-size 20px
        text-align center
        width 100%
        outline none
        border none
      
  &.searched
    .search
      display block
      
      i
        width 28px
        height 28px
        position absolute
        background url("/img/basic/Resources.svg")
        background-size auto 400px
        background-position -289px -206px
        left 0
        top 16px
        
      input
        display none

  .feed-content-add-body

    text-align justify
    /* Обнуляем для родителя*/
    line-height 0
    font-size 1px /* 1px для Opera */

    /* Лекарство для IE6-7*/
    text-justify newspaper
    zoom 1

    &:after
      width 100%
      height 0
      visibility hidden
      overflow hidden
      content ''
      display inline-block

    .feed-add-track
      &.track-item.selected
        background rgba(0,0,0,0.07)
      &:hover
        background rgba(0,0,0,0.03)
        .info
          .time
            display block

    .playlist-item
    .album-item
      cursor pointer
      width 180px
      margin-top 20px
      padding 10px

      &.feed-add-playlist.selected
      &.feed-add-album.selected
        background rgba(0,0,0,0.07)
      &:hover
        background rgba(0,0,0,0.03)

      .controll
        width 180px
        height 180px

        &:after
          display none!important

      .info
        & > div
          &:hover
            text-decoration none

   .add
     position absolute
     height 60px
     line-height 60px
     background #FEDA24
     color #000
     text-align center
     font-size 20px
     width 100%
     position absolute
     bottom 0
     left 0
     border-radius 0 0 12px 12px
     cursor pointer
     display none

.feed-playlist-item
.feed-album-item
  width 712px
  height 200px
  background-size cover
  margin 26px 0 0 84px
  position relative

  &:after
    content " "
    display block
    width 100%
    height 200px
    background rgba(0,0,0,0.3)
    position absolute
    left 0
    top 0

  .cover
    margin 10px
    float left
    position relative
    z-index 1

    img
      width 180px
      height 180px
      border-radius 160px

  .label
    margin-left 230px
    position relative
    z-index 1

    .release
      font-size 10px
      font-family 'avenirNextMedium', arial
      color rgba(255,255,255,0.4)
      text-transform uppercase
      padding-top 27px

    .title
      margin-top 10px
      font-size 36px
      font-family 'avenirNextMedium', arial
      color #fff
      overflow ellipsis
      padding-right 10px

    .artist
      font-size 20px
      color rgba(255,255,255,0.4)
      font-family 'avenirNextMedium', arial
      padding-right 10px

  & > .delete
    position absolute
    right -84px
    top 0
    height 200px
    width 84px

    &:after
      display block
      content " "
      width 17px
      height 17px
      position absolute
      background url("/img/basic/Resources.svg")
      background-size auto 400px
      background-position -25px -336px
      left 29.5px
      top 87.5px
      
.comment-content
  .feed-add-track
    padding-right 180px
    cursor default
    
    &.track-item.selected
      background rgba(0,0,0,0.07)
    &:hover
      background none
      .info
        .time
          display block
    .info
      right 90px
      
    .delete
      cursor pointer
      move-black-icon()
      position absolute
      right 0
      top 10px
      transform rotate(45deg)