doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Слушать бесплатно музыку онлайн, музыка в формате mp3, слушать бесплатно новинки музыки, новые песни, сборник музыки 2015
        meta(name="title" content="Слушать бесплатно музыку онлайн, музыка в формате mp3, слушать бесплатно новинки музыки, новые песни, сборник музыки 2015")
        meta(name="description" content="Все новинки музыки онлайн на music.beeline.ru Слушать бесплатно новые песни, сборники музыки 2015 года в mp3 формате")
        meta(name="Keywords" content="музыка, онлайн, mp3, новинки, новые, песни, 2015, слушать, сборник")
        link(rel="icon" href="/img/basic/favicon.png" type="image/x-icon")
        style.
            .page-message-wrapp {
                width: 1024px;
                margin: 0 auto;
                padding: 0 30px;
                box-sizing: border-box;
            }
            .page-message-wrapp img {
                margin: 50px 0 105px;
            }
            .page-message {
                font-family: 'AvenirNextRegular', arial;
                width: 370px;
                margin: 0 0 50px 0;
                font-size: 20px;
            }

            .page-title-wrapp {
                width: 1024px;
                margin: 0 auto;
                padding: 0 30px;
                box-sizing: border-box;
            }

            /*стили альбомов*/

            .albums-wrapper {
                box-sizing: border-box;
                padding: 20px 30px 0;
                text-align: justify;
                /* Обнуляем для родителя*/
                line-height: 0;
                font-size: 1px;
                /* Лекарство для IE6-7*/
                text-justify: newspaper;
                zoom: 1;
                width: 1024px;
                margin: 0 auto;
                height: 572px;
                overflow: hidden;
            }
            @media screen and (min-width: 1350px) {
                .page-message-wrapp, .page-title-wrapp,.albums-wrapper {
                    width: 1200px
                }
            }
            .albums-wrapper:after {
                width: 100%;
                height: 0;
                visibility: hidden;
                overflow: hidden;
                content: '';
                display: inline-block;
            }
            .albums-wrapper .album-item {
                width: 200px;
                margin-bottom: 27px;
                display: inline-block;
                line-height: normal;
                /* Востанавливаем у потомков, кроме последнего*/
                font-size: 13px;
                /* Без него в Opera будет отступ под элементами */
                vertical-align: top;
                /* эмуляция inline-block для IE6-7*/

                text-decoration: none;
            }
            .albums-wrapper .album-item.active .controll .elements .player-controll {
                display: block;
            }
            .albums-wrapper .album-item.pause .controll .elements .player-controll {
                background-size: auto 400px;
                background-position: -257px -241px;
            }
            .albums-wrapper .album-item.pause .controll .elements .player-controll:hover {
                background-position: -172px -241px;
            }
            .albums-wrapper .album-item .controll {
                width: 200px;
                height: 200px;
                position: relative;
            }
            .albums-wrapper .album-item .controll:after {
                display: none;
                content: " ";
                position: absolute;
                width: 200px;
                height: 200px;
                background: rgba(0,0,0,0.85);
                top: 0;
                left: 0;
            }
            .albums-wrapper .album-item .controll:hover:after {
                display: block;
            }
            .albums-wrapper .album-item .controll:hover .elements {
                z-index: 2;
            }
            .albums-wrapper .album-item .controll:hover .elements .move,
            .albums-wrapper .album-item .controll:hover .elements .options,
            .albums-wrapper .album-item .controll:hover .elements .player-controll {
                display: block;
            }
            .albums-wrapper .album-item .controll img {
                width: 100%;
            }
            .albums-wrapper .album-item .controll .elements {
                height: 80px;
                width: 200px;
                position: absolute;
                top: 50%;
                margin-top: -40px;
                z-index: 1;
            }
            .albums-wrapper .album-item .controll .elements > div {
                cursor: pointer;
            }
            .albums-wrapper .album-item .controll .elements .move {
                position: absolute;
                left: 10px;
                top: 20px;
                display: none;
            }
            .albums-wrapper .album-item .controll .elements .move.delete {
                transform: rotate(45deg);
            }
            .albums-wrapper .album-item .controll .elements .options {
                right: 10px;
                top: 20px;
                position: absolute;
                display: none;
            }
            .albums-wrapper .album-item .controll .elements .player-controll {
                width: 80px;
                height: 80px;
                margin: 0 auto;
                background: url("/img/basic/Resources.svg");
                background-size: auto 400px;
                background-position: -257px -111px;
                display: none;
            }
            .albums-wrapper .album-item .controll .elements .player-controll:hover {
                background-position: -172px -111px;
            }
            .albums-wrapper .album-item .info > div {
                overflow: ellipsis;
                font-size: 15px;
                color: #000;
            }
            .albums-wrapper .album-item .info .title {
                font-family: 'AvenirNextMedium', arial;
                margin-top: 8px;
            }
            .albums-wrapper .album-item .info .artist {
                color: #8f8f8f;
                font-family: 'AvenirNextRegular', arial;
            }
    body
        div.page-message-wrapp
            img(src="/img/basic/404.jpg" alt="Страница не найдена")

        div.page-title-wrapp
            p.page-message.
                Но огорчаться рано. Вы можете
                послушать миллионы других
                композиций:
        div#albums-list.albums-wrapper

        script(type="text/javascript").
            var xhr = new XMLHttpRequest();
            xhr.open('GET', 'http://cdn.music.beeline.ru/api/compatibility/catalogue/getBeelineContent?type=albums&sort=date&countitems=10&page=1');
            xhr.onreadystatechange = function() {
              if (xhr.readyState == 4) {
                if(xhr.status == 200) {
                    var data = JSON.parse(xhr.responseText);
                    var items = data.items;
                    itemsElem = "";
                    for (var i = 0, leng = items.length; i < leng; i++) {
                        itemsElem += '<a class="album-item" href="/album/'+items[i].id+'">'+
                            '<div class="controll">'+
                                '<div class="elements">'+
                                    '<div class="player-controll"></div>'+
                                '</div>'+
                                '<img src="'+items[i].img.replace("/([^\/]+)\.([^\/]+)$/", "300x300_ro.$2")+'" alt="">'+
                            '</div>'+
                            '<div class="info">'+
                                '<div class="title">'+items[i].title+'</div>'+
                                '<div class="artist">'+items[i].artist+'</div>'+
                            '</div>'+
                        '</a>'+
                        ' '
                    }
                    var elem = document.getElementById('albums-list');
                    elem.innerHTML = itemsElem;
                }
              }
            };
            xhr.send(null);

        