doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Document
    body
        if social_login == 'fail'
            script(type="text/javascript").
                var token = JSON.parse('!{token}');
                var userData = JSON.parse('!{userData}');
                window.opener.completeSocialRegister(false,token,'#{sName}',userData);
                window.close()
        else
            script(type="text/javascript").
                window.close()
                window.opener.completeSocialRegister(true);