doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Слушать бесплатно музыку онлайн, музыка в формате mp3, слушать бесплатно новинки музыки, новые песни, сборник музыки 2015
        meta(name="title" content="Слушать бесплатно музыку онлайн, музыка в формате mp3, слушать бесплатно новинки музыки, новые песни, сборник музыки 2015")
        meta(name="description" content="Все новинки музыки онлайн на music.beeline.ru Слушать бесплатно новые песни, сборники музыки 2015 года в mp3 формате")
        meta(name="Keywords" content="музыка, онлайн, mp3, новинки, новые, песни, 2015, слушать, сборник")
        link(rel="icon" href="/public/img/basic/favicon.png" type="image/x-icon")
        meta(name="viewport" content="initial-scale=5.0")
        link(rel="stylesheet" type="text/css" href="/pack/styles/auth.css")

        script(type="text/javascript").
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-66845659-1']);
            _gaq.push(['_trackPageview']);
    body
        div.wrapper
            div.wrapper-margin
                div.header
                    div.header-wrapp
                        div.logo
                            p !{lang.auth.BM}
                        div.landing-buttons
                            div.help-button
                                a(href="/faq") #{lang.auth.help}
                            div.app-button #{lang.auth.apps}
                            div.enter.open-auth(data-id="1") #{lang.auth.enter}
                div.promo-win
                    div.promo-start-block
                        div.promo.first-promo
                            p !{lang.auth.mAlw}
                            p !{lang.auth.mAvr}
                        div.quote
                            p.first-quote !{lang.auth.mMess}
                        div.promo-bottom-block
                            div.try-it.open-auth(data-id="2") #{lang.auth.try}
                            div.arrow
                    div#video-bg
                        video(src="" loop autoplay).landing-video
                div.use-it-anywhere
                    img(src="/img/basic/platforms.jpg" alt="на любые платформы")
                    h1 !{lang.auth.accEv}
                    p !{lang.auth.accEvp}
                div.album-description
                    img(src="/img/basic/snoop_dogg.jpg" alt="описание альбома")
                    div.text
                        h1 #{lang.auth.bLib}
                        p !{lang.auth.bLibp}
                div.promo.second-promo !{lang.auth.trafPromo}
                div.quote
                    p.second-quote !{lang.auth.trafPromoP}
                div.apps-block
                    a(target="_blank" href="https://itunes.apple.com/ru/app/bilajn.muzyka/id702770268?mt=8")
                        img(src="/img/basic/appstore.png" alt="" class="ios")
                    &nbsp;
                    a(target="_blank" href="https://play.google.com/store/apps/details?id=ru.beeonline.music&hl=ru")
                        img(src="/img/basic/google.png" alt="" class="android")

            div.promo-phones-wrapp
                div.promo-phones
                    div.phones
                        div.first
                            img(src="/img/basic/iphone6.png")
                        div.second
                            img(src="/img/basic/samsung6.png")
                    img.albums(src="/img/basic/Albums.jpg")
            div.promo.third-promo !{lang.auth.listenPromo}
            div.options-block
                div.free.options
                    h1 #{lang.auth.free}
                    ul
                        li #{lang.auth.promoBlocks.a}
                        li #{lang.auth.promoBlocks.e}
                        li #{lang.auth.promoBlocks.f}
                div.full.options
                    h1 #{lang.auth.full}
                        span #{lang.auth.sixRuble}
                    ul
                        li #{lang.auth.promoBlocks.a}
                        li #{lang.auth.promoBlocks.b}
                        li #{lang.auth.promoBlocks.c}
                        li #{lang.auth.promoBlocks.d}
            div.options-button
                div.free
                    div.button.open-auth(data-id="3") #{lang.auth.tryFree}
                div.full
                    div.button.open-auth(data-id="4") #{lang.auth.tryFree}
            div.footer
                div.footer-content-wrapp
                    img.bee-logo(src="/img/basic/music_ico_white.png" alt="")
                    
                    div.list
                        a(href="/faq") #{lang.auth.help}
                        a(href="/oferta") #{lang.auth.rInfo}
                        a(href="mailto:beeonline@temafon.ru") #{lang.auth.connectW}
                    
                        div.cr © 2015 Beeline.Music
                    
            script(type="text/javascript" src="/#{lang.lang}/locale")

            script(type="text/javascript").
                (function() {
                    var ga = document.createElement('script');     ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:'   == document.location.protocol ? 'https://ssl'   : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

                _gaq.push(['_trackEvent', 'Открытие лендинга'])

            script(type="text/javascript" src="/pack/scripts/auth.js")