doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Слушать бесплатно музыку онлайн, музыка в формате mp3, слушать бесплатно новинки музыки, новые песни, сборник музыки 2015
        meta(name="title" content="Слушать бесплатно музыку онлайн, музыка в формате mp3, слушать бесплатно новинки музыки, новые песни, сборник музыки 2015")
        meta(name="description" content="Все новинки музыки онлайн на Трава.Ру Слушать бесплатно новые песни, сборники музыки 2015 года в mp3 формате")
        meta(name="Keywords" content="музыка, онлайн, mp3, новинки, новые, песни, 2015, слушать, сборник")
        link(rel="icon" href="/img/basic/favicon.png" type="image/x-icon")
    body
        p
            strong Зачем нужно регистрироваться?
        p.
            Сервис «Билайн.Музыка» позволяет с помощью одного портала получить доступ к миллионам музыкальных записей как через компьютер, так и через планшеты и мобильные устройства. Для того, чтобы начать пользоваться сервисом абонент должен зарегистрироваться, это можно сделать на сайте music.beeline.ru. Если абонент регистрируется на портале не используя Мобильный интернет Билайн, то он должен подтвердить правильность введённого  абонентского номера с помощь кода подтверждения, отправленного ему через СМС.
        p
            strong Как зарегистрироваться?
        p.
            Введите номер вашего телефона (Важно! Регистрация доступна только абонентам «Билайн») и пароль в разделе «Регистрация» на сайте или в приложении, далее нажмите «Зарегистрироваться». Если вы регистрируетесь через сайт или если мы не смогли определить ваш номер автоматически, то на указанный вами номер телефона будет выслан Код подтверждения, подтверждающий правильность введенного номера. Этот Код подтверждения необходимо ввести в соответствующее поле на сайте или в приложении.
        p
            strong Почему мне не пришел Код подтверждения?
        p.
            Код подтверждения может прийти с небольшой задержкой. Если же Код подтверждения не придет по прошествии часа, обратитесь в службу поддержки, нажав на ссылку «Контакты» внизу страницы music.beeline.ru. В течение суток мы свяжемся с вами и поможем завершить регистрацию.
        p
            strong Что такое подписка?
        p.
            Подписка дает возможность неограниченного прослушивания музыки в течение определенного периода через WEB и мобильный сервис, а также возможность кэшировать музыку в память мобильных устройств для прослушивания без доступа в Интернет.
        p
            strong Как оформить подписку?
        p Подписку можно оформить в личном кабинете, в разделе «Подписка». Для оформления подписки к вашей учетной записи должен быть привязан ваш номер мобильного телефона «Билайн».
        p
            strong Сколько стоит подписка?
        p Подписка стоит 6 рублей в день.
        p
            strong Что дает подписка?
        p.
            Во-первых, подписка дает возможность безлимитно слушать музыку из каталога и загружать ее в память мобильных устройств с помощью специальных фирменных приложений. Во-вторых, каждый подписчик получает безлимитный Интернет, а это значит, что, заплатив за подписку, вы будете слушать столько музыки, сколько хотите, и при этом не будете платить за интернет-трафик, который потратите на загрузку или прослушивание записей!</p>
        p
            strong Если у меня оформлена подписка, могу ли я бесплатно скачивать контент?
        p Нет, вы сможете только кэшировать контент в память мобильного устройства с помощью специального приложения, если ваше устройство его поддерживает.
        p
            strong Как отказаться от подписки?
        p Отказаться от платной подписки можно в личном кабинете, в разделе «Подписка».</p>
        p
            strong Когда заканчивается подписка?
        p Подписка действует, пока вы ее не отключите.