doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Слушать бесплатно музыку онлайн, музыка в формате mp3, слушать бесплатно новинки музыки, новые песни, сборник музыки 2015
        meta(name="title" content="Слушать бесплатно музыку онлайн, музыка в формате mp3, слушать бесплатно новинки музыки, новые песни, сборник музыки 2015")
        meta(name="description" content="Все новинки музыки онлайн на music.beeline.ru Слушать бесплатно новые песни, сборники музыки 2015 года в mp3 формате")
        meta(name="Keywords" content="музыка, онлайн, mp3, новинки, новые, песни, 2015, слушать, сборник")
        link(rel="icon" href="/img/basic/favicon.png" type="image/x-icon")
        script(type="text/javascript" src="http://www.youtube.com/iframe_api")
        link(rel="stylesheet" type="text/css" href="/pack/styles/app.css")
        script( type="text/javascript" src="/pack/scripts/vendor/index.min.js")
        //- script(type="text/javascript" src="http://localhost:8763/socket.io/socket.io.js")

        script(type="text/javascript").
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-66845659-1']);
            _gaq.push(['_trackPageview']);

    body
        div#bee-player
        section#sidebar
        section#wrapper
            section#header
                div.title
                    h1 Рекомендации
                    i
                div#player
                div.pseudo-player
                    div.controll-bar
                        div.play.player-start-element
            section#main

        section#notification
        section#video-container
        section#main-popups

        script(type="text/javascript").
            (function() {
                var ga = document.createElement('script');     ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:'   == document.location.protocol ? 'https://ssl'   : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
            
        include ./templates/app.jade
        script(type="text/javascript").
            app = new Marionette.Application
            app.locale = !{JSON.stringify(lang)}
            app.user = !{JSON.stringify(user)}
            
        script(type="text/javascript" src="/pack/scripts/app.js")

        script(type="text/javascript").
            app.start();