doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Слушать бесплатно музыку онлайн, музыка в формате mp3, слушать бесплатно новинки музыки, новые песни, сборник музыки 2015
        meta(name="title" content="Слушать бесплатно музыку онлайн, музыка в формате mp3, слушать бесплатно новинки музыки, новые песни, сборник музыки 2015")
        meta(name="description" content="Все новинки музыки онлайн на Трава.Ру Слушать бесплатно новые песни, сборники музыки 2015 года в mp3 формате")
        meta(name="Keywords" content="музыка, онлайн, mp3, новинки, новые, песни, 2015, слушать, сборник")
        link(rel="icon" href="/img/basic/favicon.png" type="image/x-icon")
    body
        div.agree-wrapp
            p <strong>Пользовательское соглашение</strong></p>
            p Настоящее Пользовательское соглашение (далее &mdash; Соглашение) регулирует отношения между OAO «ВымпелКом», юридическим лицом, созданным в соответствии с законодательством Российской Федерации, далее по тексту Соглашения именуемое «Владелец Портала», с одной стороны, и любым физическим лицом, посещающим (пользующимся) Портал(-ом), с другой стороны, далее по тексту Соглашения именуемое «Пользователь» (далее при совместном упоминании именуемые «Стороны», а по отдельности &mdash; «Сторона»).</p>
            p Настоящее Соглашение в вопросах и условиях, не оговоренных в настоящем Соглашении, регулируется действующим законодательством Российской Федерации.</p>
            p Настоящее Соглашение в соответствии со статьей 435 Гражданского кодекса РФ является офертой, адресованной любым физическим лицам (далее по тексту &mdash; Оферта), и может быть принято физическим лицом (гражданином) не иначе как путем присоединения к Соглашению в целом.</p>
            p В отношении формы заключения настоящего Соглашения применяются нормы Гражданского кодекса, регулирующие порядок и условия заключения публичного договора (ст. 426 ГК РФ), договора присоединения (ст.428 ГК РФ), оферты (ст. 435&ndash;444 ГК РФ.)</p>
            p <strong>1. Термины и определения, используемые в настоящем Соглашении</strong></p>
            p <b>Портал “Билайн.Музыка» (далее Портал)</b> &mdash; это совокупность связанных между собой веб-страниц, которые доступны в Интернете через протоколы HTTP/HTTPS, находящихся по адресам <a href="http://music.beeline.ru">music.beeline.ru</a> и объединенных единой темой, дизайном, с помощью которых возможно распространение Контента среди Пользователей за плату;</p>
            p <b>Владелец Портала (Администрация Портала)</b> &mdash; ОАО «ВымпелКом» (127043, Москва, улица Восьмого Марта, д.10, стр.14 (ИНН 7713076301)), юридическое лицо, уполномоченное на осуществление управления Порталом, осуществление взаимодействия с Пользователями в процессе пользования ими Порталом и приобретения и/или использования ими Контента (осуществление информационной поддержки Пользователей), а также на совершение иных действий, связанных с использованием Портала.</p>
            p <b>Пользователь Портала (Пользователь)</b> &mdash; любое физическое лицо, являющееся абонентом Билайн, осуществляющее доступ к Порталу посредством сети Интернет (посредством WAP и/или WEB-протоколов) с помощью Устройств доступа.</p>
            p <b>Абонент - («Абонент Билайн»)</b> &mdash; физическое лицо, заключившее с ОАО «ВымпелКом» договор об оказании услуг связи «Билайн» и являющееся пользователем услуг, предоставляемых ОАО «ВымпелКом». Абонент однозначно идентифицируется по абонентскому номеру.</p>
            p <b>Устройство доступа</b> &mdash; принадлежащие Пользователям абонентские устройства, такие как: мобильные сотовые телефоны, смартфоны, иные персональные устройства, с помощью которых возможно получение Контента на условиях настоящего Соглашения.</p>
            p <b>Персональная страница Пользователя (Персональная страница)</b> &mdash; раздел Портала, доступный Пользователю после Регистрации или Подписки Пользователя, посредством которого Пользователь осуществляет управление своей Учетной записью (аккаунтом), в том числе осуществляет размещение фотографий, информации, приобретение Контента и иные действия, связанные с использованием Портала.</p>
            p <b>Контент</b> &mdash; музыкальные произведения, аудиовизуальные произведения фонограммы, размещенные на Портале в целях их использования и/или распространения среди Пользователей на возмездной основе. Контент по усмотрению Пользователя может быть предоставлен на условиях Загрузки и/или Стриминга.</p>
            p <b>Загрузка</b> &mdash; функционал Портала, доступный после регистрации Пользователя на Портале, при которой Пользователи могут создавать цифровые копии Контента на Устройствах доступа через сеть Интернет с помощью протокола передачи данных http за единовременную оплату без ограничения срока последующего использования Контента. За предоставление функционала Загрузка с Пользователя взимается плата согласно ценам, указанным на Портале.</p>
            p <b>Стриминг</b> &mdash; функционал Портала, доступный после регистрации Пользователя на Портале, при котором Пользователям предоставляется доступ к Контенту, размещенному на Портале, на Устройство доступа в режиме реального времени с целью просмотра и/или прослушивания с применением технологии, которая не допускает сохранение или иное копирование Контента в Устройство доступа в процессе и по завершении просмотра и/или прослушивания. За предоставление Стриминга с Пользователя взимается плата согласно ценам, указанным на Портале, за исключением случаев, предусмотренных положениями настоящего Соглашения.</p>
            p <b>Пробный период</b> &mdash; период времени, в течение которого Пользователю предоставляется возможность пользования функционалом Стриминга на безвозмездной основе. Пробный период составляет 15 (пятнадцать) календарных дней с даты активации Стриминга Пользователем путем выбора пункта (активации клавиши на Портале) «Попробовать» или «Подписаться». По окончании Пробного периода с Пользователя начинает списываться стоимость Стриминга ежедневно. Возможность пользования функцией Стриминга на условиях Пробного периода предоставляется Пользователю только один раз, вне зависимости от количества дней фактического пользования функцией Стриминга при первой активации функционала Стриминг на условиях Пробного периода.</p>
            p <b>Материалы</b> &mdash; фото- и текстовые материалы, созданные и размещаемые Пользователем на Персональной странице, на использование которых Пользователь обладает необходимым объемом прав.</p>
            p <b>Регистрация Пользователя (Регистрация)</b> &mdash; процедура предоставления Пользователем сведений, необходимых для его идентификации на Портале, в соответствии с регистрационной формой (формуляром), заполнение которой предлагается Пользователю перед принятием условий настоящего Пользовательского соглашения. Для Регистрации Пользователя на Портале  Пользователю необходимо ввести номер своего мобильного телефона. На номер мобильного телефона Пользователя поступит код подтверждения. Ввод Пользователем полученного кода и принятие условий Пользовательского соглашения подтверждает завершение Регистрации. </p>
            p <b>Авторизация</b> &mdash; активация Учетной записи Пользователя путем введения логина и пароля, указанного Пользователем при Регистрации Пользователя.</p>
            p <b>Учетная запись (аккаунт)</b> &mdash; запись, хранящаяся на Портале, содержащая сведения, необходимые для идентификации Пользователя при предоставлении доступа к Порталу, информацию для Авторизации и учета на Портале. К такой записи в том числе относятся имя Пользователя и пароль (или другие аналогичные средства аутентификации).</p>
            p <b>Акцепт Соглашения</b> &mdash; активация функционала Стриминга путем оформления подписки и/или выбор пункта (проставление «галочки») «Я прочитал(а) и согласен(на) с условиями Соглашения» при осуществлении Регистрации в Чекбоксе. После совершения Акцепта Соглашения Пользователь считается принявшим безоговорочно и в полном объеме условия настоящего Соглашения.</p>
            p <b>Чекбокс</b> &mdash; элемент формы, выполненный в качестве квадратика и размещенный на Портале в регистрационной форме. При выборе (активации) данного квадратика в нем появляется знак «галочки».</p>
            p <b>Профиль Пользователя (Профиль)</b> &mdash; это совокупность WEB/WAP-страниц Портала, которые содержат текущее окружение Пользователя (личные данные, настройки и параметры приложений). Профиль является неотъемлемой частью каждой Учётной записи.</p>

            p <strong>2. Предмет Соглашения</strong></p>
            p 2.1. Для посещения или использования Портала/Контента Пользователь обязан подтвердить, что прочитал, понял и согласен соблюдать настоящее Соглашение (произвести Акцепт), С момента Акцепта Соглашения Пользователь имеет права и исполняет обязанности, предусмотренные настоящим Соглашением. </p>
            p 2.2. После Акцепта настоящего Соглашения Пользователь вправе активировать на Портале функционал Загрузка и/или  Стриминг, используя данные Учетной записи Пользователя. За предоставление функционала Загрузка и/или Стриминг с Пользователя взимается плата согласно ценам, указанным на Портале.</p>
            p 2.3. Функцию Стриминг абонент Билайн может подключить без Регистрации/Авторизации на портале, оформив подписку, позвонив по номеру 0847. Звонок на номер является подтверждением согласия абонента с условиями данного Соглашения и является способом автоматической Регистрации и авторизации.</p>
            p 2.4. Владелец Портала оставляет за собой право по своему личному усмотрению изменять настоящее Соглашение при условии публикации данного Соглашения по адресу <a href="http://www.music.beeline.ru/oferta">http://www.music.beeline.ru/oferta</a> за 10 (Десять) календарных дней до вступления таких изменений в силу. В случае если Пользователь продолжает пользоваться Порталом/Контентом после изменения Соглашения, это означает, что такие изменения приняты Пользователем.</p>
            p 2.5. Если Пользователь не согласен соблюдать настоящее Соглашение, такой Пользователь не должен использовать Портал и Контент, в этом случае он должен обратиться к Владельцу Портала с просьбой удалить свою Учетную запись и (или) покинуть Портал.</p>

            p <strong>3. Регистрация, безопасность Учетной записи</strong></p>
            p 3.1. Регистрация Пользователя на Портале осуществляется путем заполнения соответствующей регистрационной формы.</p>
            p 3.2. Пользователь обязуется отразить в регистрационной форме достоверную, полную и точную информацию о себе и поддерживать эту информацию в актуальном состоянии.</p>
            p 3.3. В случае предоставления Пользователем недостоверной, неполной или неточной информации Владелец Портала имеет право приостановить либо отменить регистрацию и\или отказать Пользователю в использовании Портала/Контента без выплаты какой-либо компенсации. За предоставление недостоверной, неполной или неточной информации и возникшие вследствие этого негативные последствия несет ответственность Пользователь.</p>
            p 3.4. С момента подтверждения Регистрации и Авторизации или после оформления подписки Пользователь приобретает статус зарегистрированного Пользователя и получает возможность формировать свои списки воспроизведения Контента, оплачивать Контент и/или активировать услугу Стриминг (подписку), а также частично прослушивать музыкальные произведения (их фонограммы), просматривать аудиовизуальные произведения, входящие в состав Контента, целиком.</p>
            p 3.5. Пользователь соглашается с тем, что действия, совершенные на Портале после Авторизации Пользователя, признаются действиями Пользователя и все распоряжения об использовании и/или приобретении Контента, которые отдаются после Авторизации Пользователя, считаются отданными Пользователем лично.</p>
            p 3.6. При обращении с претензией к Владельцу Портала Пользователь должен указать свои регистрационные данные (номер телефона).</p>
            p 3.7. С момента подтверждения Регистрации на Портале Пользователь соглашается на использование Владельцем Портала персональных данных Пользователя, указанных им на странице Профиля, при заключении, исполнении, прекращении Соглашения, для их обработки (систематизации, накопления, хранения, уточнения, использования, уничтожения) в целях обеспечения работы сервисов Портала, в том числе для информационного обслуживания Пользователя.</p>

            p Пользователь  понимает и соглашается с тем, что данные, указанные им при регистрации, авторизации, а также в Профиле, будут обрабатываться Владельцем Портала, либо третьими лицами по поручению Владельца Портала, и дают согласие на такую обработку при принятии настоящего Соглашения с момента регистрации. </p>
            p При этом Владелец Портала обязуется соблюдать следующие правила и предоставляет Пользователю следующие гарантии в отношении обращения с данными, являющимися персональными данными Пользователя, как они определены Федеральным законом РФ №152-ФЗ от 27 июля 2006 г. «О персональных данных» (далее &ndash; Закон «О персональных данных»):
            ul(style="list-style-type: disc; margin-left:40px;")
                li обеспечить обработку персональных данных с соблюдением всех применимых требований законодательства Российской Федерации в области защиты персональных данных, в том числе с соблюдением принципов, требований, обязательств оператора персональных данных, установленных Законом «О персональных данных»;
                li обрабатывать персональные данные только в объеме и в целях реализации Соглашения;
                li в случае если Владелец Портала в целях исполнения своих обязательств перед Пользователями должен передать или иным образом раскрыть персональные данные субъектов персональных данных третьим лицам, Владелец Портала обязуется осуществлять указанные действия с соблюдением требований Закона «О персональных данных»;
                li нести ответственность за охрану и обеспечение безопасности и конфиденциальности персональных данных при их обработке в соответствии с требованиями законодательства РФ. 

            p Принятие настоящего  Соглашения Пользователем означает соблюдение формы согласия на обработку персональных данных, предусмотренной законодательством РФ.</p>
            p Согласие на обработку персональных данных, указанное в настоящем Соглашении, действует в течение всего срока предоставления доступа к Порталу и пяти лет после его окончания.</p>
            p Добровольно предоставляя Владельцу Портала свои персональные данные, Пользователи подтверждают свое согласие на обработку любым способом и распространение таких данных для целей предоставления доступа к Порталу, который гарантирует необходимые меры защиты персональных данных от несанкционированного разглашения.</p>
            p Пользователь вправе отозвать свое согласие на обработку персональных данных, направив Владельцу Портала соответствующее уведомление заказным письмом с уведомлением о вручении. </p>
            p Термины «обработка персональных данных», «конфиденциальность персональных данных» понимаются в значении, определенном для них Законом «О персональных данных».</p>
            p 3.8. Регистрируясь на Портале/ оформляя Подписку, Пользователь соглашается на получение сообщений по указанным при регистрации e-mail и/или абонентскому номеру о следующих общих событиях, произошедших на Портале, в том числе размещение нового Контента, появление специальных предложений и проведении акций.</p>
            p 3.9. Регистрируясь на Портале / оформляя Подписку, Пользователь соглашается на получение сообщений по указанным при регистрации e-mail и /или абонентскому номеру о его личных событиях, в том числе получение бонусов и подарков, получение личных сообщений, получение информации и сообщений, получение комментариев к размещенному Пользователем Материалам, получение предложения дружить от других Пользователей, действия друзей Пользователя.</p>
            p 3.10. Пользователь вправе отказаться от получения сообщений, указанных в п. 3.9. и п.3.10. настоящего Соглашения, посредством настроек на Персональной странице Пользователя.</p>

            p <strong>4. Использование/приобретение Контента</strong></p>
            p 4.1. Все вопросы приобретения прав доступа в Интернет, покупки и наладки для этого соответствующего оборудования и программных продуктов решаются Пользователем самостоятельно и не подпадают под действие настоящего Соглашения.</p>
            p 4.2. Для приобретения выбранного Контента на условиях настоящего Соглашения Пользователь должен нажать на кнопку со стоимостью Контента, вследствие чего с мобильного счета Пользователя будут списаны средства в размере, соответствующем стоимости Контента указанной на кнопке.</p>
            p 4.3. Цены и наличие какого-либо Контента устанавливается Владельцем Портала самостоятельно и указываются в рублях с учетом НДС. Владелец Портала вправе в одностороннем порядке изменить цены и ассортимент Контента в любой момент.</p>
            p 4.4. После приобретения Контента на условиях настоящего Соглашения Пользователь приобретает право воспроизводить такой Контент исключительно для личного некоммерческого использования, если приобретение Контента предполагает последующее воспроизведение Контента, а не разовое использование.</p>

            p <strong>5. Запрещенные действия</strong></p>
            p При использовании Портала/Контента запрещены следующие действия:</p>
            p 5.1. Накапливать или собирать адреса электронной почты или другую контактную информацию Пользователей Портала автоматизированными или иными способами для целей рассылки не запрошенных получателем сообщений любого характера и содержания (спама) или другой нежелательной информации.</p>
            p 5.2. Использовать Портал любым способом, который может помешать нормальному функционированию Портала и его сервисов.</p>
            p 5.3. Использовать автоматизированные скрипты (программы) для сбора информации и (или) взаимодействия с Порталом и его сервисами.</p>
            p 5.4. Загружать, публиковать, передавать, иным образом доводить до всеобщего сведения, в том числе при отправке личных сообщений в сообществах, в чате (далее &mdash; размещать) любую информацию, которая не соответствует законодательству Российской Федерации, содержит угрозы, дискредитирует или оскорбляет других Пользователей или третьих лиц, является вульгарной, непристойной, носит мошеннический характер, посягает на личные или публичные интересы, пропагандирует расовую, религиозную, этническую ненависть или вражду, любую иную информацию, нарушающую охраняемые законом права человека и гражданина.</p>
            p 5.5. Регистрировать более чем один аккаунт, регистрировать аккаунт от имени лица, которым не является Пользователь (фальшивый аккаунт), или регистрировать аккаунт группы лиц или организации; передавать регистрационные данные другим лицам;</p>
            p 5.6. Вводить других Пользователей в заблуждение относительно своей личности, используя аккаунт другого человека, умышленно искажать представление о самом себе, своем возрасте или своих отношениях с другими лицами или организациями.</p>
            p 5.7. Размещать любую информацию рекламного характера, коммерческие предложения, агитационные материалы, распространять спам, сообщения-цепочки (сообщения, требующие их передачи одному или нескольким пользователям), схемы финансовых пирамид или призывы в них участвовать, любую другую навязчивую информацию, кроме случаев, когда размещение такой информации было письменно одобрено Владельцем Портала.</p>
            p 5.8. Размещать на Портале домашние адреса, номера телефонов, адреса электронной почты, паспортные данные и прочую личную информацию других Пользователей или любых третьих лиц без их личного согласия на такие действия.</p>
            p 5.9. Размещать на Портале любые файлы, которые содержат или могут содержать вирусы и другие вредоносные программы.</p>
            p 5.10. Описывать или пропагандировать преступную деятельность, размещать на Портале инструкции или руководства по совершению преступных действий.</p>
            p 5.11. Пытаться любым способом путем подбора пароля, взлома либо других действий получать доступ к чужому аккаунту вопреки воле лица, которому он принадлежит.</p>
            p 5.12. Размещать любую информацию (Материалы), нарушающую исключительные права Пользователей или третьих лиц на объекты интеллектуальной собственности.</p>
            p 5.13. Размещать любую другую информацию, которая, по мнению Владельца Портала, является нежелательной, не соответствует целям создания Портала, ущемляет интересы Пользователей или по другим причинам является нежелательной для размещения на Портале.</p>

            p <strong>6. Права на Контент, размещенный на Портале</strong></p>
            p 6.1. Права на использование Контента, размещенного на Портале, в том числе элементы дизайна, текст, графические изображения, иллюстрации, скрипты, программы, звуки и другие объекты интеллектуальной собственности и их подборки, исключая Материалы Пользователей, являются охраняемыми в соответствии с действующим законодательством результатами интеллектуальной деятельности и принадлежат Владельцу Портала, все права на эти объекты интеллектуальной собственности защищены.</p>
            p 6.2. Кроме случаев, установленных настоящим Соглашением, а также действующим законодательством Российской Федерации, никакой Контент не может быть скопирован (воспроизведен), переработан, распространен, отображен в окне на другом Портале, опубликован, скачан, передан, продан или иным способом использован целиком или по частям, без предварительного разрешения Владельца Портала, либо правообладателя такого Контента.</p>
            p 6.3. Использование Контента и Материалов, к которым Пользователь получил доступ исключительно для личного некоммерческого использования, допускается при условии сохранения всех знаков авторства (копирайтов) или других уведомлений об авторстве, сохранения имени автора в неизменном виде, сохранении произведения (единицы Контента) в неизменном виде.</p>
            p 6.4. Любое использование Портала или Контента, кроме разрешенного в настоящем Соглашении, без предварительного письменного разрешения правообладателя категорически запрещено.</p>
            p 6.5. В случае поступления от соответствующего правообладателя мотивированной жалобы о нарушении его охраняемых законом прав Владелец Портала оставляет за собой право применить в отношении нарушителя меры, предусмотренные в п.12.9 Соглашения.</p>
            p 6.6. Размещая свои Материалы на странице Профиля, Пользователь предоставляет Владельцу Портала неисключительную лицензию на распространение, переработку, перевод, публичный показ, передачу в эфир, сообщение для всеобщего сведения по кабелю, право сообщать их таким образом, при котором любое лицо может иметь доступ к ним в интерактивном режиме из любого места и в любое время по своему выбору для целей Портала или в связи с ними, в том числе для его популяризации без последующей оплаты. Для указанных целей Владелец Портала может изготавливать производные произведения или помещать Материалы Пользователей в качестве составных частей в соответствующие сборники, совершать иные действия, служащие достижению указанных целей. Настоящим Пользователь разрешает Владельцу Портала использовать Материалы в рекламных и иных маркетинговых целях.</p>
            p 6.7. Если Пользователь решит удалить свои Материалы, неисключительная лицензия Владельца Портала на использование таких Материалов, упомянутая в п. 6.6. настоящего Соглашения, будет автоматически отозвана, однако Владелец Портала имеет право сохранять архивные копии Материалов Пользователей.</p>

            p <strong>7. Сайты и материалы третьих лиц</strong></p>
            p 7.1. Ссылка на любой сайт, продукт, услугу, любую информацию коммерческого или некоммерческого характера, размещенная на Портале, не является одобрением или рекомендацией данных продуктов (услуг) со стороны Владельца Портала.</p>
            p 7.2. Если Пользователь решит покинуть Портал и перейти к сайтам третьих лиц или использовать или установить программы третьих лиц, то все риски, связанные с такими действиями Пользователь берет на себя и с этого момента настоящее Соглашение не будет применяться. В дальнейших отношениях Пользователю стоит руководствоваться применимым законодательством.</p>
            p 7.3. Все трансляции телеканалов, внешние ссылки на трансляции телеканалов, аудиовизуальное воспроизведение материалов этих телеканалов, а также материалы, передаваемые подобным образом, являются собственностью этих телеканалов, представлены на Портале исключительно для ознакомления и расположены на серверах правообладателей. Владелец Портала никоим образом не несет ответственность за содержание материалов, передаваемых таким образом, и соответствие этих материалов законодательству Российской Федерации. Если Пользователь не согласен с данными требованиями, Пользователь должен немедленно покинуть Портал.</p>

            p <strong>8. Права Пользователя</strong></p>
            p Пользователь вправе:</p>
            p 8.1. Зарегистрированным Пользователям предоставляется доступ ко всем функциям Портала, в том числе предоставляется возможность размещать информацию о себе.</p>
            p 8.2. Добавлять любой понравившийся Контент в Избранное на условиях, предусмотренных настоящим Соглашением (на возмездной основе).</p>
            p 8.3. Участвовать в обсуждении любого Контента и Материалов Пользователей, размещенных на Портале.</p>
            p 8.4. Участвовать в конкурсах и викторинах, проводимых на страницах Портала.</p>
            p 8.5. В любой момент прекратить размещение своих Материалов, удалив их со страниц Портала.</p>
            p 8.6. Размещение Материалов на Портале не ограничивает права Пользователя на использование данных Материалов на других серверах сети Интернет, в печатных изданиях, издательствах, а также передачу или отчуждение прав на них и на совершение иных действий в отношении данных Материалов.</p>
            p 8.7. В любой момент удалить свой Аккаунт с Портала, путем обращения к Владельцу Портала.</p>

            p <strong>9. Обязанности Пользователя</strong></p>
            p 9.1. Ознакомиться с условиями настоящего Соглашения.</p>
            p 9.2. Соблюдать условия настоящего Соглашения.</p>
            p 9.3. Не осуществлять действия, указанные в разделе 5 настоящего Соглашения.</p>
            p 9.4. В случае передачи авторских, смежных и иных прав на Материалы третьим лицам, исключающей возможность использования Материалов в рамках Портала, Пользователь обязуется удалить такие Материалы с Портала самостоятельно и нести полную ответственность в связи с неисполнением данной обязанности.</p>

            p <strong>10. Права Владельца Портала</strong></p>
            p 10.1 Владелец Портала имеет право:</p>
            p 10.1.1. Определять состав сервисов Портала, его структуру и внешний вид, разрешать и ограничивать доступ к Порталу.</p>
            p 10.1.2. Взимать с пользователей плату за сервисы, доступные на Портале, решать вопросы, связанные с использованием Портала/Контента, в том числе на возмездной основе, в частности вопросы о возможности размещения на Портале рекламы, участия в партнерских программах и т. д.</p>
            p 10.1.3. Владелец Портала может, но не обязан, просматривать Портал на наличие запрещенных Материалов (модерация) и может удалять или перемещать (без предупреждения) любой Контент и/или Материалы Пользователей по своему личному усмотрению, по любой причине или без причины, без всяких ограничений, а также перемещать и удалять Материалы, которые, по мнению Владельца Портала, нарушают настоящее Соглашение или которые могут быть незаконными или могут нарушать права, причинить вред или угрожать безопасности других Пользователей или третьих лиц.</p>
            p 10.2. В случае нарушения Пользователем настоящего Соглашения Владелец Портала вправе приостанавливать, ограничивать или прекращать доступ такого Пользователя ко всем или к любому из разделов или сервисов Портала в одностороннем порядке, в любое время по любой причине или без объяснения причин, с предварительным уведомлением или без такового, не отвечая за любой вред, который может быть причинен Пользователю таким действием (в том числе расторгнуть Соглашение полностью, удалив данные Пользователя с Портала).</p>

            p <strong>11. Обязанности Владельца Портала</strong></p>
            p 11.1. Осуществлять текущее управление разделами Портала, на которых регистрируются и публикуют свои Материалы Пользователи.</p>
            p 11.2. Принимать организационные решения, связанные с работой Портала.</p>
            p 11.3. Обрабатывать персональные данные, сообщенные Пользователями в порядке, предусмотренном действующим законодательством и условиями настоящего Соглашения.</p>
            p 11.4. Обеспечить открытость и гласность информации, опубликованной на Портале, в объемах, предусмотренных законодательством РФ.</p>

            p <strong>12. Гарантии и ответственность Пользователя</strong></p>
            p 12.1. Пользователь несет личную ответственность за любые Материалы или иную информацию, которые загружает или иным образом доводит до всеобщего сведения (публикует) на Портале или с его помощью.</p>
            p 12.2. Пользователь несет личную ответственность за сохранность Материалов (создание резервных копий), который размещает или хранит на Портале.</p>
            p 12.3. Пользователь гарантирует, что все авторские, смежные и иные необходимые права на публикуемые Материалы принадлежат ему и не переданы третьим лицам таким образом, что такая передача исключает возможность дальнейшего нахождения Материалов на Портале.</p>
            p 12.4. Пользователь несет полную личную ответственность за содержание Материалов, за соответствие его нормам российского или международного законодательства, в том числе перед Владельцем Портала и любыми третьими лицами.</p>
            p 12.5. Пользователь несет полную личную ответственность за соответствие способов использования им своих и чужих Материалов и другой информации, представленной на Портале, нормам российского или международного законодательства (в том числе нормам законодательства о защите прав на результаты интеллектуальной деятельности и о защите информации).</p>
            p 12.6. Пользователь несет ответственность за безопасность логина и пароля, а также за все, что будет сделано на Портале после Авторизации под его логином и паролем. Владелец Портала имеет право запретить использование определенных логинов и/или изъять их из обращения. Пользователь обязан немедленно уведомить Владельца Портала о любом случае неавторизованного доступа с его логином и паролем и/или о любом нарушении безопасности. Владелец Портала не отвечает за возможную потерю или порчу данных, которая может произойти из-за нарушения Пользователем положений этой части Соглашения.</p>
            p 12.7. В случае передачи логина/пароля третьему лицу всю ответственность несет непосредственно сам Пользователь. За ущерб, причиненный в результате несанкционированного доступа к персональной информации и Счету Пользователя, Владелец Портала ответственности не несет.</p>
            p 12.8. Пользователь несет ответственность перед Владельцем Портала за соблюдение условий настоящего Соглашения.</p>
            p 12.9. Пользователь соглашается с тем, что возместит Владельцу Портала любые убытки, понесенные Владельцем Портала в связи с использованием Пользователем Портала и/или нарушением Пользователем настоящего Соглашения и/или прав на результаты интеллектуальной деятельности третьих лиц. В случае если в отношении Владельца Портала будет вынесено судебное решение о взыскании ущерба за распространение Материалов Пользователей, не соответствующих требованиям действующего законодательства и нарушающих права третьих лиц на результаты интеллектуальной деятельности, Пользователь обязуется на основании письменного требования Владельца Портала возместить в регрессном порядке сумму ущерба, присужденную Владельцу Портала.</p>

            p <strong>13. Ограничение ответственности Владельца Портала</strong></p>
            p 13.1. Несмотря на сказанное в данном Соглашении, Владелец Портала никаким образом не обязан контролировать содержание Материалов Пользователей и ни при каких обстоятельствах не несет ответственности за содержание Материалов Пользователей и за соответствие их требованиям законодательства, за нарушение авторских, смежных и иных прав, несанкционированное использование товарных знаков, фирменных наименований и логотипов, а также за возможные нарушения прав третьих лиц в связи с размещением Материалов на Портале. В случае поступления претензий от третьих лиц, связанных с размещением Материалов Пользователя, Пользователь самостоятельно и за свой счет урегулирует указанные претензии.</p>
            p 13.2. В случае возникновения нежелательных последствий, понесенных Пользователем в результате пользования функциями Портала, Владелец Портала обязуется рассматривать обращения Пользователей и принимать меры для устранения таких последствий в соответствии с условиями настоящего Соглашения и законодательством РФ.</p>
            p 13.4. Владелец Портала обеспечивает работу Портала, однако не несет ответственность за его бесперебойную работу, за потерю каких-либо данных, размещенных на Портале, или за причинение любых других убытков, которые возникли или могут возникнуть при пользовании Порталом.</p>
            p 13.5. Владелец Портала не несет ответственности за неисполнение либо ненадлежащее исполнение своих обязательств вследствие сбоев в телекоммуникационных и энергетических сетях, действий вредоносных программ, а также недобросовестных действий третьих лиц, направленных на несанкционированный доступ и/или выведение из строя программного и/или аппаратного комплекса.</p>
            p 13.6. Владелец Портала не обязуется возвращать или уничтожать любые Материалы, публикуемые или предоставленные Пользователями. С момента удаления Владельцем или Администрацией Портала Учетной записи Пользователя все Материалы Пользователя, находящиеся на Персональной странице Пользователя, также удаляются.</p>

            p <strong>14. Заключительные положения</strong></p>
            p 14.1. Настоящее Соглашение регулируется и толкуется в соответствии с законодательством Российской Федерации. Вопросы, не урегулированные Соглашением, подлежат разрешению в соответствии с законодательством Российской Федерации.</p>
            p 14.2. Данное Соглашение и любые опубликованные изменения к данному Соглашению действуют в полном объеме и остаются в силе в течение всего периода использования Пользователем Портала вне зависимости от регистрации на Портале.</p>
            p 14.3. Если по тем или иным причинам одна или несколько норм настоящего Соглашения является недействительной или не имеющей юридической силы, это не оказывает влияния на действительность или применимость остальных норм.</p>
            p 14.4. По всем вопросам и претензиям Пользователи могут обращаться к Владельцу Портала отправив письмо на электронную почту <a href="mailto:beeonline@temafon.ru">beeonline@temafon.ru</a></p>
    