//albums styles

.playlists-wrapper
  box-sizing border-box
  padding 20px 30px 0

  text-align justify
  /* Обнуляем для родителя*/
  line-height 0
  font-size 1px /* 1px для Opera */

  /* Лекарство для IE6-7*/
  text-justify newspaper
  zoom 1

  &:after
    width 100%
    height 0
    visibility hidden
    overflow hidden
    content ''
    display inline-block

  .playlist-item
    width 200px
    margin-bottom 27px

    display inline-block
    line-height normal
    /* Востанавливаем у потомков, кроме последнего*/
    font-size 13px

    /* Без него в Opera будет отступ под элементами */
    vertical-align top

    /* эмуляция inline-block для IE6-7*/
    //display  inline
    //zoom  1

    &.active
      .controll
        .elements
          .player-controll
            display block

    &.pause
      .controll
        .elements
          .player-controll
            background-size auto 400px
            background-position  -257px -241px

            &:hover
              background-position -172px -241px

    .controll
      width 200px
      height 200px
      position relative

      &:after
        display none
        content " "
        position absolute
        background rgba(0,0,0,0.85)
        width 202px
        height 202px
        border-radius 202px
        left -1px
        top -1px

      &:hover
        &:after
          display block

        .elements
          z-index 2
          .move
          .options
          .player-controll
            display block
      img
        width 100%
        border-radius 200px

      .elements
        height 80px
        width 200px
        position absolute
        top 50%
        margin-top -40px
        z-index 1

        & > div
          cursor pointer

        .move
          position absolute
          left 10px
          top 20px
          display none

          &.add
            move-icon()
          &.delete
            move-icon()
            transform rotate(45deg)

        .options
          right 10px
          top 20px
          position absolute
          display none
          options-icon()

          .options-wrapper
            240px

        .player-controll
          width 80px
          height 80px
          margin 0 auto
          background url("/img/basic/Resources.svg")
          background-size auto 400px
          background-position  -257px -111px
          display none

          &:hover
            background-position -172px -111px


    .info
      text-align center
      & > div
        overflow ellipsis
        font-size 15px

        &:hover
          cursor pointer
          text-decoration underline

      .owner
        font-family 'AvenirNextMedium', arial

        &:first-letter
          text-transform uppercase

      .title
        color #8F8F8F
        font-family 'AvenirNextRegular', arial
        margin-top 8px

        &:first-letter
          text-transform uppercase


.inline-playlists-wrapper
  padding-bottom 60px

  .playlist-item
    &.open
      .body .shuffle-tracks
        display block


    .head
      box-sizing border-box
      padding-left 30px
      height 60px
      clearfix()

      &:hover
        background #F8F8F8
        cursor pointer

      img
        float left
        height 50px
        margin 5px 20px 0 0
        border-radius 50px

      .info
        .title
          height 60px
          line-height 60px
          font-size 15px
          font-family 'AvenirNextMedium', arial

        .release
          font-size 15px
          color #8F8F8F
          font-family 'AvenirNextRegular', arial

    .body
      .shuffle-tracks
        display none
        shuffle-track-button()
        margin 10px auto