script(type="text/template" id="slider-item-tpl").
    <img src="<%-large%>" />


script(type="text/template" id="slider-layout-tpl").
    <div class="slider-wrapper">
        <ul class="slider-scroll">

        </ul>
    </div>
    <div class="slider-controll-element">
    </div>

script(type="text/template" id="new-content-layout").
    <div class="slider"></div>
    <div class="items-content">
        <div class="content-tab">
            <div class="tracks active"><span><%- app.locale.main.trks %></span></div>
            <div class="albums"><span><%- app.locale.main.albms %></span></div>
        </div>
        <div class="content"></div>
    </div>


script(type="text/template" id="recomend-artist-popular-item-tpl").
    <% if (type == 'album') { %>
    <div class="controll controll-album">
        <div class="elements">
            <div class="move"></div>
            <div class="options"></div>
            <div class="play-album player-controll"></div>
        </div>
    </div>
    <div class="info">
        <div class="title title-album"><%-title%></div>
        <div class="release"><%-release_year%></div>
    </div>
    <% } else if (type == 'track') { %>
    <div class="controll">
        <div class="elements">
            <div class="player-controll play-track"></div>
        </div>
    </div>
    <div class="info">
        <div class="title"><%-title%></div>
    </div>
    <% } %>

script(type="text/template" id="recomend-blocks-layout-tpl").
    <div class="playlists-container"></div>
    <div class="releases-container"></div>
    <div class="artist-container"></div>
    <div class="charts-container"></div>
    <div class="clips-container"></div>

script(type="text/template" id="recomend-charts-item-tpl").
    <%
        if (track) {
            if (dynamics > 0) {
              var indexClass = 'green'
            } else if (dynamics < 0) {
              var indexClass = 'red'
            } else {
              var indexClass = ''
            }
        } else {
            var indexClass = ''
        }
    %>
    <div class="index <%- indexClass %>"><%- index %></div>
    <div class="chart-info">
        <div class="artist"><%-artist%></div>
        <div class="title"><%-title%></div>
    </div>
    <% if (track) { %>
    <div class="duration"><%- track.duration %></div>
    <% } %>


script(type="text/template" id="recomend-charts-block-tpl").
    <h1>ЧАРТ</h1>
    <h2><%-title%></h2>
    <div class="charts-container">

    </div>


script(type="text/template" id="recomend-block-container-tpl").
    <div class="recomend-block-wrapp">
        <div class="block-head">
            <div class="title"><%-title%></div>
            <div class="description"><%-description%></div>
        </div>
        <div class="block-content">

        </div>
    </div>


script(type="text/template" id="track-tpl").
    <div class="controll-element">

    </div>
    <div class="label">
        <div class="title"><%-title%></div>
        <div class="artist"><%-artist%></div>
        <div class="album"><%-release_title%></div>
    </div>
    <div class="info">
        <div class="time"><%-duration%></div>
        <div class="options">
            <% if ( typeof(playlistTrack) !== "undefined" ) { %>
            <div class="playlist-track-controll"></div>
            <% } else { %>
            <div class="track-controll"></div>
            <% } %>
            <div class="more-options">
                <div class="options-content"></div>
            </div>
        </div>
    </div>


script(type="text/template" id="playlist-item-tpl").
    <div class="controll">
        <div class="elements">
            <div class="player-controll"></div>
        </div>
    </div>
    <div class="info">
        <div class="title"><%-title%></div>
        <div class="owner"><%-owner.profile_name%></div>
    </div>


script(type="text/template" id="album-item-tpl").
    <div class="controll">
        <div class="elements">
            <div class="move"></div>
            <div class="options"></div>
            <div class="player-controll"></div>
        </div>
    </div>
    <div class="info">
        <div class="title"><%-title%></div>
        <div class="artist"><%-artist%></div>
    </div>


script(type="text/template" id="recomend-album-item-tpl").
    <div class="controll">
        <div class="elements">
            <div class="move"></div>
            <div class="options"></div>
            <div class="player-controll"></div>
        </div>
    </div>
    <div class="info">
        <div class="label">Альбом</div>
        <div class="title"><%-title%></div>
        <div class="artist"><%-artist%></div>
    </div>


script(type="text/template" id="recomend-playlist-item-tpl").
    <div class="controll">
        <div class="elements">
            <div class="player-controll"></div>
        </div>
    </div>
    <div class="info">
        <div class="label">Плейлист</div>
        <div class="title"><%-title%></div>
        <div class="artist"><%-owner.profile_name%></div>
    </div>


script(type="text/template" id="recomend-track-item-tpl").
    <div class="controll">
        <div class="elements">
            <div class="player-controll"></div>
        </div>
    </div>
    <div class="info">
        <div class="label">Трек</div>
        <div class="title"><%-title%></div>
        <div class="artist"><%-artist%></div>
    </div>


script(type="text/template" id="recomend-artist-item-tpl").
    <div class="controll">
        <div class="elements">
        </div>
    </div>
    <div class="info">
        <div class="label">Артист</div>
        <div class="title"><%-name%></div>
    </div>


script(type="text/template" id="album-page-tpl").
    <div class="album-head-wrapp" style="background-image: url('<% print(app.createImgLink(img,'150x150',true)) %>')">
        <div class="album-head">
            <div class="options">
                <img src="<% print(app.createImgLink(img,'300x300')) %>" alt="<%- title %>"/>

                <ul class="list">
                    <% if (inFavorite) { %>
                    <li class="delete"><%- app.locale.albumPage.delete %></li>
                    <% } else { %>
                    <li class="save"><%- app.locale.albumPage.save %></li>
                    <% } %>

                    <li class="go-to-author"><%- app.locale.albumPage.toAuthor %></li>
                </ul>
            </div>

            <div class="info">
                <span><%- app.locale.albumPage.album %></span>

                <h1><%- title %></h1>

                <div class="author-wrapp">
                    <div class="author"><%- app.locale.albumPage.author %>: <span><%- artist %></span></div>
                    <%
                        var min = parseInt(duration / 60);
                        if (min.length < 2){
                            min = '0'+min;
                        }
                        var sec = parseInt(duration % 60);
                        if (sec.length < 2){
                            sec = '0'+sec;
                        }
                    %>
                    <div class="release"><%-release_year%> • <%-track_count%> <%- app.locale.albumPage.songs %> • <%-min%> <%- app.locale.albumPage.min %>. <%- sec %> sec.</div>
                </div>
                <div class="shuffle-track"><%- app.locale.albumPage.shuffle %></div>
            </div>
        </div>
    </div>
    <div class="album-body">

    </div>


script(type="text/template" id="user-page-tpl").
    <div class="user-head-wrapp" style="background-image: url('<% print(app.createImgLink(avatar,'150x150',true)) %>')">
        <div class="user-head">
            <div class="options">
                <img src="<% print(app.createImgLink(avatar,'300x300')) %>" alt="<%- profile_name %>"/>

                <ul class="list">
                    <% if (is_subscribed_to_user) { %>
                    <li class="delete">Отписаться</li>
                    <% } else { %>
                    <li class="save">Подписаться</li>
                    <% } %>
                </ul>
            </div>

            <div class="info">
                <span>Пользователь</span>

                <h1><%- profile_name %></h1>


                <div class="shuffle-track"><%- app.locale.albumPage.shuffle %></div>
            </div>
        </div>
        <ul class="tabs">
            <li class="tracks">Треки</li>
            <li class="albums">Альбомы</li>
            <li class="playlists">Плейлисты</li>
            <li class="followers">Подписчики</li>
            <li class="followed">Подписки</li>
        </ul>
    </div>
    <div class="page-body">
        <div class="content"></div>
    </div>


script(type="text/template" id="artist-page-tpl").
    <div class="artist-head-wrapp" style="background-image: url('<% print(app.createImgLink(img,'150x150',true)) %>')">
        <div class="artist-head">
            <div class="options">
                <img src="<% print(app.createImgLink(img,'300x300')) %>" alt="<%- title %>"/>

                
                
                
                
                
            </div>

            <div class="info">
                <span><%- app.locale.artistPage.artist %></span>

                <h1><%- name %></h1>

                <div class="author-wrapp">
                    <div class="subscribe">Подписчиков: <span>2,777,000</span></div>
                </div>
                <div class="shuffle-track"><%- app.locale.artistPage.shuffle %></div>
            </div>
            <div class="tabs">
                <div class="tracks active"><span><%- app.locale.artistPage.trks %></span></div>
                <div class="video"><span><%- app.locale.artistPage.clps %></span></div>
                <div class="about"><span></span></div>
            </div>
        </div>
    </div>
    <div class="artist-content-wrapp">
        <div class="content">

        </div>
    </div>



script(type="text/template" id="playlist-page-tpl").
    <div class="playlist-head-wrapp" style="background-image: url('<% print(app.createImgLink(image,'150x150',true)) %>')">
        <div class="playlist-head">
            <div class="options">
                <img src="<% print(app.createImgLink(image,'300x300')) %>" alt="<%- title %>"/>

                
                
                
                
                
            </div>

            <div class="info">
                <span><%- app.locale.playlistPage.playlist %></span>

                <h1><%- title %></h1>

                <div class="author-wrapp">

                    <div class="author"><%- app.locale.playlistPage.author %>: <span><%- owner.profile_name %></span></div>
                    <%
                        var min = parseInt(duration / 60);
                        if (min.length < 2){
                            min = '0'+min;
                        }
                        var sec = parseInt(duration % 60);
                        if (sec.length < 2){
                            sec = '0'+sec;
                        }
                        date = new Date(date_create)
                    %>
                    <div class="release"><%-date.getFullYear()%> • <%-items_count%> <%- app.locale.playlistPage.songs %> • <%-min%> <%- app.locale.playlistPage.min %>. <%- sec %> <%- app.locale.playlistPage.sec %>.</div>


                </div>

                <div class="shuffle-track"><%- app.locale.playlistPage.shuffle %></div>
            </div>
        </div>
    </div>
    <div class="playlist-content-wrapp">
        <div class="content">

        </div>
    </div>



script(type="text/template" id="sidebar-menu-item-tpl").
    <a href="/<%- href %>"><%-title%></a>


script(type="text/template" id="sidebar-user-tpl").
    <img src="<%- app.createImgLink(avatar,'50x50') %>">
    <%
        var str = phone,
        us_name = '+7 ('+str.slice(0,3)+') '+str.slice(3,6)+'-'+str.slice(6,8)+'-'+str.slice(8,10);
        if (profile_name == null) {
            var text = us_name;
        } else {
            var text = profile_name;
        }

     %>
    <h1 class="title"><%-text%></h1>


script(type="text/template" id="sidebar-menu-user-tpl").
    <p class="title"><%- app.locale.menu.myLibrary %></p>
    <ul class="user-menu"></ul>


script(type="text/template" id="sidebar-search-layout-tpl").
    <p class="search-title"><%- app.locale.search.trks %></p>
    <div class="result-container tracks-wrapp"></div>
    <p class="search-title"><%- app.locale.search.artists %></p>
    <div class="result-container artists-wrapp"></div>
    <p class="search-title"><%- app.locale.search.albms %></p>
    <div class="result-container albums-wrapp"></div>


script(type="text/template" id="sidebar-search-tracks-empty-tpl").
    <%- app.locale.search.eTrk %>


script(type="text/template" id="sidebar-search-artists-empty-tpl").
    <%- app.locale.search.eArt %>


script(type="text/template" id="sidebar-search-albums-empty-tpl").
    <%- app.locale.search.eAlb %>


script(type="text/template" id="sidebar-search-track-tpl").
    <h1><%- title %></h1>
    <p><%- artist %></p>


script(type="text/template" id="sidebar-search-artist-tpl").
    <img src="<% print(app.createImgLink(img,'50x50')) %>" alt="<%- name %>"/>
    <p><%- name %></p>


script(type="text/template" id="artist-item-tpl").
    <div class="controll"></div>
    <div class="info">
        <div class="title"><%- name %></div>
    </div>


script(type="text/template" id="sidebar-search-album-tpl").
    <img src="<% print(app.createImgLink(img,'50x50')) %>" alt="<%- title %>"/>
    <h1><%-title%></h1>
    <p><%- artist %></p>


script(type="text/template" id="sidebar-search-result-layout-tpl").
    <div class="search-block-content"></div>
    <div class="show-more"><%- app.locale.search.more %></div>


script(type="text/template" id="sidebar-search-page-layout-tpl").
    <div class="search-header">
        <% if (type == 'art') { %>
        <p><%- app.locale.search.allArt %>: <span><%- title %></span></p> <span class="close"><%- app.locale.search.close %></span>
        <% } else if (type == 'alb') { %>
        <p><%- app.locale.search.allAlb %>: <span><%- title %></span></p> <span class="close"><%- app.locale.search.close %></span>
        <% } else { %>
        <p><%- app.locale.search.allTrk %>: <span><%- title %></span></p> <span class="close"><%- app.locale.search.close %></span>
        <% } %>
    </div>
    <h1>
        <% if (type == 'art') { %>
        Артисты
        <% } else if (type == 'alb') { %>
        Альбомы
        <% } else { %>
        Треки
        <% } %>
    </h1>
    <div class="search-content"></div>


script(type="text/template" id="video-item-tpl").
    <div class="img" style="background-image: url('<%-snippet.thumbnails.medium.url%>')" ></div>
    <p><%-snippet.title%></p>


script(type="text/template" id="recomend-chart-item-tpl").
    <div class="chart-title"><%-chart_label%></div>
    <div class="chart-info">
        <div class="title"><%-title%></div>
        <div class="artist"><%-artist%></div>
        <div class="album"><%- typeof(release_title) == 'undefined' ? '' : release_title %></div>
    </div>
    <div class="duration"><%-typeof(duration) == 'undefined' ? '' : duration%></div>


script(type="text/template" id="recomend-video-item-tpl").
    <% if (typeof(snippet) == 'undefined') { %>
        <div class="img" style="background-image: url('<%-thumbnails.high.url%>')" ></div>
        <p><%-title%></p>
    <% } else { %>
        <div class="img" style="background-image: url('<%-snippet.thumbnails.high.url%>')" ></div>
        <p><%-snippet.title%></p>
    <% } %>


script(type="text/template" id="inline-album-tpl").
    <div class="head">
        <img src="<%- app.createImgLink(img,'50x50') %>"/>
        <div class="info">
            <div class="title"><%-title%></div>
            <div class="release"><%-release_year%></div>
        </div>
    </div>
    <div class="body">
        <div class="shuffle-tracks">
            <%- app.locale.artistPage.shuffle %>
        </div>
        <div class="albums-tracks">

        </div>
    </div>


script(type="text/template" id="user-follower-tpl").
    <img class="follower-avatar" src="<%- app.createImgLink(avatar,'50x50') %>"/>
    <div class="is-subscribe <%- is_subscribed_to_user == true ? 'true' : 'false' %>"></div>
    <div class="title"><%-profile_name%></div>


script(type="text/template" id="inline-playlist-tpl").
    <div class="head">
        <img src="<%- app.createImgLink(image,'50x50') %>"/>
        <div class="info">
            <div class="title"><%-title%></div>
        </div>
    </div>
    <div class="body">
        <div class="shuffle-tracks">
            <%- app.locale.artistPage.shuffle %>
        </div>
        <div class="playlist-tracks">

        </div>
    </div>


script(type="text/template" id="artist-tracks-layout-tpl").
    <div class="artist-layout-title tracks-title">
        <%- app.locale.artistPage.pplrTrks %>
    </div>
    <div class="artist-tracks-container"></div>
    <div class="artist-layout-title albums-title">
        <%- app.locale.artistPage.albsTrks %>
    </div>
    <div class="artist-albums-container"></div>
    <div class="artist-layout-title co-albums-title">
        С участием
    </div>
    <div class="artist-co-albums-container"></div>


script(type="text/template" id="user-tracks-layout-tpl").
    <div class="list">
        <div class="all-tracks list-item active"><p><%- app.locale.userTracks.allTrks %></p></div>
        <p><%- app.locale.userTracks.pllsts %></p>
        <div class="create-playlist list-item"><p><%- app.locale.userTracks.crtPl %></p></div>
        <div class="play-list-container"></div>
    </div>
    <div class="content">

    </div>


script(type="text/template" id="user-albums-layout-tpl").
    <div class="list">
        <div class="albums-list-container"></div>
    </div>
    <div class="content">

    </div>


script(type="text/template" id="user-album-item-tpl").
    <img src="<% print(app.createImgLink(img,'50x50')) %>" alt="<%- title %>"/>
    <p><%-title%></p>
    <% if ( typeof(is_deleted) !== "undefined" ) { %>
    <i class="delete"></i>
    <% } %>


script(type="text/template" id="user-playlist-item-tpl").
    <img src="<% print(app.createImgLink(image_black,'50x50')) %>" alt="<%- title %>"/>
    <p><%-title%></p>


script(type="text/template" id="user-tracks-tpl").
    <div class="shuffle">Произвольно</div>
    <div class="search"><input type="text" placeholder="<%- app.locale.userTracks.sPls %>"/></div>
    <div class="tracks-container"></div>


script(type="text/template" id="user-playlist-page-tpl").
    <div class="playlist-head-wrapp">
        <div class="playlist-head-container" style="background-image: url('<% print(app.createImgLink(background,'150x150',true)) %>')">
            <div class="playlist-head">
                <div class="gradient"></div>
                <div class="info">
                    <span><%- app.locale.userTracks.pllst %></span>

                    <h1><%- title %></h1>
                    <% if (items_count !=0) { %>
                    <div class="shuffle-track"><%- app.locale.userTracks.shuffle %></div>
                    <% } else { %>
                    <div class="shuffle-track disable"><%- app.locale.userTracks.shuffle %></div>
                    <% } %>
                </div>
                <div class="playlist-options">
                </div>
            </div>
        </div>
    </div>
    <div class="playlist-content-wrapp">
        <div class="content">

        </div>
    </div>


script(type="text/template" id="track-options-list-item-tpl").
    <%- title %>


script(type="text/template" id="options-list-tpl").
    <div class="options-overlay"></div>
    <ul class="options-list">

    </ul>
    <div class="track-link">
        <div class="textarea"><%- location.origin %>/track/<%- id %></div>
    </div>


script(type="text/template" id="options-playlist-item-tpl").
    <%- title %>


script(type="text/template" id="options-playlist-window-tpl").
    <div class="options-overlay"></div>
    <div class="back-to-options">
        <%- app.locale.userTracks.back %>
    </div>
    <div class="options-playlist-scroll-wrapp default-skin">
        <div class="scrollable">
            <div class="new-playlist">
                <input type="text" value="+ <%- app.locale.userTracks.newPl %>"/>
            </div>
            <ul class="container">

            </ul>
        </div>
    </div>


script(type="text/template" id="empty-playlist-layout-tpl").
    <p><%= app.locale.userTracks.ePlMess %></p>
    <div class="redirect-block">
        <div class="to-my-tracks"><%- app.locale.userTracks.myTrks %></div>
        <div class="to-recomend"><%- app.locale.userTracks.recomends %></div>
        <span><%- app.locale.userTracks.or %></span>
    </div>
    <div class="how-to-add">
        <%= app.locale.userTracks.ePlBMess %>
    </div>


script(type="text/template" id="user-playlist-options-tpl").
    <div class="options-body">
        <li class="delete-pl"><%- app.locale.userTracks.delete %></li>
        <li class="rename-pl"><%- app.locale.userTracks.rename %></li>
        <% if (is_public) { %>
        <li class="is-public public"><%- app.locale.userTracks.public %></li>
        <% } else { %>
        <li class="is-public"><%- app.locale.userTracks.public %></li>
        <% } %>
    </div>
    <div class="options-overlay"></div>


script(type="text/template" id="user-playlist-delete-confirm-tpl").
    <div class="options-body">
        <div class="playlist-delete-confirm">
            <img src="<% print(app.createImgLink(image,'150x150')) %>" alt="<%-title%>"/>
            <h1><%-title%></h1>
            <p><%- app.locale.userTracks.delete %>?</p>
            <div class="buttons">
                <div class="cancel"><%- app.locale.userTracks.cancel %></div>
                <div class="delete"><%- app.locale.userTracks.del %></div>
            </div>
        </div>
    </div>
    <div class="options-overlay"></div>


script(type="text/template" id="user-albums-empty-layout-tpl").
    <img src="/img/basic/empty_albums_bg.jpg" alt="пустой альбом">
    <div class="message">
        <p><%= app.locale.userAlbums.eAlbumMess %></p>
        <div class="to-new"><%- app.locale.userAlbums.toNew %></div>
    </div>


script(type="text/template" id="user-albums-page-layout-tpl").
    <div class="album-head-wrapp">
        <div class="album-head-container" style="background-image: url('<% print(app.createImgLink(img,'150x150',true)) %>')">
            <div class="album-head">
                <div class="gradient"></div>
                <div class="info">
                    <span><%- app.locale.userTracks.albm %></span>

                    <h1><%- title %></h1>
                    <div class="shuffle-track"><%- app.locale.userTracks.shuffle %></div>
                </div>
                <div class="album-options">
                </div>
            </div>
        </div>
    </div>
    <div class="album-content-wrapp">
        <div class="content">

        </div>
    </div>


script(type="text/template" id="user-album-delete-confirm-tpl").
    <div class="options-body">
        <div class="album-delete-confirm">
            <img src="<% print(app.createImgLink(img,'150x150')) %>" alt="<%-title%>"/>
            <h1><%-title%></h1>
            <p><%- app.locale.userAlbums.delAlb %>?</p>
            <div class="buttons">
                <div class="cancel"><%- app.locale.userAlbums.cancel %></div>
                <div class="delete"><%- app.locale.userAlbums.del %></div>
            </div>
        </div>
    </div>
    <div class="options-overlay"></div>


script(type="text/template" id="user-album-options-tpl").
    <div class="options-body">
        <li class="delete-album"><%- app.locale.userAlbums.delAlb %></li>
    </div>
    <div class="options-overlay"></div>


script(type="text/template" id="video-page-item-tpl").
    <% if (typeof(snippet) == 'undefined') { %>
        <div class="img" style="background-image: url('<%-thumbnails.high.url%>')" ></div>
        <p><%-title%></p>
    <% } else { %>
        <div class="img" style="background-image: url('<%-snippet.thumbnails.high.url%>')" ></div>
        <p><%-snippet.title%></p>
    <% } %>


script(type="text/template" id="video-frame-tpl").
    <div class="frame-window">
        <% if (typeof(snippet) == 'undefined') { %>
            <iframe id="ytplayer" type="text/html" width="760" height="434" src="https://www.youtube.com/embed/<%- id %>?enablejsapi=1&rel=0&showinfo=0" frameborder="0" allowfullscreen />
        <% } else { %>
            <iframe id="ytplayer" type="text/html" width="760" height="434" src="https://www.youtube.com/embed/<%- snippet.resourceId.videoId %>?enablejsapi=1&rel=0&showinfo=0" frameborder="0" allowfullscreen />
        <% } %>

    </div>


script(type="text/template" id="album-item-options-tpl").
    <div class="options-overlay"></div>
    <div class="options-list">
        <% if (inFavorite) { %>
        <li class="delete"><%- app.locale.options.delete %></li>
        <% } else { %>
        <li class="add"><%- app.locale.options.save %></li>
        <% } %>
        <li class="to-artist"><%- app.locale.options.toArt %></li>
    </div>


script(type="text/template" id="profile-layout-tpl").
    <div class="menu-region">
        
    </div>
    <div class="tab-content">

    </div>
    <div class="popup"></div>


script(type="text/template" id="profile-main-tpl").
    <div class="head">
        <div class="background" style="background-image: url('<% print(app.createImgLink(avatar,'150x150',true)) %>')"></div>
        <div class="upload-avatar">
            <img src="<% print(app.createImgLink(avatar,'150x150')) %>">
            <div class="loader"></div>
            <input type="file" name="avatar">
            <div class="mouseenter"><%- app.locale.profile.change %></div>
        </div>
    </div>

    <div class="content">
        <div class="left-side">
            <div class="personal-block">
                <p class="block-title"><%- app.locale.profile.personal %></p>
                <%
                    var str = phone,
                    phone = '+7 ('+str.slice(0,3)+') '+str.slice(3,6)+'-'+str.slice(6,8)+'-'+str.slice(8,10);

                 %>
                <div class="input-wrapp">
                    <input data-val="<%-profile_name%>" placeholder="Ваше имя" type="text" class="name" value="<%- profile_name %>">
                    <div class="mouseenter"><%- app.locale.profile.edit %></div>
                    <div class="focus"><%- app.locale.profile.saveM%></div>
                </div>
                <div class="phone"><%- phone %></div>
                <div class="input-wrapp">
                    <input data-val="<%-email%>" placeholder="e-mail" type="text" class="mail" value="<%-email%>">
                    <div class="mouseenter"><%- app.locale.profile.edit %></div>
                    <div class="focus"><%- app.locale.profile.saveM %></div>
                </div>
            </div>

            <div class="password-block">
                <div class="block-title"><%- app.locale.profile.password %></div>
                <div class="change-password"><%- app.locale.profile.chPass %></div>
                <div class="change-pass-container">

                </div>
                
            </div>
        </div>
        <div class="right-side">
            <!--div class="social-block">
                <p class="block-title"><%- app.locale.profile.social %></p>
                <ul class="social-list">
                    <li class="fb connected">Facebook</li>
                    <li class="ok connected">Одноклассники</li>
                    <li class="vk">Вконтакте</li>
                </ul>
            </div-->

            <div class="exit-block">
                <p class="block-title"><%- app.locale.profile.account %></p>

                <div class="exit"><%- app.locale.profile.accountExit %></div>
                
            </div>
        </div>
    </div>

script(type="text/template" id="profile-subscribe-tpl").
    <div class="message">
        Получайте максимум удовольствия<br>
        от любимых композиций с Полным<br>
        доступом на Музыка Билайн
    </div>
    <div class="options-lists">
        <div class="basic">
            <div class="list-head">
                <h1>Бесплатный</h1>
                <h2>0 ₽</h2>
                <p>ПОДКЛЮЧЕНО СЕЙЧАС</p>
            </div>
            <ul class="list-body">
                <li>Бесплатный интернет 3G/LTE</li>
                <li>Без рекламы</li>
                <li class="disable">Неограниченное прослушивание</li>
                <li class="disable">Офлайн прослушивание</li>
                <li class="disable">Неограниченное количество переметок треков</li>
                <li class="disable">Прослушивание на всех устройствах</li>
                <li class="disable">Высокое качество</li>
            </ul>
            <% if(subscription == 'DISABLED') { %>
                <div class="button disable">Подключено</div>
            <% } %>
            <div class="quote">
                Тариф «Бесплатный» подключается автоматически<br>
                сразу же после отключения тарифа «Полный Доступ»
            </div>
        </div>
        <div class="full">
            <div class="list-head">
                <h1>Полный доступ</h1>
                <h2>6 ₽<span>/ в день</span></h2>
                <p>Первые 15 дней бесплатно*</p>
            </div>
            <ul class="list-body">
                <li>Бесплатный интернет 3G/LTE</li>
                <li>Без рекламы</li>
                <li>Неограниченное прослушивание</li>
                <li>Офлайн прослушивание</li>
                <li>Неограниченное количество переметок треков</li>
                <li>Прослушивание на всех устройствах</li>
                <li>Высокое качество</li>
            </ul>
                <% if(subscription == 'DISABLED') { %>
                    <div class="button toggleConnect">Получить полный доступ</div>
                <% } else if (subscription == 'CONNECTED') { %>
                    <div class="button disable toggleConnect"><%- app.locale.profile.unsubsB %></div>
                <% } else { %>
                    <div class="button disable"><%- app.locale.profile.connect %>...</div>
                <% } %>
            <div class="quote">
                Услуга предоставляется только новым пользователям<br>
                и является разовой
            </div>
        </div>
    </div>

script(type="text/template" id="profile-promo-tpl").
    <div class="promo-code">
        <input type="text" placeholder="Введите промо код здесь">
        <div class="activate-promo-code">Активировать</div>
    </div>

script(type="text/template" id="profile-menu-item-tpl").
    <%-title%>

script(type="text/template" id="subscribe-confirm-window-tpl").
    <div class="subscribe-confirm-window">
        <% if(subscription == 'DISABLED') { %>

        <h1>
            <%= app.locale.profile.pSubsMess %>
        </h1>
        <div class="button subscribe"><%- app.locale.profile.subsB %></div>
        <div class="close"><%- app.locale.profile.cancel %></div>

        <% } else if (subscription == 'CONNECTED') { %>

        <h1>
            <%= app.locale.profile.pUnsubsMess %>
        </h1>
        <div class="button unsubscribe"><%- app.locale.profile.unsubsB %></div>
        <div class="close"><%- app.locale.profile.cancel %></div>

        <% } %>
    </div>


script(type="text/template" id="change-password-tpl").
    <div class="input-wrapp">
        <input type="password" class="oldPass" placeholder="<%- app.locale.profile.oldPass %>">
        <div class="focus"><%- app.locale.profile.saveM %></div>
    </div>
    <div class="input-wrapp">
        <input type="password" class="newPass" placeholder="<%- app.locale.profile.newPass %>">
        <div class="focus"><%- app.locale.profile.saveM %></div>
    </div>
    <div class="input-wrapp">
        <input type="password" class="tryNewPass" placeholder="<%- app.locale.profile.try %>">
        <div class="focus"><%- app.locale.profile.saveM %></div>
    </div>







script(type="text/template" id="feed-page-tpl").
    <div class="feed-page-wrapp">
        <div class="feed-page-margin">
            <div class="feed-head">
                <div class="head-region"></div>
            </div>
            <div class="feed-content"></div>
        </div>
    </div>
    <div class="feed-popup"></div>


script(type="text/template" id="feed-page-user-tpl").
    <% if (typeof(img) != 'undefined') { %>
    <img src="<%-img%>">
    <% } %>
    <h1>
        Создать публикацию
    </h1>
    <span>
        Лента — это место, где вы можете поделиться своим настроением, музыкальными находками, плейлистами с остальными пользователями. Следить за обновлениями любимых артистов, пользователей, плейлистов и многое другое
    </span>


script(type="text/template" id="feed-album-tpl").
    <div class="controll">
        <div class="elements">
            <div class="move"></div>
            <div class="options"></div>
            <div class="player-controll"></div>
        </div>
    </div>
    <div class="label margin">
        <%
            var min = parseInt(duration / 60);
            if (min.length < 2){
                min = '0'+min;
            }
            var sec = parseInt(duration % 60);
            if (sec.length < 2){
                sec = '0'+sec;
            }
        %>
        <div class="release"><%- app.locale.albumPage.album %> • <%-track_count%> <%- app.locale.albumPage.songs %> • <%-min%> <%- app.locale.albumPage.min %>. <%- sec %> <%- app.locale.albumPage.sec %>.</div>
        <div class="title"><%-title%></div>
        <div class="artist"><%-artist%></div>
    </div>


script(type="text/template" id="feed-playlist-tpl").
    <div class="controll">
        <div class="elements">
            
            
            <div class="player-controll"></div>
        </div>
    </div>
    <div class="label margin">
        <%
            var min = parseInt(duration / 60);
            if (min.length < 2){
                min = '0'+min;
            }
            var sec = parseInt(duration % 60);
            if (sec.length < 2){
                sec = '0'+sec;
            }
        %>
        <div class="release"><%- app.locale.playlistPage.playlist %> • <%-items_count%> <%- app.locale.albumPage.songs %> • <%-min%> <%- app.locale.albumPage.min %>. <%- sec %> <%- app.locale.albumPage.sec %>.</div>
        <div class="title"><%-title%></div>
        <div class="artist"><%-owner.profile_name%></div>
    </div>


script(type="text/template" id="feed-note-create-layout-tpl").
    <div class="feed-note-create-wrapp">
        <div class="post-create-container"></div>
    </div>


script(type="text/template" id="feed-note-create-head-tpl").
    <% if (typeof(img) != 'undefined') { %>
    <img class="feed-note-create-avatar" src="<%-img%>">
    <% } %>


script(type="text/template" id="feed-note-create-panel-tpl").
   <div class="feed-note-create-head">

   </div>
   <div class="feed-note-create-message">
       <textarea id="textarea_resize" placeholder="Если хотите, напишите сопроводительный          комментарий..."><%-message%></textarea>
   </div>
    <div class="feed-note-create-content">

    </div>
    <div class="create">Опубликовать</div>


script(type="text/template" id="feed-note-create-item-tpl").
    <% if (type == 'tracks') { %>
        <div class="track-item">
            <div class="label">
                <div class="title"><%-title%></div>
                <div class="artist"><%-artist%></div>
            </div>
            <div class="info">
                <div class="delete"></div>
            </div>
        </div>
    <% } else if (type == 'albums') { %>
        <div class="feed-album-item" style="background-image: url('<% print(app.createImgLink(img,'150x150',true)) %>')">
            <div class="cover">
                <img src="<% print(app.createImgLink(img,'150x150')) %>">
            </div>
            <div class="label margin">
                    <%

                        var min = parseInt(duration / 60);
                        if (min.length < 2){
                            min = '0'+min;
                        }
                        var sec = parseInt(duration % 60);
                        if (sec.length < 2){
                            sec = '0'+sec;
                        }
                    %>
                    <div class="release"><%- app.locale.albumPage.album %> • <%-track_count%> <%- app.locale.albumPage.songs %> • <%-min%> <%- app.locale.albumPage.min %>. <%- sec %> <%- app.locale.albumPage.sec %>.</div>
                <div class="title"><%-title%></div>
                <div class="artist"><%-artist%></div>
            </div>
            <div class="delete"></div>
        </div>
    <% } else if (type == 'playlists') { %>
        <div class="feed-playlist-item" style="background-image: url('<% print(app.createImgLink(image,'150x150',true)) %>')">
            <div class="cover">
                <img src="<% print(app.createImgLink(image,'150x150')) %>">
            </div>
            <div class="label margin">
                <%
                    var min = parseInt(duration / 60);
                    if (min.length < 2){
                        min = '0'+min;
                    }
                    var sec = parseInt(duration % 60);
                    if (sec.length < 2){
                        sec = '0'+sec;
                    }
                %>
                <div class="release"><%- app.locale.playlistPage.playlist %> • <%-items_count%> <%- app.locale.albumPage.songs %> • <%-min%> <%- app.locale.albumPage.min %>. <%- sec %> <%- app.locale.albumPage.sec %>.</div>
                <div class="title"><%-title%></div>
                <div class="artist"><%-owner.profile_name%></div>
            </div>
            <div class="delete"></div>
        </div>
    <% } %>
    

script(type="text/template" id="feed-note-create-empty-tpl").
    <span>Приерепить к записи медиа</span>
    <ul class="item-type">
        <li class="track" data-type="tracks"><span>Трек</span></li>
        <li class="album" data-type="albums"><span>Альбом</span></li>
        <li class="playlist" data-type="playlists"><span>Плейлист</span></li>
    </ul>


script(type="text/template" id="feed-list-item-tpl").
    <div class="list-header">
        <% var date = new Date(parseInt(date_create*1000))
            var diff = Math.round((new Date() - new Date(date_create*1000))/1000/60/60/24)
        %>
        <img src="<%if (owner != null) { print(app.createImgLink(owner.avatar,'50x50'))} %>" alt="<%if (owner != null){ print(owner.profile_name) }%>">

        <div class="info">
            <div class="title"><%if (owner != null){ print(owner.profile_name)} %></div>
            <% if (diff < 1) { %>
                <div class="time"><%- 'Сегодня '+date.getHours()+':'+date.getMinutes() %></div>
            <% } else if (diff == 1) { %>
            <div class="time"><%- 'Вчера '+date.getHours()+':'+date.getMinutes() %></div>
            <% } else { %>
                <div class="time"><%- date.getDate()+'.'+date.getMonth()+'.'+date.getFullYear()+' '+date.getHours()+':'+date.getMinutes() %></div>
            <% } %>
        </div>
        <% if (is_own) { %>
            <div class="options">
                <ul class="list">
                    <li class="edit">Редактировать</li>
                    <li class="delete">Удалить</li>
                </ul>
            </div>
        <% } %>
    </div>
    <div class="message">
        <%= text.replace(/\n/,'<br>') %>
    </div>
    <% if (image != null) { %>
        <div class="cover"><img src="<% print(app.createImgLink(image,'750x750'))%>" alt=""></div>
    <% } %>
    <div class="list-content"></div>
    <div class="like-and-share-block">
        <div class="like-block">
            
        </div>
        <div class="comments-block">
            <% if (comments_count > 3) { %>
                <div class="more-comments">Раскрыть все комментарии <span><%- comments_count-3 %></span></div>
            <% } %>
            <div class="more-comments-list"></div>
            <div class="comments-list"></div>
            <div class="add-comment">
                <img class="user-avatar" src="<% print(app.createImgLink(currentUser.avatar,'50x50')) %>" >
                <div class="new-comment-text">
                    <textarea id="comment-block-<%- id %>" placeholder="Комментировать..."></textarea>
                    <div class="add-content"></div>
                </div>
                <div class="send-comment">Отправить</div>
                <div class="comment-content tracks-wrapper"></div>
            </div>
        </div>
    </div>
   

script(type="text/template" id="feed-list-item-comment-tpl").
    <img class="avatar" src="<% print(app.createImgLink(owner.avatar,'50x50')) %>" />
    <div class="post">
        <span><%- owner.profile_name %></span> <%= text %>
        <div class="list-content">
            <div class="comment-tracks tracks-wrapper"></div>
        </div>
    </div>    


script(type="text/template" id="feed-list-item-like-tpl").
    <div class="like-icon <%- typeof(likedByMe) != 'undefined' && likedByMe == true ? 'liked' : '' %>">
        <i></i>
        <% if (likes_count > 0) { %>
            <div class="count"><%-likes_count %></div>
        <% } %>
    </div>

script(type="text/template" id="feed-track-tpl").
    <div class="controll-element">

    </div>
    <div class="label">
        <div class="title"><%-title%></div>
        <div class="artist"><%-artist%></div>
    </div>
    <div class="info">
        <div class="time"><%-duration%></div>
        <div class="options">
            <% if ( typeof(playlistTrack) !== "undefined" ) { %>
            <div class="playlist-track-controll"></div>
            <% } else { %>
            <div class="track-controll"></div>
            <% } %>
            <div class="more-options">
                <div class="options-content"></div>
            </div>
        </div>
    </div>


script(type="text/template" id="feed-post-content-add-tpl").
    <div class="feed-content-add-head">
        <div class="back">Назад</div>
        <div class="title"><%-title%></div>
        <div class="close"></div>
        <div class="search">
            <i></i>
            <input type="text">
        </div>
    </div>
    <div class="feed-content-add-body"></div>
    <div class="add">Выбрать</div>

script(type="text/template" id="feed-comment-content-add-tpl").
    <div class="feed-content-add-head">
        <div class="title">Трек</div>
        <div class="close"></div>
        <div class="search">
            <i></i>
            <input type="text">
        </div>
    </div>
    <div class="feed-content-add-body"></div>


script(type="text/template" id="feed-add-track-tpl").
    <div class="label">
        <div class="title"><%-title%></div>
        <div class="artist"><%-artist%></div>
    </div>
    <div class="info">
        <div class="time"><%-duration%></div>
    </div>
    <div class="delete"></div>


script(type="text/template" id="feed-add-album-tpl").
    <div class="controll">
    </div>
    <div class="info">
        <div class="title"><%-title%></div>
        <div class="artist"><%-artist%></div>
    </div>


script(type="text/template" id="feed-add-playlist-tpl").
    <div class="controll">
    </div>
    <div class="info">
        <div class="title"><%-title%></div>
        <div class="artist"><%-owner.profile_name%></div>
    </div>






script(type="text/template" id="charts-page-tpl").
    <div class="left-side">
        <div class="title">Чарты</div>
        <div class="list-container">

        </div>
    </div>
    <div class="content">
        <div class="content-wrapp">
            <div class="title">Список треков</div>
            <div class="charts-content"></div>
        </div>
    </div>


script(type="text/template" id="charts-list-item-tpl").
    <%- title %>


script(type="text/template" id="charts-list-content-item-tpl").
    <%
        if (track) {
            if (dynamics > 0) {
              var indexClass = 'green'
            } else if (dynamics < 0) {
              var indexClass = 'red'
            } else {
              var indexClass = ''
            }
        } else {
            var indexClass = ''
        }
    %>
    <div class="index <%- indexClass %>"><%- index %></div>
    <div class="controll-element">

    </div>
    <div class="label">
        <div class="title"><%-title%></div>
        <div class="artist"><%-artist%></div>
    </div>
    <% if (track) { %>
        <div class="info">
            <div class="time"><%-duration%></div>
            <div class="options">
                <% if ( typeof(playlistTrack) !== "undefined" ) { %>
                <div class="playlist-track-controll"></div>
                <% } else { %>
                <div class="track-controll"></div>
                <% } %>
                <div class="more-options">
                    <div class="options-content"></div>
                </div>
            </div>
        </div>
    <% } %>





script(type="text/template" id="user-notify-tpl").
    <div class="close"></div>
    <div class="notify-window">
        <div class="tabs">
            <div class="subs">Подписки</div>
            <div class="message">Уведомления</div>
        </div>
        <div class="content"></div>
    </div>


script(type="text/template" id="user-notify-subs-item-tpl").
    <img class="avatar" src="<% print(app.createImgLink(user.avatar,'150x150')) %>" alt="user.profile_name">
    <div class="is-subscribe <%- user.is_subscribed_to_user == true ? 'true' : 'false' %>"></div>
    <p class="title"><span><%-user.profile_name%></span> подписался<br>на ваши обновления</p>

