// playlist styles

.playlist-page
  padding-top 485px

  @media screen and (max-width: 1200px),(max-height: 800px)
    padding-top 350px

  .playlist-head-wrapp
    background-position center
    background-size cover
    position fixed
    width 100%
    z-index 2
    top 0

    &:after
      position absolute
      width 100%
      height 100%
      background rgba(0,0,0,0.6)
      content " "
      display block
      left 0
      top 0

    .playlist-head
      position relative
      z-index 1
      margin 0 auto
      width 1160px
      height 479px

      .options
        position absolute
        top 190px
        left 0px
        z-index 1

        & > img
          width 200px
          height 200px
          border-radius 200px

        .list
          margin 98px 0 0 0
          padding 0

          li
            list-style none
            margin 0
            padding 0
            width 200px
            height 40px
            white-space nowrap
            opacity 0.3
            font-family 'AvenirNextMedium', arial
            font-size 15px
            line-height 40px
            margin 10px 0 0 0
            padding-left 57px
            position relative

            &:hover
              cursor pointer
              opacity 1

            &.subscribe
              subscribe-button()
              opacity 1
              padding-left 0

            &.create-radio
              &:before
                position absolute
                width 20px
                height 20px
                content " "
                display block
                background url("/img/basic/Resources.svg")
                background-size auto 400px
                background-position  -56px -368px
                left 20px
                top 10px

            &.add-to-playlist
              &:before
                position absolute
                width 20px
                height 25px
                content " "
                display block
                background url("/img/basic/Resources.svg")
                background-size auto 400px
                background-position  -55px -329px
                left 19px
                top 8px

            &.go-to-author
              &:before
                position absolute
                width 18px
                height 24px
                content " "
                display block
                background url("/img/basic/Resources.svg")
                background-size auto 400px
                background-position  -93px -331px
                left 21px
                top 8px

            &.share
              &:before
                position absolute
                width 18px
                height 24px
                content " "
                display block
                background url("/img/basic/Resources.svg")
                background-size auto 400px
                background-position  -92px -364px
                left 21px
                top 8px



      .info
        width 920px
        position relative
        float right

        & > span
          padding-top 190px
          font-size 12px
          color #FFB612
          font-family 'AvenirNextMedium', arial
          text-align center
          display block
          text-transform uppercase

        h1
          font-size normal
          font-family 'AvenirNextMedium', arial
          font-size 60px
          text-align center
          color #fff
          margin 12px 0 0 0
          overflow ellipsis


        .author-wrapp
          width 1000px
          margin 10px auto 0
          font-size 15px
          font-family 'AvenirNextMedium', arial
          color #C5C5C5
          height 30px

          .author
            float left

            & > span
              color #FFB612

          .subscribe
            opacity 0
            text-align center
            & > span
              color #FFB612

          .release
            float right

        .shuffle-track
          margin 21px auto 0
          shuffle-track-button()

      @media screen and (max-width: 1200px),(max-height: 800px)
        height 340px
        width 968px

        .options
          top 120px

          .list
            margin 30px 0 0 0

        .info
          width 710px

          & > span
            padding-top 115px

  .playlist-content-wrapp
    margin 0 auto
    width 1160px
    padding-left 248px
    box-sizing border-box


    @media screen and (max-width: 1200px),(max-height: 800px)
      width 968px
      padding-left 256px

    .tracks-wrapp
      padding-top 60px

      .playlist-layout-title
        font-size 12px
        font-family 'AvenirNextMedium', arial
        color #A4A3A2
        height 60px
        line-height 60px
        padding-left 30px
        text-transform uppercase

        &.albums-title
          display none