//sidebar styles

#sidebar
  width 0
  //overflow hidden
  right 0
  top 0
  position fixed
  z-index 1000
  transition all 0.3s ease 0s
  /*display none*/

  &.open
    width 360px

    .sidebar-wrapp .sidebar-overlay
      display block

  .sidebar-content-scroll
    .overview
      width 100%
  .sidebar-body
    position relative
    z-index 1000

  .sidebar-wrapp
    width 360px
    background #141414
    .profile
      height 60px
      width 100%
      position relative
      z-index 1001
      cursor pointer

      img
        float left
        margin 10px 20px 0 28px
        border-radius 40px
        width 40px

      h1
        width 215px
        white-space nowrap
        text-overflow ellipsis
        font-size 13px
        color #fff
        font-family 'avenirNextBold', arial
        height 60px
        line-height 60px
        font-weight normal
        margin 0
        padding 0
        text-transform uppercase

      .exit
        position absolute
        color #474747
        text-transform uppercase
        font-size 13px
        font-family 'AvenirNextRegular', arial
        right 20px
        top 23px

    .search
      height 56px
      box-sizing border-box
      padding-left 60px
      position relative

      .icon
        display block
        position absolute
        width 19px
        height 20px
        background-image url("/img/basic/Resources.svg")
        background-position -214px 189px
        background-size auto 400px
        left 25px
        top 19px
        opacity 0.2

      .close
        display none
        position absolute
        width 62px
        height 30px
        line-height 30px
        right 12px
        top 12px
        font-size 10px
        text-transform uppercase
        color rgba(255, 255, 255, .4)
        font-family 'AvenirNextRegular', arial
        font-style normal
        letter-spacing 3px
        cursor pointer
        
        &:hover
          color #fff

      input
        width 220px
        height 30px
        line-height 30px
        font-size 20px
        color #474747
        border none
        outline none
        background none
        font-weight normal
        font-family 'AvenirNextRegular', arial
        margin-top 13px

        &::-webkit-input-placeholder
          color:#474747
        &::-moz-placeholder
          color:#474747
        &:-moz-placeholder
          color:#474747
        &:-ms-input-placeholder
          color:#474747


      &.active
        background #232327
        input
          color: #fff

        .icon
          opacity 1

        .close
          display block


    .sidebar-body
      .title
        color #FEDA24
        font-size 12px
        font-weight normal
        font-family 'AvenirNextMedium', arial
        padding 35px 0 12px 27px
        text-transform uppercase
        box-sizing border-box
        display block
        margin 0

      ul
        margin 0
        padding 0

        li
          list-style none
          margin 0
          padding 0
          height 56px
          line-height 56px
          box-sizing border-box
          padding-left 28px

          &.active
          &:hover
            background #232327
            a
              color #fff

          a
            text-decoration none
            color #474747
            font-size 20px
            font-family 'AvenirNextRegular', arial
            display block

            &:first-letter
              text-transform uppercase

    .sidebar-overlay
      width 100%
      height 3000px
      position fixed
      z-index 999
      left 0
      top 0
      display none


  .sidebar-search-container
    overflow hidden

    .scrollable
      margin-top 27px

    .search-title
      font-family 'AvenirNextMedium', arial
      font-size 12px
      color #FEDA24
      margin 0 0 12px 26px
      padding 0
      text-transform uppercase

    .result-container
      min-height 240px
      width 100%
      position relative

      .search-empty-message
        font-size 15px
        font-family 'AvenirNextMedium', arial
        color #5A5A5A
        margin 0
        position absolute
        top 35%
        padding-left 28px

      .search-result
        .search-block-content
          .search-track
            height 60px
            padding-left 28px
            box-sizing border-box
            padding-top 10px

            h1
              font-size 15px
              font-family 'AvenirNextMedium', arial
              color #5A5A5A
              margin 0
              overflow ellipsis
              font-weight normal

            p
              font-size 15px
              color #424141
              font-family 'AvenirNextRegular', arial
              margin 0
              overflow ellipsis

            &:hover
              cursor pointer
              background #18181A

              h1
              p
                color #fff

          .search-artist
            height 60px
            padding-left 78px
            box-sizing border-box
            line-height 60px
            position relative

            &:hover
              cursor pointer
              background #18181A

              p
                color #fff

            img
              width 40px
              height 40px
              position absolute
              top 10px
              left 28px
              border-radius 40px

            p
              font-family 'AvenirNextMedium', arial
              font-size 15px
              margin 0
              color #5A5A5A
              overflow ellipsis

          .search-album
            height 60px
            padding-left 78px
            box-sizing border-box
            padding-top 10px
            position relative

            &:hover
              cursor pointer
              background #18181A

              p
              h1
                color #fff

            img
              width 40px
              height 40px
              position absolute
              top 10px
              left 28px

            h1
              font-family 'AvenirNextMedium', arial
              font-size 15px
              margin 0
              color #5A5A5A
              overflow ellipsis
              font-weight normal
            p
              font-family 'AvenirNextRegular', arial
              font-size 15px
              margin 0
              color #424141
              overflow ellipsis


        .show-more
          height 60px
          line-height 60px
          font-size 15px
          font-family 'AvenirNextMedium', arial
          color #5A5A5A
          padding-left 28px
          box-sizing border-box
          position relative

          &:after
            content ' '
            display block
            background url("/img/basic/Resources.svg")
            background-size auto 400px
            background-position -108px -213px
            width 11px
            height 16px
            position absolute
            right 18px
            top 23px
            opacity 0.3

          &:hover
            cursor pointer
            background #18181A
            color #fff

            &:after
              opacity 1


.search-page
  padding 100px 28px 0
  box-sizing border-box

  .search-header
    height 56px
    line-height 56px
    position relative

    p
      color #8F8F8F
      font-size 20px
      font-family 'AvenirNextRegular', arial
      margin 0

      span
        color #000

    .close
      font-size 20px
      color #FFB612
      height 60px
      display block
      position absolute
      right 0px
      font-family 'AvenirNextMedium', arial
      top 0
      cursor pointer

  h1
    margin-top 27px
    font-size 12px
    color #FFB612
    font-weight normal
    font-family 'AvenirNextMedium', arial
    margin-bottom 12px
    text-transform uppercase
