.main-head
    .title #{typeof(title) == 'undefined' ? '' : title}
    .description #{typeof(description) == 'undefined' ? '' : description }
.main-body
    .main-left
        .clip-block
            h1 Клип
            h2 #{clip.title}
            #youtube-video-bg
        .charts
    .main-right
        .album-block
        .playlist-block
        .track-block
        .artist-block