//player styles
.player-wrapp
  /*background #c82b3b*/
  width 968px
  height 60px
  margin 0 auto
  position relative
  display none

  @media screen and (min-width: 1200px)
    width 1160px

  .controll-bar
    width 70px
    top 20px
    position absolute
    left 0

    & > div
      background url("/img/basic/Resources.svg")
      background-size auto 400px
      cursor pointer

    .back-arrow
      width 10px
      height 10px
      background-position -22px -26px
      position absolute
      left 0
      top 6px

      &:hover
        background-position -12px -61px
        width 30px
        height 30px
        left -10px
        top -4px

    .fwd-arrow
      width 10px
      height 10px
      background-position -147px -25px
      position absolute
      right 0
      top 6px

      &:hover
        background-position -137px -60px
        width 30px
        height 30px
        right -10px
        top -4px

    .play
      width 18px
      height 21px
      background-position -59px -20px
      margin 0 auto
      position relative
      left 1px

      &:hover
        width 40px
        height 40px
        background-position -47px -55px
        margin-top -10px
        left 0

    .pause
      width 18px
      height 21px
      background-position -103px -20px
      margin 0 auto
      position relative

      &:hover
        width 40px
        height: 40px
        background-position -92px -55px
        margin-top -10px
        left 0

  .main-player
    width 475px
    margin 0 0 0 158px

    @media screen and (min-width: 1200px)
      width 575px
      margin 0 auto
      position relative
      left -40px

    .player-view
      position relative

      .artist-logo
        width 60px
        height 60px
        float left

        img
          width 100%

    .track-info
      margin-left 70px
      position relative
      padding-top 5px

      .track-name
        font-size 14px
        font-family 'avenirNextMedium', arial
        color #fff
        padding-right 50px
        width 100%
        box-sizing border-box
        overflow ellipsis
        position relative
        line-height 30px
        height 30px
        font-weight normal
        
        & > span
          &:hover
            text-decoration underline
            cursor pointer

        .player-timer-display
          font-family 'AvenirNextRegular', arial
          font-size 14px
          color #fff
          position absolute
          bottom 0
          right 0
          line-height 30px
          height 30px
          cursor pointer

          .time-end
            display none


      .time-line
        height 6px
        width 100%
        margin-top 6px
        background rgba(255,255,255,0.2)
        position relative

        .active-line
          background #FFB612
          width 0%
          height 6px

        .active-zone
          width 100%
          position absolute
          left 0
          height 18px
          top -6px


    .other-buttons
      width 80px
      position absolute
      right -140px
      top 9px
      clearfix()

      & > div
        width 40px
        height 40px
        float left

      .options
        position relative


        .track-controll
          width 40px
          height 40px
          position absolute
          left -40px
          top 0
          &.add
            move-icon()

          &.delete
            move-icon()
            transform rotate(45deg)

        .options-region
          options-icon()
          width 40px
          height 40px


      .volume
        position relative

        span
          volume-icon()
          display block

          &:hover
            @media screen and (max-width: 1350px)
              &~div
                display none!important

            .line
              display block

          .line
            width 50px
            height 6px
            background rgba(255,255,255,0.2)
            position absolute
            top 17px
            right -50px
            display none

            .active
              display block
              width 100%
              height 40px
              position absolute
              left 0
              top -17px
              content " "

            .value
              height 6px
              background #fff
              width 0

        .shuffle
          shuffle-icon()
          position absolute
          top -9px
          right -50px
          display none

        .loop
          loop-icon()
          position absolute
          top 11px
          right -50px
          display none

        @media screen and (min-width: 1350px)
          .loop
            right -100px
          .shuffle
            right -100px
  
.pseudo-player
  height 60px
  position absolute
  top 0
  width 968px
  left 50%
  transform translateX(-50%)
  display block

    
  .controll-bar
    position absolute
    left 50%
    transform translateX(-50%)
    width 70px
    top 20px
    
    & > div
      background url("/img/basic/Resources.svg")
      background-size auto 530px
      cursor pointer
    
    .play
      width 24px
      height 28px
      background-position -79px -28px
      margin 0 auto
      position relative
      left 1px