// notification page

#notification
  & > div
    width 100%
    height 40px
    position fixed
    font-size 15px
    color #000
    background #FEDA24
    bottom 0
    left 0
    line-height 40px
    padding 0 60px 0 28px
    font-family 'AvenirNextMedium', arial
    box-sizing border-box
    z-index 100

    span
      text-decoration underline
      cursor pointer

    .close-icon
      width 26px
      height 26px
      background-image url("/img/basic/Resources.svg")
      background-position -235px 192px
      background-size auto 400pxbackground-image url("/img/basic/Resources.svg")
      position absolute
      right 20px
      top 7px
      cursor pointer

    &.error
      background #E30531
      color #fff

      span
        color #FEDA24

    &.success
      background #00BB48
      color #fff