@charset "UTF-8";
@mixin border-radius($r:20px){
  -webkit-border-radius: $r;
     -moz-border-radius: $r;
      -ms-border-radius: $r;
       -o-border-radius: $r;
          border-radius: $r;
}
@mixin transition($r){
  -webkit-transition: $r;
   -moz-transition: $r;
   -o-transition: $r;
   transition: $r;
}
@mixin transform($r){
   -moz-transform: $r; /* Для Firefox */
    -ms-transform: $r; /* Для IE */
    -webkit-transform: $r; /* Для Safari, Chrome, iOS */
    -o-transform: $r; /* Для Opera */
    transform: $r;
}
@mixin no-select() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
@keyframes mymove {
      0% {
        background: #F9C300;
        @include transform(scale(0));
      }
      25% {
        background: #F9C300;
        @include transform(scale(1));
      }
      50% {
        background: #474747;
        @include transform(scale(0));
      }
      75% {
        background: #474747;
        @include transform(scale(1));
      }
      100% {
        background: #F9C300;
        @include transform(scale(0));
      }
    }

    @-moz-keyframes mymove  {
      0% {
        background: #F9C300;
        @include transform(scale(0));
      }
      25% {
        background: #F9C300;
        @include transform(scale(1));
      }
      50% {
        background: #474747;
        @include transform(scale(0));
      }
      75% {
        background: #474747;
        @include transform(scale(1));
      }
      100% {
        background: #F9C300;
        @include transform(scale(0));
      }
    }

    @-webkit-keyframes mymove {
      0% {
        background: #F9C300;
        @include transform(scale(0));
      }
      25% {
        background: #F9C300;
        @include transform(scale(1));
      }
      50% {
        background: #474747;
        @include transform(scale(0));
      }
      75% {
        background: #474747;
        @include transform(scale(1));
      }
      100% {
        background: #F9C300;
        @include transform(scale(0));
      }
    }


    @keyframes arrow_jump {
      0%, 50%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      }
      0% {
        @include transform(translateY(8px));
      }
      50% {
        @include transform(translateY(-8px));
      }
      100% {
        @include transform(translateY(8px));
      }
    }

    @-moz-keyframes arrow_jump  {
      0%, 50%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      }
      0% {
        @include transform(translateY(8px));
      }
      50% {
        @include transform(translateY(-8px));
      }
      100% {
        @include transform(translateY(8px));
      }
    }

    @-webkit-keyframes arrow_jump {
      0%, 50%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      }
      0% {
        @include transform(translateY(8px));
      }
      50% {
        @include transform(translateY(-8px));
      }
      100% {
        @include transform(translateY(8px));
      }
    }

    @keyframes girl_jump {
      0%, 50%, 100% {
        -webkit-transition-timing-function: cubic-bezier(.01,.96,.99,.03);
                transition-timing-function: cubic-bezier(.01,.96,.99,.03);
      }
      0% {
        @include transform(translateY(8px));
      }
      50% {
        @include transform(translateY(-8px));
      }
      100% {
        @include transform(translateY(8px));
      }
    }

    @-moz-keyframes girl_jump  {
      0%, 50%, 100% {
        -webkit-transition-timing-function: cubic-bezier(.01,.96,.99,.03);
                transition-timing-function: cubic-bezier(.01,.96,.99,.03);
      }
      0% {
        @include transform(translateY(8px));
      }
      50% {
        @include transform(translateY(-8px));
      }
      100% {
        @include transform(translateY(8px));
      }
    }

    @-webkit-keyframes girl_jump {
      0%, 50%, 100% {
        -webkit-transition-timing-function: cubic-bezier(.01,.96,.99,.03);
                transition-timing-function: cubic-bezier(.01,.96,.99,.03);
      }
      0% {
        @include transform(translateY(8px));
      }
      50% {
        @include transform(translateY(-8px));
      }
      100% {
        @include transform(translateY(8px));
      }
    }

    

    @mixin button($width:120px,$height:24px,$border:3px,$fs:11px,$bg:#000) {
        border: $border solid;
        border-radius: 20px;
        cursor: pointer;
        display: inline-block;
        font-size: $fs;
        font-weight: bold;
        height: $height;
        line-height: 24px;
        margin: 0 10px 0 0;
        text-align: center;
        text-transform: uppercase;
        width: $width;
        border-color: $bg;
        background: none;
        padding: 0;

        &:hover {
          background: $bg;
        }
    }
