$rightMinSize: 240px;
$rightMaxSize: 300px;

$midleMinSize: 784px;
$midleMaxSize: 900px;
@media screen and (max-width: 1200px) {
	/*Меньше 1200*/
	.artist-window {
		width: $midleMinSize+(-20);

        .artist-img {
            width: 250px;
        }
    }
    .profile-window {
		width: $midleMinSize+(-20);

        .profile-menu {
			width: $midleMinSize+(-20);
        }
    }
    .album-window {
    	width: $midleMinSize+(-20);
    	
        .album-img {
            width: 250px;
        }
    }
	.genries-wrapper {
		width: $midleMinSize;
	}
	#popup-win {
		.profile-menu {
			width: $midleMinSize+(-20);
		}
		& > div {
			width: $midleMinSize+(-20);
			&:before, &:after {
				width: $midleMinSize+(-20);
			}
		}
	}
	.items-content {
		width: 682px;
	}
	.search-content-wrapp {
		width: 682px;

		#search-tracks-wrapp .main-track-row {
			width: 328px;
		}
	}
	#menu {
		width: $midleMinSize;

		&.search {
			.search-wrapp {
				width: $midleMinSize/2!important;
			}
		}
	}
	#user-info,#right-hack-table,#user-favorites {
		width: $rightMinSize;
	}
	#main {
		.hack-right {
			width: $rightMinSize;
		}
	}
	.palyer-wrapp {
		.main-player {
			width: 784px;

			.control-bar {
				margin: 0 0 0 30px;
			}
		}
	}
	.track-search-input {
		width: 195px;
	}
	.track-search-input-bg {
		width: 220px;
	}
	.tab-content {
		.track-row {
			&:hover .song-name {
				width: 175px;
			}
		    .user-trck-time {
		        display: none;
		    }
		}
	}
	.playlist-controll {
		width: 236px;
		height: 236px;
	}
	.playlist-footer-wrapp {
		width: 239px;

		& > div {
			width: 101px!important;
		}
	}
	.playlist-input-title-wrapp {
		width: 239px;

		input {
			width: 195px;
		}
	}
}
@media screen and (min-width: 1200px) {
	/*Больше 1200*/
	.artist-window {
		width: $midleMaxSize+(-20);
        .artist-img {
            width: 350px;
        }
    }
    .profile-window {
		width: $midleMaxSize+(-20);

        .profile-menu {
			width: $midleMaxSize+(-20);
        }
    }
    .album-window {
    	width: $midleMaxSize+(-20);
        .album-img {
            width: 350px;
        }
    }
	#popup-win {
		.profile-menu {
			width: $midleMaxSize+(-20);
		}
		& > div {
			width: $midleMaxSize+(-20);
		}
	}
	.items-content {
		width: 860px;
	}
	.genries-wrapper {
		width: $midleMaxSize;
	}
	.search-content-wrapp {
		width: 860px;

		#search-tracks-wrapp .main-track-row {
			width: 330px;
		}
	}
	#menu {
		width: $midleMaxSize;

		&.search {
			.search-wrapp {
				width: $midleMaxSize/2!important;
			}
		}
	}
	#user-info,#right-hack-table,#user-favorites {
		width: $rightMaxSize;
	}
	#main {
		.hack-right {
			width: $rightMaxSize;
		}
	}
	.palyer-wrapp {
		.main-player {
			width: 900px;

			.control-bar {
				margin: 0 0 0 125px;
			}
		}
	}
	.track-search-input {
		width: 255px;
	}
	.track-search-input-bg {
		width: 280px;
	}
	.playlist-controll {
		width: 295px;
		height: 295px;
	}
	.playlist-footer-wrapp {
		width: 297px;

		& > div {
			width: 131px!important;
		}
	}
	.playlist-input-title-wrapp {
		width: 297px;

		input {
			width: 262px;
		}
	}
}
@media screen and (min-width: 1600px) {
	.items-content {
		width: 1189px;

		.page-tracks-wrapp {
			margin: 0 0 0 19px;
		}
	}
}
