@font-face
  font-family: "beemusic";
  font-style: normal;
  font-weight: normal;
  src: local("☺"),
  url("/fonts/beemusic.woff") format("woff"),
  url("/fonts/beemusic.ttf") format("truetype"),
  url("/fonts/beemusic.svg") format("svg");

@font-face
  font-family: "OfficinaSerifCTTRegular";
  font-style: normal;
  font-weight: normal;
  src: local("☺"), url("/fonts/officinaserifctt.woff") format("woff"), url("/fonts/officinaserifctt.ttf") format("truetype"), url("/fonts/officinaserifctt.svg") format("svg");

@font-face
  font-family: "OfficinaSerifCTTBold";
  font-style: normal;
  font-weight: normal;
  src: local("☺"), url("/fonts/officinaserifcttbold.woff") format("woff"), url("/fonts/officinaserifcttbold.ttf") format("truetype"), url("/fonts/officinaserifcttbold.svg") format("svg");

@font-face
  font-family: "OfficinaSerifCTTBoldItalic";
  font-style: normal;
  font-weight: normal;
  src: local("☺"), url("/fonts/officinaserifcttbolditalic.woff") format("woff"), url("/fonts/officinaserifcttbolditalic.ttf") format("truetype"), url("/fonts/officinaserifcttbolditalic.svg") format("svg");

@font-face 
  font-family: "OfficinaSerifCTTItalic";
  font-style: normal;
  font-weight: normal;
  src: local("☺"), url("/fonts/officinaserifcttitalic.woff") format("woff"), url("/fonts/officinaserifcttitalic.ttf") format("truetype"), url("/fonts/officinaserifcttitalic.svg") format("svg");

@font-face
  font-family: "bee.music";
  font-style: normal;
  font-weight: normal;
  src: local("☺"), url("/fonts/bee.music/bee.music.woff") format("woff"), url("/fonts/bee.music/bee.music.ttf") format("truetype"), url("/fonts/bee.music/bee.music.svg") format("svg");

@font-face
  font-family: "avenirNextRegular";
  src: local("☺"), url("/fonts/avenir/AvenirNext-Regular.woff") format("woff"), url("/fonts/avenir/AvenirNext-Regular.ttf") format("truetype"), url("/fonts/avenir/AvenirNext-Regular.svg") format("svg");

@font-face
  font-family: "avenirNextBold";
  src: local("☺"), url("/fonts/avenir/AvenirNext-Bold.woff") format("woff"), url("/fonts/avenir/AvenirNext-Bold.ttf") format("truetype"), url("/fonts/avenir/AvenirNext-Bold.svg") format("svg");

@font-face
  font-family: "avenirNextMedium";
  src: local("☺"), url("/fonts/avenir/avenir-next-medium.woff") format("woff"), url("/fonts/avenir/avenir-next-medium.ttf") format("truetype"), url("/fonts/avenir/avenir-next-medium.svg") format("svg");
