cb(left, top)
  background url("/img/basic/Resources.svg")
  background-size auto 400px
  background-position left top
overflow-ellipsis()
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
  
track-play-icon-black()
  width 12px
  height 14px
  background url("/img/basic/Resources.svg")
  background-size auto 400px
  background-position -17px -215px


track-pause-icon-black()
  width 12px
  height 14px
  background url("/img/basic/Resources.svg")
  background-size auto 400px
  background-position -37px -215px

track-play-icon-white()
  width 12px
  height 14px
  background url("/img/basic/Resources.svg")
  background-size auto 400px
  background-position -60px -215px


track-pause-icon-white()
  width 12px
  height 14px
  background url("/img/basic/Resources.svg")
  background-size auto 400px
  background-position -80px -215px

move-icon()
  width 40px
  height 40px
  background url("/img/basic/Resources.svg")
  background-size auto 400px
  background-position -217px -11px

  &:hover
    background-position -217px -56px
    cursor pointer

options-icon()
  width 40px
  height 40px
  background url("/img/basic/Resources.svg")
  background-size auto 400px
  background-position -262px -11px

  &:hover
    background-position -262px -56px
    cursor

move-black-icon()
  width 40px
  height 40px
  background url("/img/basic/Resources.svg")
  background-size auto 400px
  background-position -12px 275px

  &:hover
    background-position -12px 235px
    cursor pointer

options-black-icon()
  width 40px
  height 40px
  background url("/img/basic/Resources.svg")
  background-size auto 400px
  background-position -57px 275px

  &:hover
    background-position -57px 235px
    cursor pointer

volume-icon()
  width 40px
  height 40px
  background url("/img/basic/Resources.svg")
  background-size auto 400px
  background-position -306px -11px

  &:hover
    background-position -306px -56px
    cursor pointer

shuffle-icon()
  width 40px
  height 40px
  background url("/img/basic/Resources.svg")
  background-size auto 400px
  background-position -353px -11px

  &:hover
    background-position -353px -56px
    cursor pointer
  &.active
    background-position -353px -101px

loop-icon()
  width 40px
  height 40px
  background url("/img/basic/Resources.svg")
  background-size auto 400px
  background-position -398px -11px

  &:hover
    background-position -398px -56px
    cursor pointer

button(width=180px,bg=#feda24)
  width width
  height 40px
  background bg
  border-radius 16px
  font-size 15px
  color #000
  font-family arial, sans-serif
  line-height 40px

shuffle-track-button()
  width 180px
  height 40px
  background #FEDA24
  border-radius 16px
  font-size 15px
  color #000
  font-family arial, sans-serif
  line-height 40px
  cursor pointer

  &:before
    float left
    content " "
    display block
    width 13px
    height 15px
    background url("/img/basic/Resources.svg")
    background-size auto 400px
    background-position -17px -215px
    margin 13px 24px 0

save-button()
  width 200px
  height 40px
  line-height 40px
  border-radius 16px
  border 2px solid #FEDA24
  font-family 'AvenirNextMedium', arial

  &:before
    float left
    margin 12px 35px 12px 21px
    width 16px
    height 16px
    background url("/img/basic/Resources.svg")
    background-size auto 400px
    background-position -25px -370px
    display block
    content " "

delete-button()
  width 200px
  height 40px
  line-height 40px
  border-radius 16px
  border 2px solid #FEDA24
  font-family 'AvenirNextMedium', arial

  &:before
    float left
    margin 12px 35px 12px 21px
    width 16px
    height 16px
    background url("/img/basic/Resources.svg")
    background-size auto 400px
    background-position -25px -370px
    display block
    content " "
    transform rotate(45deg)

subscribe-button()
  width 200px
  height 40px
  line-height 40px
  border-radius 16px
  border 2px solid #FEDA24
  font-family 'AvenirNextMedium', arial

  &:before
    float left
    margin 12px 35px 12px 21px
    width 16px
    height 16px
    background url("/img/basic/Resources.svg")
    background-size auto 400px
    background-position -25px -370px
    display block
    content " "

tab-container(count)
  margin-bottom 30px
  & > div
    width (100/count)%
    float left
    height 50px
    color #C1C1C1
    cursor pointer

    &.active
      color #000
      border-bottom 2px solid #FEDA24
      cursor default

album-tab()
  &.active
    & span:after
      background-position -65px -104px
  span
    display block
    width 88px
    padding-left 23px
    box-sizing border-box
    margin 0 auto
    position relative
    padding-top 15.5px
    font-size 15px

    &:after
      display block
      content " "
      position absolute
      left 0
      top 17px
      background url("/img/basic/Resources.svg")
      background-size auto 400px
      width 14px
      height 14px
      background-position -88px -104px

track-tab()
  &.active
    & span:after
      background-position -12px -105px

  span
    display block
    width 72px
    padding-left 25px
    box-sizing border-box
    margin 0 auto
    position relative
    padding-top 15.5px
    font-size 15px

    &:after
      display block
      content " "
      position absolute
      left 0
      top 19px
      background url("/img/basic/Resources.svg")
      background-size auto 400px
      width 18px
      height 12px
      background-position -35px -105px

video-tab()
  &.active
    & span:after
      background-position -109px -133px

  span
    display block
    width 75px
    padding-left 28px
    box-sizing border-box
    margin 0 auto
    position relative
    padding-top 15.5px
    font-size 15px
    &:after
      display block
      content " "
      position absolute
      left 0
      top 17px
      background url("/img/basic/Resources.svg")
      background-size auto 400px
      width 22px
      height 16px
      background-position -136px -133px

about-tab()
  &.active
    & span:after
      background-position -117px -102px

  span
    display block
    width 105px
    padding-left 22px
    box-sizing border-box
    margin 0 auto
    position relative
    padding-top 15.5px
    font-size 15px

    &:after
      display block
      content " "
      position absolute
      left 0
      top 15px
      background url("/img/basic/Resources.svg")
      background-size auto 400px
      width 14px
      height 18px
      background-position -136px -102px


@keyframes mymove {
  0% {
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    background: #F9C300;
  }
  25% {
    width:0px;
    height:0px;
    left: 50%;
    top: 50%;
    background: #F9C300;
  }
  50% {
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    background: #474747;
  }
  75% {
    width:0px;
    height:0px;
    left: 50%;
    top: 50%;
    background: #474747;
  }
  100% {
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    background: #F9C300;
  }
}
