body
  min-width 1024px

  &.notifi
    padding-bottom 40px

    .play-list-container
      .scrollable:after
        display block
        content " "
        width 100%
        height 40px

#header
  position fixed
  background linear-gradient(bottom, rgba(0,0,0,0), black)
  height 100px
  width 100%
  z-index 100
  min-width 1024px

  &:hover
    .other-buttons
      .volume
        .shuffle
          display block

        .loop
          display block

  & > .title
    position absolute
    right 30px
    top 12px
    & > h1
      font-family 'avenirNextBold',arial
      text-transform uppercase
      font-size 13px
      color #fff
      float left
      font-weight normal
      padding 0 10px 0 0

    & > i
      width 20px
      height 15px
      background-image url("/img/basic/Resources.svg")
      display block
      float right
      background-position -157px -214px
      background-size auto 400px
      margin 9px 0 0 0

    &:after
      display block
      content "  "
      width 100px
      height 100px
      position fixed
      top 0
      right 0

.recomend-page
  padding-top 100px

.items-content
  margin 0 auto
  width 1024px

  @media screen and (min-width: 1350px)
    width 1200px

  .content-tab
    width 100%
    tab-container(2)
    clearfix()

    .tracks
      track-tab()

    .albums
      album-tab()



.options-wrapper
  width 281px
  background #fff
  position absolute
  z-index 1
  right -25px
  top 50px
  box-shadow 10px 0 60px rgba(0,0,0,0.4)
  border-radius 8px
  box-sizing border-box

  .options-overlay
    display block
    content " "
    position fixed
    width 100%
    height 100%
    left 0
    top 0
    z-index 1

  &:after
    display block
    content " "
    border-width 12.5px
    border-style solid
    border-color transparent transparent #fff
    position absolute
    top -24px
    right 33px
    z-index 2

  .success-icon
    width 136px
    height 136px
    background url("/img/basic/Resources.svg")
    background-size auto 400px
    background-position -358px -146px
    margin 76px auto 0

  .success-title
    margin 0
    text-align center
    padding 63px 0 64px 0
    font-size 30px
    font-family 'AvenirNextMedium', arial

  .back-to-options
    list-style none
    height 50px
    line-height 50px
    font-size 15px
    color #000
    padding-left 40px
    border-bottom 1px solid rgba(0,0,0,0.1)
    border-radius 8px 8px 0 0
    position relative
    z-index 2

    &:first-letter
      text-transform uppercase

    &:after
      content " "
      display block
      width 11px
      height 16px
      background url("/img/basic/Resources.svg")
      background-size auto 400px
      background-position -107px -177px
      position absolute
      left 20px
      top 17px

  .new-playlist
    input
      display block
      box-sizing border-box
      border none
      outline none
      width 100%
      height 50px
      line-height 50px
      font-size 15px
      color #8f8f8f
      padding-left 20px
      border-radius 8px 8px 0 0
      position relative

      &:first-letter
        text-transform uppercase

      &:focus
        background #f8f8f8
        color #000


  .options-playlist-scroll-wrapp
    height 300px
    overflow hidden
    position relative
    z-index 2
    
    .overview
        width 100%
    .container
      margin 0
      padding 0

      .options-playlist-item
        list-style none
        height 50px
        line-height 50px
        font-size 15px
        color #8F8F8F
        padding-left 20px

        &:first-letter
          text-transform uppercase

        &:hover
          background #f8f8f8
          color #000


  .track-link
    padding 13px 20px
    box-sizing border-box
    border-top 1px solid rgba(0,0,0,0.1)
    z-index 11
    position relative

    .textarea
      font-size 16px
      font-family 'AvenirNextMedium', arial
      resize none
      width 100%
      border none
      outline none
      overflow hidden

  .options-list
    padding 0
    margin 0
    z-index 2
    position relative

    li
      cursor pointer
      list-style none
      height 50px
      line-height 50px
      font-size 15px
      color #8F8F8F
      padding-left 20px

      &:first-letter
        text-transform uppercase

      &:first-child
        border-radius 8px 8px 0 0

      &:last-child
        border-radius 0 0 8px 8px

      &:hover
        background #f8f8f8
        color #000