.recomend-page

  .main
    .content
      width 1024px
      margin 0 auto
      position relative
      z-index 1
      
      @media screen and (min-width: 1440px)
        width 1225px
      
    .video
      position absolute
      top 0
      left 0
      width 100%
      height 290px
      overflow hidden
      
      &:after
        display block
        content " "
        width 100%
        height 190px
        left 0
        bottom 0
        position absolute
        background linear-gradient(bottom, #111112, rgba(17,17,18,0));

      video
        width 100%
        position absolute
        top 50%
        transform translateY(-50%)
        opacity 0.3

  .main-block-wrapp
    clearfix()
    .main-head
      padding 0 27px
      box-sizing border-box

      .title
        font-size 50px
        color #fff
        letter-spacing -1px
        font-family 'AvenirNextMedium', arial
        margin-top 90px

      .description
        font-size 15px
        font-family 'AvenirNextMedium', arial
        color #fff
        opacity 0.3
        width 413px
        text-align left

    .main-body
      margin-top 55px

      .main-left
        width 485px
        float left

        @media screen and (min-width: 1440px)
          width 709px

        .clip-block
          width 100%
          height 456px
          background-size auto 614px
          background-position center
          box-sizing border-box
          padding-left 27px
          position relative
          overflow hidden

          &:before
            content " "
            display block
            position absolute
            left -15px
            top 0
            width 105%
            z-index 1
            height 456px
            background: url('/img/basic/shadow.png');

          h1
          h2
          p
            position relative
            z-index 1

          h1
            margin 0
            font-family 'AvenirNextMedium', arial
            font-size 12px
            color #FEDA24
            font-weight normal
            padding-bottom 5px
            text-transform uppercase

          h2
            margin 0
            font-family 'AvenirNextMedium', arial
            font-size 25px
            color #FFF
            font-weight normal
          p
            margin 0
            font-family 'AvenirNextRegular', arial
            font-size 25px
            color #FFF
            font-weight normal
            opacity 0.4

          #youtube-video-bg
            width 790px
            height 500px
            left 50%
            top 0
            position absolute
            margin-left -395px

        .charts
          margin-top 40px
          position relative


        .main-charts-block
          h1
            margin 0
            font-family 'AvenirNextMedium', arial
            font-size 12px
            color #FEDA24
            font-weight normal
            padding-bottom 5px

          h2
            margin 0
            font-family 'AvenirNextMedium', arial
            font-size 25px
            color #FFF
            font-weight normal

          .charts-container
            .main-chart-item
              position relative
              height 60px
              box-sizing border-box
              padding 0 50px 0 30px
              cursor pointer

              &:hover
                .chart-info
                  & > div
                    opacity 1

                .duration
                  opacity 1

              .index
                left 0
                top 0
                color #fff
                font-family 'AvenirNextMedium', arial
                height 60px
                font-size 15px
                line-height 60px
                position absolute

                &.green
                  color #72BC00

                &.red
                  color #FF0000

              .chart-info
                width 100%
                height 60px

                & > div
                  color #fff
                  width 50%
                  opacity 0.4
                  height 60px
                  line-height 60px
                  float left
                  font-family 'AvenirNextRegular', arial
                  overflow ellipsis
                  padding-right 10px
                  box-sizing border-box

                .artist
                  opacity 1
                  font-family 'AvenirNextMedium', arial

              .duration
                position absolute
                right 0
                top 0
                height 60px
                line-height 60px
                font-family 'AvenirNextMedium', arial
                opacity 0.4
                color #fff



      .main-right
        width 456px
        float right

  .playlist-block
    .recomend-main-item
      .controll
        &:after
          width 202px
          height 202px
          border-radius 202px
          left -1px
          top -1px

        img
          border-radius 200px

  .artist-block
    .recomend-main-item
      .controll
        cursor pointer
        &:after
          display none!important

        img
          border-radius 200px


  .recomend-main-item
    width 456px
    margin-bottom 50px
    font-size 13px
    position relative

    &.active
      .controll
        .elements
          .player-controll
            display block

    &.pause
      .controll
        .elements
          .player-controll
            background-size auto 400px
            background-position  -257px -241px

            &:hover
              background-position -172px -241px

    .controll
      width 200px
      height 200px
      position relative

      &:after
        display none
        content " "
        position absolute
        width 200px
        height 200px
        background rgba(0,0,0,0.85)
        top 0
        left 0

      &:hover
        &:after
          display block

        .elements
          z-index 2
          .move
          .options
          .player-controll
            display block
      img
        width 100%

      .elements
        height 80px
        width 200px
        position absolute
        top 50%
        margin-top -40px
        z-index 1

        & > div
          cursor pointer

        .move
          position absolute
          left 10px
          top 20px
          display none

          &.add
            move-icon()
          &.delete
            move-icon()
            transform rotate(45deg)

        .options
          right 10px
          top 20px
          position absolute
          display none
          options-icon()

          .options-wrapper
            240px

        .player-controll
          width 80px
          height 80px
          margin 0 auto
          background url("/img/basic/Resources.svg")
          background-size auto 400px
          background-position  -257px -111px
          display none

          &:hover
            background-position -172px -111px


    .info
      width 236px
      position absolute
      right 0
      top 0

      .artist
        font-family 'AvenirNextRegular', arial
        color #424141
        font-size 25px

        &:hover
          cursor pointer
          text-decoration underline

      .title
        color #fff
        font-family 'AvenirNextMedium', arial
        font-size 25px

        &:hover
          cursor pointer
          text-decoration underline

      .label
        color #FEDA24
        font-size 12px
        text-transform uppercase
        font-family 'AvenirNextMedium', arial


  .recomend-block
    background-size cover
    background-position center

    .recomend-block-wrapp
      padding 46px 0
      margin 0 auto
      width 940px

      @media screen and (min-width: 1240px)
        width 1200px

      .block-head
        line-height normal!important
        box-sizing border-box

        .title
          font-size 50px
          color #fff
          letter-spacing -1px
          font-family 'AvenirNextMedium', arial

        .description
          font-size 15px
          font-family 'AvenirNextMedium', arial
          color #fff
          opacity 0.3
          width 413px
          text-align left

      .block-content
        overflow hidden
        height 245px
        margin-top 55px

        &:after
          width 100%
          height 0
          visibility hidden
          overflow hidden
          content ''
          display inline-block

        .album-item
        .playlist-item
          .info
            margin-top 10px

            .title
              color #fff
            .owner
              color #fff
              margin-top 0
              opacity 0.3

    &.recomend-charts-block
      padding 0px 30px 0
      .block-head
        .title
          color #000

        .description
          color rgba(0,0,0,0.7)
      .recomend-chart-item
        padding 0 90px 0 150px
        box-sizing border-box
        position relative
        font-size 15px
        cursor pointer

        .chart-title
          position absolute
          left 0
          top 17px
          height 26px
          line-height 26px
          padding 0 10px
          border-radius 4px
          color #fff
          background #000
          font-family 'AvenirNextMedium', arial
          max-width 125px
          overflow ellipsis

        .chart-info
          width 100%
          height 60px

          & > div
            width 33.3%
            opacity 0.4
            height 60px
            line-height 60px
            float left
            font-family 'AvenirNextRegular', arial
            box-sizing border-box
            padding-right 10px
            overflow ellipsis

          .title
            opacity 1
            font-family 'AvenirNextMedium', arial

        .duration
          position absolute
          right 0
          top 0
          height 60px
          line-height 60px
          font-family 'AvenirNextMedium', arial
          opacity 0.4

  .clips-wrapper
    padding: 20px 30px 0;
    .recomend-block-wrapp
      .block-content
        height 370px
        text-align justify
        /* Обнуляем для родителя*/
        line-height 0
        font-size 1px /* 1px для Opera */

        /* Лекарство для IE6-7*/
        text-justify newspaper
        zoom 1

        &:after
          width 100%
          height 0
          visibility hidden
          overflow hidden
          content ''
          display inline-block

        .recomend-video-item
          margin-bottom 69px
          display inline-block
          line-height normal
          /* Востанавливаем у потомков, кроме последнего*/
          font-size 15px

          /* Без него в Opera будет отступ под элементами */
          vertical-align top

          /* эмуляция inline-block для IE6-7*/
          //display  inline
          //zoom  1

          &:first-child
            float left
            margin-right 56px

            .img
              width 456px
              height 320px
              background-size 580px auto

              @media screen and (min-width: 1440px)
                width 680px
                background-size 680px auto

            p
              width 456px

              @media screen and (min-width: 1440px)
                width 680px

          .img
            width 200px
            height 112px
            background-size cover
            background-position center
          p
            margin 10px 0 0 0
            font-size 15px
            color #fff
            width 200px
            overflow ellipsis

  .artist-popular-wrapper
    box-sizing border-box
    padding 20px 30px 0

    text-align justify
    /* Обнуляем для родителя*/
    line-height 0
    font-size 1px /* 1px для Opera */

    /* Лекарство для IE6-7*/
    text-justify newspaper
    zoom 1

    &:after
      width 100%
      height 0
      visibility hidden
      overflow hidden
      content ''
      display inline-block

    .recomend-artist-popular-item
      width 200px
      margin-bottom 27px

      display inline-block
      line-height normal
      /* Востанавливаем у потомков, кроме последнего*/
      font-size 13px

      /* Без него в Opera будет отступ под элементами */
      vertical-align top

      /* эмуляция inline-block для IE6-7*/
      //display  inline
      //zoom  1

      &.active
        .controll
          .elements
            .player-controll
              display block

      &.pause
        .controll
          .elements
            .player-controll
              background-size auto 400px
              background-position  -257px -241px

              &:hover
                background-position -172px -241px

      .controll
        width 200px
        height 200px
        position relative

        &:after
          display none
          content " "
          position absolute
          width 200px
          height 200px
          background rgba(0,0,0,0.85)
          top 0
          left 0

        &:hover
          &:after
            display block

          .elements
            z-index 2
            .move
            .options
            .player-controll
              display block
        img
          width 100%

        .elements
          height 80px
          width 200px
          position absolute
          top 50%
          margin-top -40px
          z-index 1

          & > div
            cursor pointer

          .move
            position absolute
            left 10px
            top 20px
            display none

            &.add
              move-icon()
            &.delete
              move-icon()
              transform rotate(45deg)

          .options
            right 10px
            top 20px
            position absolute
            display none
            options-icon()

            .options-wrapper
              240px

          .player-controll
            width 80px
            height 80px
            margin 0 auto
            background url("/img/basic/Resources.svg")
            background-size auto 400px
            background-position  -257px -111px
            display none

            &:hover
              background-position -172px -111px


      .info
        & > div
          overflow ellipsis
          font-size 15px

          &:hover
            cursor pointer
            text-decoration underline

        .title
          font-family 'AvenirNextMedium', arial
          margin-top 8px
          color #fff

        .release
          color rgba(255,255,255,0.3)
          font-family 'AvenirNextRegular', arial
