// video player style

.video-overlay
  position fixed
  width 100%
  height 100%
  left 0
  top 0
  background rgba(0,0,0,0.9)
  z-index 1000000

  .frame-window
    top 50%
    left 50%
    position fixed
    margin-left -380px
    margin-top -217px

    .video-title
      font-size 30px
      color #fff
      font-family 'AvenirNextMedium', arial
