.prompt-overlay
    width 100%
    height 100%
    position fixed
    left 0
    top 0
    z-index 10000
    
    .prompt-window
        width 400px
        border-radius 6px
        box-sizing border-box
        padding 14px 30px 14px 36px
        background #fff
        position absolute
        top 20px
        right 20px
        box-shadow 0 10px 60px rgba(0,0,0,0.4)
        
        p
        h1
            margin 0
            paddign 0
            
        h1
            font-size 24px
            font-family 'avenirNextRegular', arial
            font-weight normal
            
        p
            font-size 15px
            color rgba(0,0,0,0.3)
            font-family 'avenirNextMedium', arial
            
        input
            margin 11px 0 0 0
            color #000
            font-size 37px
            border none
            outline none
            background none
            font-family 'avenirNextRegular', arial
        
         .submit-prompt
             button()
             margin-bottom 20px
             margin-top 14px
             text-align center
             width 132px
             cursor pointer
             display none
        
        .close
            width 30px
            height 30px
            background url("/img/basic/Resources.svg")
            background-size auto 400px
            background-position  -119px -291px
            position absolute
            right 10px
            top 10px
            opacity 0.4
            
            &:hover
                opacity 1
                cursor pointer