//tracks styles

.tracks-wrapper

  .track-item
    box-sizing border-box
    padding-right 85px
    position relative
    height 60px
    cursor pointer
    padding-left 30px

    &.disable
      background none!important
      cursor default
      opacity 0.2

      .controll-element
        display none

      .label
        .title
          color #8f8f8f!important

    &.play
      div.controll-element
        track-play-icon-black()

    &.pause
      div.controll-element
        track-pause-icon-black()

    &:hover
      background #F8F8F8

      .info
        .options
          display block

        .time
          display none

      .controll-element
        track-play-icon-black()
        position absolute
        left 10px
        top 23px

    &.user-track
      &.play
        div.controll-element
          track-play-icon-white()

      &.pause
        div.controll-element
          track-pause-icon-white()

      &:hover
        background #18181A

        .controll-element
          track-play-icon-white()
          position absolute
          left 10px
          top 23px

      .label
        .title
          color #fff

        .artist
          color #8F8F8F

      .info .options

        .track-controll
          width 40px
          height 40px

          &.add
            move-icon()
          &.delete
            move-icon()
            transform rotate(45deg)

        .more-options
          options-icon()

    .controll-element
      position absolute
      left 10px
      top 23px

    .label
      clearfix()
      width 100%
      overflow hidden

      & > div
        width 33%
        float left
        overflow ellipsis
        box-sizing border-box
        padding-right 10px
        font-size 15px
        line-height 60px

      .title
        color #000
        font-family 'AvenirNextMedium', arial

      .artist
        color #8F8F8F
        font-family 'AvenirNextRegular', arial
      
      .album
        color #8F8F8F
        font-family 'AvenirNextRegular', arial

        & span:hover
          text-decoration underline
    .info
      width 85px
      position absolute
      right 30px
      top 0

      .time
        font-size 15px
        font-family 'AvenirNextRegular', arial
        color #8F8F8F
        line-height 60px
        text-align right

      .options
        heigth 40px
        padding-top 10px
        display none

        & > div
          float left
          position relative

        .track-controll
          width 40px
          height 40px

          &.add
            move-black-icon()

          &.delete
            move-black-icon()
            transform rotate(45deg)

        .playlist-track-controll
          width 40px
          height 40px
          move-icon()
          transform rotate(45deg)

        .more-options
          options-black-icon()
          position relative