doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Слушать бесплатно музыку онлайн, музыка в формате mp3, слушать бесплатно новинки музыки, новые песни, сборник музыки 2015
        meta(name="title" content="Слушать бесплатно музыку онлайн, музыка в формате mp3, слушать бесплатно новинки музыки, новые песни, сборник музыки 2015")
        meta(name="description" content="Все новинки музыки. Слушать бесплатно новые песни, сборники музыки 2015 года в mp3 формате")
        meta(content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes" name="viewport")
        link(rel="stylesheet" href="/pack/styles/wave.css")
        script(type="text/javascript" src="/pack/scripts/wave.js")
    body
        div.wrapper
            div.header
                img(src="/img/wave/logo-volna.png")

            .content
                .quote-wrapp
                    .quote.first
                        h1 Музыка <span>одной</span><br>кнопкой. Бесплатно
                        h2 Не ищите музыку и не тратьте время.<br>Просто нажмите кнопку «Play»<br>и занимайтесь своими делами.
                        //- p Посмотрите как это работает
                        //-     i.play

                .quote-wrapp
                    .quote.second
                        h1 Все просто!
                        h2 Проще не было никогда.<br>Скачайте бесплатное<br>приложение для <a href="#">iOS</a> или <a href="#">Android</a>
                        .apps-block(style="margin: 20px 0 0 0;")
                            a.ios(href="https://itunes.apple.com/ru/app/bilajn.volna/id1024976971?l=en&mt=8")
                                img(src="/img/wave/store-apple.svg")
                            a.android(href="https://play.google.com/store/apps/details?id=com.beeline.wave")
                                img(src="/img/wave/store-google.svg")

                .quote-wrapp
                    .quote.third
                        h1 Далее
                        h2 При первом запуске мы изучим ваши<br>предпочтения и предложим<br>музыкальную волну
                        p Музыкальная волна — это набор треков, который<br>подбирается и улучшается на основе ваших<br> вкусов и предпочтений. Чем больше вы<br>пользуетесь приложением, тем точнее подборка 

                img.promo1(src="/img/wave/pic1.jpg")
                
                .quote-wrapp
                    .quote.four
                        h1 Готово
                        h2 Можете отложить телефон —<br>он сам позаботится о музыке.
                        p Волна будет проигрывать треки автоматически.<br>Любимые треки вы можете добавить в «Избранное»,<br> а для того чтобы слушать их без подключения<br>к интернету, достаточно скачать их в память устройства.

                .service-promo
                    .phone
                        video(src="http://music.beeline.ru/public/video/volna_showreel.mp4" loop autoplay).volna-video
                        

                .quote-wrapp
                    .quote.five
                        h1 Совершенно <span>бесплатно!</span>
                        h2 Слушайте без Wi-fi — трафик через<br>мобильную сеть Билайн (3G и LTE)<br>не тарифицируется и не расходуется

                img.promo2(src="/img/wave/pic3.jpg")

                .quote-wrapp
                    .quote.six
                        p Приложение доступно для абонентов Билайн,<br>с телефонами и планшетами на базе iOS и Android
                    .apps-block
                        a.ios(href="https://itunes.apple.com/ru/app/bilajn.volna/id1024976971?l=en&mt=8")
                            img(src="/img/wave/store-apple.svg")
                        a.android(href="https://play.google.com/store/apps/details?id=com.beeline.wave")
                            img(src="/img/wave/store-google.svg")
                
            div.footer
                .footer-wrapp
                    img(src="/img/wave/logo-volna-white.png").logo
                    img(src="/img/wave/beeline-logo.png").beeline-logo
                    .cr Билайн © 2015

            .hands
                img.ios(src="/img/wave/phone1.jpg")
                img.android(src="/img/wave/phone2.jpg")