// user tracks page styles

.user-tracks-page-wrapp
  box-sizing border-box
  position relative
  padding-top 100px  
  width 1024px
  margin 0 auto

  @media screen and (min-width: 1440px)
    width 1225px

  .list
    width 290px
    top 0
    padding-top 100px
    position fixed
    z-index 3

    &.edit
      &:after
        display block
        content " "
        width 100%
        height 3000px
        background rgba(0,0,0,0.85)
        position fixed
        left 0
        top 0
        z-index 100000

    &:hover
      cursor pointer

    & > p
      margin 0
      height 60px
      line-height 60px
      font-size 12px
      font-family 'AvenirNextMedium', arial
      padding-left 28px
      color #FEDA24
      text-transform uppercase

    .list-item
      height 60px
      box-sizing border-box
      position relative
      padding-left 78px
      padding-right 10px

      p
        line-height 60px
        font-size 15px
        font-family 'AvenirNextMedium', arial
        color #5A5A5A
        margin 0
        padding 0
        overflow ellipsis
        position relative

      img
        width 40px
        height 40px
        border-radius 40px
        position absolute
        left 28px
        top 10px

      &.active
        background #202022
        border-radius 8px
        padding-right 22px
        p
          color #fff

        &:after
          content " "
          display block
          position absolute
          width 9px
          height 16px
          background url("/img/basic/Resources.svg")
          background-size auto 400px
          background-position  -108px -613px
          right 10px
          top 22px
    
    .all-tracks
      &.active
        &:before
          opacity 1

      &:before
        content " "
        display block
        position absolute
        width 40px
        height 40px
        background url("/img/basic/Resources.svg")
        background-size auto 400px
        background-position  -102px -641px
        left 28px
        top 10px
        opacity: 0.3

    .create-playlist
      &.edit
        position relative
        z-index 100001
        background #19191a
        padding-right 10px!important

        p
          input
            color #fff
            background none
            outline none
            border none
            width 100%

      &:before
        content " "
        display block
        position absolute
        width 40px
        height 40px
        background url("/img/basic/Resources.svg")
        background-size auto 400px
        background-position -12px -641px
        left 28px
        top 10px


    .user-playlist-item
      &.edit
        position relative
        z-index 100001
        background #19191a
        padding-right 10px!important

        &:after
          display none

      &:hover
        p
          color #fff

      input
        background none
        outline none
        border none
        width 100%


    .play-list-container
      padding-left 0
      margin 0
      overflow hidden
  
      .container
        height 100%
        width 100%
        
      .overview
        width 100%
        
      .scrollable
        &.edit
          &:after
            display block
            content " "
            width 100%
            height 3000px
            background rgba(0,0,0,0.85)
            position fixed
            left 0
            top 0
            z-index 100000
      
  .user-tracks-wrapp
    padding-left 300px
    margin 0 auto
    max-width 1300px
    .shuffle
      shuffle-track-button()
      margin 10px auto

    .search
      position relative
      height 60px

      input
        height 30px
        line-height 30px
        font-size 20px
        color #fff
        font-family 'AvenirNextRegular', arial
        width 100%
        background none
        outline none
        border none
        padding-left 78px
        box-sizing border-box
        margin-top 15px

        &::-webkit-input-placeholder
          color:#474747
        &::-moz-placeholder
          color:#474747
        &:-moz-placeholder
          color:#474747
        &:-ms-input-placeholder
          color:#474747


      &:after
        display block
        content " "
        position absolute
        width 28px
        height 27px
        background url("/img/basic/Resources.svg")
        background-size auto 400px
        background-position -181px -205px
        left 25px
        top 15px
        opacity 0.2


.user-playlist-page
  padding-top 270px

  .playlist-head-wrapp
    position fixed
    z-index 2
    top 0
    width 100%
    box-sizing border-box
    padding-left 300px
    width 1024px

    @media screen and (min-width: 1440px)
      width 1225px

    .playlist-head-container
      background-position center
      background-size cover
      width 100%
      position relative

      &:after
        position absolute
        width 100%
        height 100%
        background rgba(0,0,0,0.6)
        content " "
        display block
        left 0
        top 0

      .playlist-head
        /*overflow hidden*/
        position relative
        z-index 1
        margin 0 auto
        height 370px

        .playlist-options
          options-icon()
          position absolute
          right 30px
          bottom 50px
          .options-overlay
            position fixed
            width 100%
            height 100%
            left 0
            top 0
            z-index 1

          .options-list
            position relative


            .options-body
              z-index 2
              position absolute
              right -20px
              top 50px
              background #fff
              border-radius 8px
              margin 0
              padding 0
              width 280px

              &:after
                display block
                content " "
                border-width 12.5px
                border-style solid
                border-color transparent transparent #fff
                position absolute
                top -24px
                right 27px
                z-index 2

              &:before
                display block
                content " "
                width 100%
                position absolute
                height 60px
                top -60px
                left 0

              li
                cursor pointer
                list-style none
                height 50px
                line-height 50px
                font-size 15px
                color #8F8F8F
                padding-left 20px
                margin 0
                font-family 'AvenirNextMedium', arial

                &:hover
                  background #F8F8F8
                  color #000

                &:first-child
                  border-radius 8px 8px 0 0

                &:last-child
                  border-radius 0 0 8px 8px

                &.is-public
                  &.public
                    position relative
                    padding-left 45px
                    box-sizing border-box
                    color #000

                    &:after
                      display block
                      content " "
                      width 20px
                      height 20px
                      background url("/img/basic/Resources.svg")
                      background-size auto 56px
                      background-position -50px -20px
                      position absolute
                      left 20px
                      top 15px


              .playlist-delete-confirm
                img
                  width 136px
                  height 136px
                  position absolute
                  left 50%
                  margin-left -68px
                  top 38px
                  border-radius 136px

                p
                  margin 0
                  padding 0 0 117px 0
                  text-align center
                  font-size 22px
                  font-family 'AvenirNextRegular', arial

                h1
                  font-weight normal
                  font-size 22px
                  font-family 'AvenirNextMedium', arial
                  padding 195px 20px 0
                  margin 0
                  text-align center
                  box-sizing border-box
                  overflow ellipsis

                .buttons
                  font-size 20px
                  position absolute
                  width 100%
                  bottom 0
                  left 0
                  box-sizing border-box
                  padding 0 25px 20px
                  font-family 'AvenirNextRegular', arial

                  .cancel
                    color #000
                    float left
                    cursor pointer

                  .delete
                    color #FFB612
                    cursor pointer
                    float right

        .gradient
          height 370px
          width 100%
          position absolute
          bottom 0
          left 0
          background: -moz-linear-gradient(top,  rgba(17,17,18,0) 0%, rgba(17,17,18,1) 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,17,18,0)), color-stop(100%,rgba(17,17,18,1)))
          background: -webkit-linear-gradient(top,  rgba(17,17,18,0) 0%,rgba(17,17,18,1) 100%)
          background: -o-linear-gradient(top,  rgba(17,17,18,0) 0%,rgba(17,17,18,1) 100%)
          background: -ms-linear-gradient(top,  rgba(17,17,18,0) 0%,rgba(17,17,18,1) 100%)
          background: linear-gradient(to bottom,  rgba(17,17,18,0) 0%,rgba(17,17,18,1) 100%)

        .info
          position absolute
          bottom 10px
          width 100%

          & > span
            font-size 12px
            color #FFB612
            font-family 'AvenirNextMedium', arial
            text-align center
            display block
            text-transform uppercase

          h1
            font-weight normal
            font-family 'AvenirNextMedium', arial
            font-size 60px
            text-align center
            color #fff
            margin 12px 0 0 0
            width 680px
            margin 0 auto


          .author-wrapp
            margin 10px auto 0
            font-size 15px
            font-family 'AvenirNextMedium', arial
            color #C5C5C5
            height 30px

            .subscribe
              text-align center
              & > span
                color #FFB612

            .release
              float right

          .shuffle-track
            margin 21px auto 0
            shuffle-track-button()

            &.disable
              opacity 0

  .playlist-content-wrapp
    padding-left 300px
    .content
      .tracks-wrapper
        margin 0 auto
        max-width 1300px

    .empty-playlist-layout
      .redirect-block
        width 350px
        text-align center
        position relative
        margin 23px auto 0
        line-height 40px
        height 40px
        color #3D3D3D

        .to-my-tracks
          button(150px)
          position absolute
          left 0
          cursor pointer

        .to-recomend
          button(150px,#3C3C3C)
          position absolute
          right 0
          cursor pointer
          color #fff

      .how-to-add
        font-size 15px
        font-family 'AvenirNextMedium', arial
        color #303030
        width 530px
        margin 225px auto 0

      p
        color #3D3D3D
        text-align center
        margin-top 120px
        font-family AvenirNextRegular, arial
        font-size 18px
