//artist styles

.artists-wrapper
  box-sizing border-box
  padding 20px 30px 0

  text-align justify
  /* Обнуляем для родителя*/
  line-height 0
  font-size 1px /* 1px для Opera */

  /* Лекарство для IE6-7*/
  text-justify newspaper
  zoom 1

  &:after
    width 100%
    height 0
    visibility hidden
    overflow hidden
    content ''
    display inline-block

  .artist-item
    width 200px
    cursor pointer
    margin-bottom 27px

    display inline-block
    line-height normal
    /* Востанавливаем у потомков, кроме последнего*/
    font-size 13px

    /* Без него в Opera будет отступ под элементами */
    vertical-align top

    /* эмуляция inline-block для IE6-7*/
    //display  inline
    //zoom  1
    .controll
      width 200px
      height 200px

      img
        width 100%
        border-radius 200px

    .info
      .title
        font-family 'AvenirNextMedium', arial
        margin-top 8px
        text-align center
        overflow ellipsis