// slider style
.slider-update
.slider-loader
  height 355px

  @media screen and (min-height: 800px)
    height 500px

.slider-cut
  overflow hidden
  position relative
  cursor pointer

  .slider-wrapper
    width 825px
    margin 0 auto
    height 100px
    @media screen and (min-height: 800px)
      width 1160px

    .slider-scroll
      margin 0
      padding 0

      li
        margin 0 5px 0 0
        padding 0
        width 825px
        height 355px
        float left
        list-style none

        @media screen and (min-height: 800px)
          width 1160px
          height 500px

        img
          width 100%