//loader styles
.loader
  width 32px
  height 32px
  position relative
  margin 0 auto

.loader:after
  content " "
  display block
  width 100%
  height 100%
  background #F9C300
  border-radius 50%
  position absolute
  animation-name mymove
  animation-duration 1s
  animation-iteration-count infinite
  animation-timing-function cubic-bezier(.1,.94,.09,.95)